Repository nextauthjs/next-auth, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balazsorban44, @ThangHuuVu, @ndom91, @ubbe-xyz

chore: fix qwik pnpm-lock (#11755)
  apps/examples/qwik/pnpm-lock.yaml
Owners: @ubbe-xyz, @ndom91, @ThangHuuVu

fix: broken import paths
  apps/examples/qwik/src/components/header/header.tsx
  apps/examples/qwik/src/routes/layout.tsx
Owners: @ubbe-xyz, @ndom91, @ThangHuuVu

chore(qwik): fix broken import paths (#11756)
  apps/examples/qwik/src/components/header/header.tsx
  apps/examples/qwik/src/routes/layout.tsx
Owners: @ubbe-xyz, @ndom91, @ThangHuuVu

chore: solid-start example cleanup
  apps/examples/solid-start/package.json
  apps/examples/solid-start/src/components/NavBar/NavBar.tsx
  apps/examples/solid-start/src/components/Protected/Protected.tsx
  apps/examples/solid-start/src/routes/api/auth/[...solidauth].ts
  apps/examples/solid-start/src/routes/index.tsx
Owners: @ubbe-xyz, @ndom91, @ThangHuuVu

chore: solid-start example cleanup (#11757)
  apps/examples/solid-start/package.json
  apps/examples/solid-start/src/components/NavBar/NavBar.tsx
  apps/examples/solid-start/src/components/Protected/Protected.tsx
  apps/examples/solid-start/src/routes/api/auth/[...solidauth].ts
  apps/examples/solid-start/src/routes/index.tsx
Owners: @ubbe-xyz, @ndom91, @ThangHuuVu

fix: cleanup qwik / solid-start package.json
  packages/frameworks-qwik/package.json
  packages/frameworks-solid-start/package.json
Owners: @ThangHuuVu

fix: rm contributors
  packages/frameworks-qwik/package.json
  packages/frameworks-solid-start/package.json
Owners: @ThangHuuVu

chore: cleanup solid-start `package.json` (#11758)
  packages/frameworks-solid-start/package.json
Owners: @ThangHuuVu

chore: solid-start-example pnpm-lock.yaml
  apps/examples/solid-start/pnpm-lock.yaml
Owners: @ubbe-xyz, @ndom91, @ThangHuuVu

chore: fix `solid-start-example` `pnpm-lock.yaml` (#11759)
  apps/examples/solid-start/pnpm-lock.yaml
Owners: @ubbe-xyz, @ndom91, @ThangHuuVu

:sparkles: NEW: remult adapter
  .github/ISSUE_TEMPLATE/3_bug_adapter.yml
  .github/pr-labeler.yml
  .github/workflows/release.yml
  docs/pages/data/manifest.json
  docs/pages/getting-started/adapters/_meta.js
  docs/pages/getting-started/adapters/remult.mdx
  docs/public/img/adapters/remult.svg
  packages/adapter-remult/README.md
  packages/adapter-remult/package.json
  packages/adapter-remult/src/entities.ts
  packages/adapter-remult/src/index.ts
  packages/adapter-remult/test/index.test.ts
  packages/adapter-remult/test/test.sh
  packages/adapter-remult/tsconfig.json
  packages/adapter-remult/typedoc.config.cjs
  pnpm-lock.yaml
  turbo.json
Owners: @ThangHuuVu, @ndom91, @ubbe-xyz, @balazsorban44

chore: e2e
  package.json
  packages/utils/playwright.config.ts
Owners: @balazsorban44, @ThangHuuVu

chore: e2e optimize
  packages/utils/playwright.config.ts
Owners: @ThangHuuVu

chore: e2e optimize
  packages/utils/playwright.config.ts
Owners: @ThangHuuVu

Update NavBar.tsx
  apps/examples/solid-start/src/components/NavBar/NavBar.tsx
Owners: @ubbe-xyz, @ndom91, @ThangHuuVu

attempt to fix e2e
  apps/dev/nextjs/package.json
  package.json
  packages/core/package.json
  packages/utils/playwright.config.ts
  turbo.json
Owners: @ubbe-xyz, @ndom91, @ThangHuuVu, @balazsorban44

Update turbo.json
  turbo.json
Owners: @balazsorban44

Update release.yml
  .github/workflows/release.yml
Owners: @ThangHuuVu, @ndom91

Got test to work
  packages/adapter-remult/src/entities.ts
  packages/adapter-remult/src/index.ts
  packages/adapter-remult/test/index.test.ts
  packages/adapter-remult/test/test.sh
  pnpm-lock.yaml
Owners: @ndom91, @ubbe-xyz, @balazsorban44

✅ test 22/22
  packages/adapter-remult/src/entities.ts
  packages/adapter-remult/src/index.ts
  packages/adapter-remult/test/index.test.ts
  packages/adapter-remult/test/test.sh
Owners: @ndom91, @ubbe-xyz

entities options
  packages/adapter-remult/src/index.ts
  packages/adapter-remult/test/index.test.ts
Owners: @ndom91, @ubbe-xyz

:pencil2: UPDATE: doc & tests clean
  docs/pages/getting-started/adapters/remult.mdx
  packages/adapter-remult/src/index.ts
  packages/adapter-remult/test/index.test.ts
Owners: @ubbe-xyz, @ndom91

last eye
  .github/workflows/release.yml
  packages/adapter-remult/typedoc.config.cjs
Owners: @ThangHuuVu, @ndom91, @ubbe-xyz

update link
  docs/pages/getting-started/adapters/remult.mdx
Owners: @ubbe-xyz, @ndom91

chore(docs): improve `get-session` section
  docs/pages/getting-started/session-management/get-session.mdx
Owners: @ubbe-xyz, @ndom91

chore: add file extensions
  docs/pages/getting-started/session-management/get-session.mdx
Owners: @ubbe-xyz, @ndom91

docs: move eventbrite.svg
  docs/public/img/providers/eventbrite.svg
Owners: @ubbe-xyz, @ndom91

docs: move wechat.svg
  docs/public/img/providers/wechat.svg
  docs/static/img/providers/wechat.svg
Owners: @ubbe-xyz, @ndom91

fix(providers): fix Eventbrite config
  docs/public/img/providers/eventbrite.svg
  packages/core/src/providers/eventbrite.ts
Owners: @ubbe-xyz, @ndom91, @ThangHuuVu

chore: format
  apps/examples/solid-start/src/components/NavBar/NavBar.tsx
Owners: @ubbe-xyz, @ndom91, @ThangHuuVu

Apply suggestions from code review
  docs/pages/getting-started/session-management/get-session.mdx
Owners: @ubbe-xyz, @ndom91

chore(docs): improve `get-session` section (#11764)
  docs/pages/getting-started/session-management/get-session.mdx
Owners: @ubbe-xyz, @ndom91

Delete docs/package-lock.json
  docs/package-lock.json
Owners: @ubbe-xyz, @ndom91

docs: add `FrameworkLink` component (#11721)
  docs/components/FrameworkLink/index.tsx
  docs/pages/getting-started/index.mdx
Owners: @ubbe-xyz, @ndom91

chore: update code for latest React version
  docs/pages/getting-started/authentication/credentials.mdx
Owners: @ubbe-xyz, @ndom91

chore: remove unused React imports
  docs/pages/getting-started/authentication/credentials.mdx
Owners: @ubbe-xyz, @ndom91

chore: update code for latest React version
  docs/pages/getting-started/authentication/email.mdx
Owners: @ubbe-xyz, @ndom91

Update refresh-token-rotation.mdx
  docs/pages/guides/refresh-token-rotation.mdx
Owners: @ubbe-xyz, @ndom91

fix: remove duplicated search bar in mobile menu
  docs/components/DocSearch/wrapper.tsx
  docs/pages/global.css
Owners: @ubbe-xyz, @ndom91

chore(types): refactored params in sendVerificationRequest to an exported type
  packages/core/src/providers/email.ts
Owners: @ThangHuuVu

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                     @balazsorban44
.github               @ThangHuuVu @ndom91
/apps/                @ubbe-xyz @ndom91 @ThangHuuVu
/docs/                @ubbe-xyz @ndom91
/packages/            @ThangHuuVu
/packages/adapter-*/  @ndom91
/**/*test*            @ubbe-xyz
/**/*type*            @ubbe-xyz
