Repository nextauthjs/next-auth, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balazsorban44, @ThangHuuVu, @ndom91, @ubbe-xyz

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                     @balazsorban44
.github               @ThangHuuVu @ndom91
/apps/                @ubbe-xyz @ndom91 @ThangHuuVu
/docs/                @ubbe-xyz @ndom91
/packages/            @ThangHuuVu
/packages/adapter-*/  @ndom91
/**/*test*            @ubbe-xyz
/**/*type*            @ubbe-xyz

Update docs/pages/guides/pages/error.mdx
  docs/pages/guides/pages/error.mdx
Owners: @ubbe-xyz, @ndom91

chore(docs): cleanup `error.mdx` (#11657)
  docs/pages/guides/pages/error.mdx
Owners: @ubbe-xyz, @ndom91

docs: Update foursquare.mdx
  docs/pages/getting-started/providers/foursquare.mdx
Owners: @ubbe-xyz, @ndom91

chore(docs): Run `pnpm format:write`
  docs/pages/guides/pages/error.mdx
Owners: @ubbe-xyz, @ndom91

chore(docs): update foursquare.mdx links (#11707)
  docs/pages/getting-started/providers/foursquare.mdx
Owners: @ubbe-xyz, @ndom91

chore(docs): Run `pnpm format:write` (#11708)
  docs/pages/guides/pages/error.mdx
Owners: @ubbe-xyz, @ndom91

chore: Add lefthook for pre-commit formatting
  lefthook.yml
  package.json
  pnpm-lock.yaml
Owners: @balazsorban44

chore(docs): add solidstart example app
  docs/components/Guides/index.tsx
Owners: @ubbe-xyz, @ndom91

chore: rename `Solid` to `SolidStart`
  docs/components/Guides/index.tsx
Owners: @ubbe-xyz, @ndom91

fixes typo in integrating-third-party-backends.mdx
  docs/pages/guides/integrating-third-party-backends.mdx
Owners: @ubbe-xyz, @ndom91

chore(docs): fixes typo in integrating-third-party-backends.mdx (#11720)
  docs/pages/guides/integrating-third-party-backends.mdx
Owners: @ubbe-xyz, @ndom91

feat: add `FrameworkLink` component
  docs/components/FrameworkLink/index.tsx
  docs/package-lock.json
  docs/pages/getting-started/index.mdx
Owners: @ubbe-xyz, @ndom91

chore(docs): add examples for built-in pages
  docs/pages/guides/pages/built-in-pages.mdx
Owners: @ubbe-xyz, @ndom91

chore: clean up built-in-pages section
  docs/pages/guides/pages/built-in-pages.mdx
Owners: @ubbe-xyz, @ndom91

Add cookie documentation migrating-to-v5.mdx
  docs/pages/getting-started/migrating-to-v5.mdx
Owners: @ubbe-xyz, @ndom91

add mailgun provider
  docs/pages/getting-started/providers/mailgun.mdx
  docs/public/img/providers/mailgun.svg
  packages/core/src/providers/mailgun.ts
Owners: @ubbe-xyz, @ndom91, @ThangHuuVu

Update protecting.mdx
  docs/pages/getting-started/session-management/protecting.mdx
Owners: @ubbe-xyz, @ndom91

add caveat for stateless session when using db providers
  docs/pages/concepts/session-strategies.mdx
Owners: @ubbe-xyz, @ndom91

chore(docs): add caveat for stateless session when using db providers (#11733)
  docs/pages/concepts/session-strategies.mdx
Owners: @ubbe-xyz, @ndom91

formatting
  docs/pages/getting-started/migrating-to-v5.mdx
Owners: @ubbe-xyz, @ndom91

docs: add cookies section in v5 migration (#11722)
  docs/pages/getting-started/migrating-to-v5.mdx
Owners: @ubbe-xyz, @ndom91

feat: new flatconfig eslint.config.js
  eslint.config.mjs
Owners: @balazsorban44

fix: bump eslint and plugins/configs
  package.json
  pnpm-lock.yaml
Owners: @balazsorban44

fix: add utils/tsconfig.eslint.json for eslint top-level config
  eslint.config.mjs
  packages/utils/tsconfig.eslint.json
Owners: @balazsorban44, @ThangHuuVu

fix: allow node22 in root package.json "engines"
  package.json
Owners: @balazsorban44

fix: eslint runnign successfully
  eslint.config.mjs
Owners: @balazsorban44

fix: eslint errors in framework-sveltekit
  packages/frameworks-sveltekit/src/lib/index.ts
  packages/next-auth/src/lib/env.ts
Owners: @ThangHuuVu

Discard changes to packages/frameworks-sveltekit/src/lib/index.ts
  packages/frameworks-sveltekit/src/lib/index.ts
Owners: @ThangHuuVu

Discard changes to packages/next-auth/src/lib/env.ts
  packages/next-auth/src/lib/env.ts
Owners: @ThangHuuVu

fix: add .gitignore to eslint ignores
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Owners: @balazsorban44

fix: eslint auto fixes
  packages/adapter-d1/src/index.ts
  packages/adapter-dynamodb/src/index.ts
  packages/adapter-pg/src/index.ts
  packages/adapter-sequelize/src/index.ts
  packages/adapter-surrealdb/src/index.ts
  packages/adapter-unstorage/src/index.ts
  packages/core/src/lib/actions/callback/oauth/callback.ts
  packages/core/src/lib/actions/signin/authorization-url.ts
  packages/core/src/lib/utils/assert.ts
  packages/core/src/lib/utils/email.ts
  packages/core/src/lib/utils/env.ts
  packages/core/src/lib/utils/providers.ts
  packages/frameworks-express/src/lib/http-api-adapters.ts
  packages/frameworks-sveltekit/src/lib/index.ts
Owners: @ndom91, @ThangHuuVu

fix: eslint issues
  eslint.config.mjs
  packages/adapter-drizzle/src/lib/mysql.ts
  packages/adapter-fauna/src/index.ts
  packages/adapter-mikro-orm/src/lib/entities.ts
  packages/adapter-pg/src/index.ts
  packages/adapter-pouchdb/src/index.ts
  packages/adapter-prisma/src/index.ts
  packages/adapter-supabase/src/index.ts
  packages/adapter-surrealdb/src/index.ts
  packages/adapter-typeorm/src/utils.ts
  packages/core/src/lib/actions/callback/oauth/checks.ts
  packages/core/src/lib/actions/webauthn-options.ts
  packages/core/src/lib/utils/env.ts
  packages/core/src/lib/utils/logger.ts
  packages/core/src/lib/utils/providers.ts
  packages/core/src/providers/foursquare.ts
  packages/core/src/providers/notion.ts
  packages/core/src/providers/tiktok.ts
  packages/core/src/providers/wechat.ts
  packages/frameworks-express/src/lib/http-api-adapters.ts
  packages/frameworks-sveltekit/src/lib/index.ts
  packages/next-auth/src/lib/env.ts
Owners: @balazsorban44, @ndom91, @ubbe-xyz, @ThangHuuVu

fix: more eslint issues and ignore docs/ for now
  eslint.config.mjs
  packages/core/src/providers/osso.ts
  packages/frameworks-qwik/src/index.ts
Owners: @balazsorban44, @ThangHuuVu

fix: eslint setup and migrate to eslint 9+flatconfig (#11749)
  eslint.config.mjs
  package.json
  packages/utils/tsconfig.eslint.json
  pnpm-lock.yaml
Owners: @balazsorban44, @ThangHuuVu

fix: ignore TS inference issue with returning from switch case
  packages/core/src/lib/actions/webauthn-options.ts
Owners: @ThangHuuVu

fix: prettier
  eslint.config.mjs
  packages/adapter-d1/src/index.ts
  packages/adapter-drizzle/src/lib/mysql.ts
  packages/adapter-dynamodb/src/index.ts
  packages/adapter-fauna/src/index.ts
  packages/adapter-pouchdb/src/index.ts
  packages/adapter-sequelize/src/index.ts
  packages/adapter-surrealdb/src/index.ts
  packages/core/src/lib/actions/callback/oauth/callback.ts
  packages/core/src/lib/actions/callback/oauth/checks.ts
  packages/core/src/lib/actions/signin/authorization-url.ts
  packages/core/src/lib/actions/webauthn-options.ts
  packages/core/src/lib/utils/email.ts
  packages/core/src/lib/utils/logger.ts
  packages/frameworks-qwik/src/index.ts
Owners: @balazsorban44, @ndom91, @ThangHuuVu

fix: catch and swallow potential AUTH_URL parsing error
  packages/core/src/lib/utils/env.ts
Owners: @ThangHuuVu

fix: also catch and swallow potential basePath url parse error
  packages/next-auth/src/lib/env.ts
Owners: @ThangHuuVu

fix(eslint): all outstanding eslint/test issues (re:eslint9/flatconfig upgrade) (#11750)
  eslint.config.mjs
  packages/adapter-d1/src/index.ts
  packages/adapter-drizzle/src/lib/mysql.ts
  packages/adapter-dynamodb/src/index.ts
  packages/adapter-fauna/src/index.ts
  packages/adapter-mikro-orm/src/lib/entities.ts
  packages/adapter-pg/src/index.ts
  packages/adapter-pouchdb/src/index.ts
  packages/adapter-prisma/src/index.ts
  packages/adapter-sequelize/src/index.ts
  packages/adapter-supabase/src/index.ts
  packages/adapter-surrealdb/src/index.ts
  packages/adapter-typeorm/src/utils.ts
  packages/adapter-unstorage/src/index.ts
  packages/core/src/lib/actions/callback/oauth/callback.ts
  packages/core/src/lib/actions/callback/oauth/checks.ts
  packages/core/src/lib/actions/signin/authorization-url.ts
  packages/core/src/lib/actions/webauthn-options.ts
  packages/core/src/lib/utils/assert.ts
  packages/core/src/lib/utils/email.ts
  packages/core/src/lib/utils/env.ts
  packages/core/src/lib/utils/logger.ts
  packages/core/src/lib/utils/providers.ts
  packages/core/src/providers/foursquare.ts
  packages/core/src/providers/notion.ts
  packages/core/src/providers/osso.ts
  packages/core/src/providers/tiktok.ts
  packages/core/src/providers/wechat.ts
  packages/frameworks-express/src/lib/http-api-adapters.ts
  packages/frameworks-qwik/src/index.ts
  packages/frameworks-sveltekit/src/lib/index.ts
  packages/next-auth/src/lib/env.ts
Owners: @balazsorban44, @ndom91, @ubbe-xyz, @ThangHuuVu

fix: qwik pnpm-lock
  apps/examples/qwik/pnpm-lock.yaml
Owners: @ubbe-xyz, @ndom91, @ThangHuuVu
