Repository nextauthjs/next-auth, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balazsorban44, @ThangHuuVu, @ndom91, @ubbe-xyz

fix(types): fixed issue with typings that prevented builds
  packages/core/src/providers/loops.ts
Owners: @ThangHuuVu

forgot to reimplement options to facilitate extension of sendVerificationRequest params
  packages/core/src/providers/loops.ts
Owners: @ThangHuuVu

add mailgun to front page
  docs/pages/getting-started/authentication/email.mdx
  docs/pages/getting-started/providers/mailgun.mdx
Owners: @ubbe-xyz, @ndom91

(fix): transactionalId not being passed to sendVerificationRequest func
  packages/core/src/providers/loops.ts
Owners: @ThangHuuVu

chore(docs): add images for official providers
  docs/public/img/providers/bungie.svg
  docs/public/img/providers/osu.svg
  docs/public/img/providers/pipedrive.svg
Owners: @ubbe-xyz, @ndom91

chore: update images
  docs/public/img/providers/osu.svg
  docs/public/img/providers/pipedrive.svg
Owners: @ubbe-xyz, @ndom91

feat: add sponsors page
  docs/docs/sponsors.md
Owners: @ubbe-xyz, @ndom91

fix: sponsors page copy
  docs/docs/sponsors.md
Owners: @ubbe-xyz, @ndom91

fix: tailwindcss -> inline styles
  docs/docs/sponsors.md
Owners: @ubbe-xyz, @ndom91

fix: add blockquote on sponsors page
  docs/docs/sponsors.md
Owners: @ubbe-xyz, @ndom91

chore(docs-v4): add /sponsors page (#11781)
  docs/docs/sponsors.md
Owners: @ubbe-xyz, @ndom91

fix: use anchor tag instead of markdown link
  docs/docs/sponsors.md
Owners: @ubbe-xyz, @ndom91

chore(docs-v4): use anchor tag instead of markdown link (#11783)
  docs/docs/sponsors.md
Owners: @ubbe-xyz, @ndom91

fix: point to internal /sponsors page in footer link
  docs/docusaurus.config.js
Owners: @ubbe-xyz, @ndom91

chore(docs-v4): point to internal `/sponsors` page in footer link (#11784)
  docs/docusaurus.config.js
Owners: @ubbe-xyz, @ndom91

:sparkles: DOC: update
  docs/pages/getting-started/adapters/remult.mdx
  packages/adapter-remult/src/index.ts
  packages/adapter-remult/test/test.sh
Owners: @ubbe-xyz, @ndom91

chore(docs): fix typo in `refresh-token-rotation.mdx` (#11770)
  docs/pages/guides/refresh-token-rotation.mdx
Owners: @ubbe-xyz, @ndom91

fix: style
  docs/pages/getting-started/providers/mailgun.mdx
  docs/pages/getting-started/session-management/get-session.mdx
  packages/core/src/providers/mailgun.ts
Owners: @ubbe-xyz, @ndom91, @ThangHuuVu

tweak
  apps/dev/nextjs/package.json
  package.json
  packages/next-auth/package.json
  packages/next-auth/playwright.config.ts
  pnpm-lock.yaml
Owners: @ubbe-xyz, @ndom91, @ThangHuuVu, @balazsorban44

Update get-session.mdx
  docs/pages/getting-started/session-management/get-session.mdx
Owners: @ubbe-xyz, @ndom91

skip caching
  .github/workflows/release.yml
Owners: @ThangHuuVu, @ndom91

tweak
  package.json
  packages/next-auth/playwright.config.ts
Owners: @balazsorban44, @ThangHuuVu

Update release.yml
  .github/workflows/release.yml
Owners: @ThangHuuVu, @ndom91

Update release.yml
  .github/workflows/release.yml
Owners: @ThangHuuVu, @ndom91

Update turbo.json
  turbo.json
Owners: @balazsorban44

Update release.yml
  .github/workflows/release.yml
Owners: @ThangHuuVu, @ndom91

Update release.yml
  .github/workflows/release.yml
Owners: @ThangHuuVu, @ndom91

Update release.yml
  .github/workflows/release.yml
Owners: @ThangHuuVu, @ndom91

Update auth.config.ts
  apps/dev/nextjs/auth.config.ts
Owners: @ubbe-xyz, @ndom91, @ThangHuuVu

fix: cleanup release.yml and turbo.json passThroughEnv
  .github/workflows/release.yml
  turbo.json
Owners: @ThangHuuVu, @ndom91, @balazsorban44

fix: swap out boringavatars (moved to paid-only)
  apps/dev/nextjs/components/header.tsx
  apps/dev/sveltekit/src/auth.ts
  apps/dev/sveltekit/src/components/header.svelte
  apps/examples/nextjs/components/user-button.tsx
  apps/examples/sveltekit/src/components/header.svelte
  docs/pages/getting-started/session-management/get-session.mdx
Owners: @ubbe-xyz, @ndom91, @ThangHuuVu

fix: prettier
  docs/pages/getting-started/session-management/get-session.mdx
Owners: @ubbe-xyz, @ndom91

chore: swap out boringavatars.com placeholders (#11789)
  apps/dev/nextjs/components/header.tsx
  apps/dev/sveltekit/src/auth.ts
  apps/dev/sveltekit/src/components/header.svelte
  apps/examples/nextjs/components/user-button.tsx
  apps/examples/sveltekit/src/components/header.svelte
  docs/pages/getting-started/session-management/get-session.mdx
Owners: @ubbe-xyz, @ndom91, @ThangHuuVu

fix: enable Keycloak
  apps/dev/nextjs/auth.config.ts
Owners: @ubbe-xyz, @ndom91, @ThangHuuVu

chore(docs): update `signIn` function to use `callbackUrl`
  docs/pages/getting-started/session-management/login.mdx
Owners: @ubbe-xyz, @ndom91

chore: remove `xmlns="http://www.w3.org/2000/svg"` attribute from SVG
  docs/public/img/providers/bungie.svg
  docs/public/img/providers/osu.svg
  docs/public/img/providers/pipedrive.svg
Owners: @ubbe-xyz, @ndom91

chore(docs): add custom signin page for Next.js client side
  docs/pages/guides/pages/signin.mdx
Owners: @ubbe-xyz, @ndom91

chore(docs): add images for official providers (#11778)
  docs/public/img/providers/bungie.svg
  docs/public/img/providers/osu.svg
  docs/public/img/providers/pipedrive.svg
Owners: @ubbe-xyz, @ndom91

Update get-session.mdx
  docs/pages/getting-started/session-management/get-session.mdx
Owners: @ubbe-xyz, @ndom91

fix: bump next and react deps + turbo config tweaks
  apps/dev/nextjs/next-env.d.ts
  apps/dev/nextjs/package.json
  package.json
  pnpm-lock.yaml
  turbo.json
Owners: @ubbe-xyz, @ndom91, @ThangHuuVu, @balazsorban44

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                     @balazsorban44
.github               @ThangHuuVu @ndom91
/apps/                @ubbe-xyz @ndom91 @ThangHuuVu
/docs/                @ubbe-xyz @ndom91
/packages/            @ThangHuuVu
/packages/adapter-*/  @ndom91
/**/*test*            @ubbe-xyz
/**/*type*            @ubbe-xyz
