Repository nextauthjs/next-auth, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balazsorban44, @ThangHuuVu, @ndom91, @ubbe-xyz

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                     @balazsorban44
.github               @ThangHuuVu @ndom91
/apps/                @ubbe-xyz @ndom91 @ThangHuuVu
/docs/                @ubbe-xyz @ndom91
/packages/            @ThangHuuVu
/packages/adapter-*/  @ndom91
/**/*test*            @ubbe-xyz
/**/*type*            @ubbe-xyz

fix: rm prisma and config split from next dev app
  apps/dev/nextjs/auth.config.ts
  apps/dev/nextjs/auth.ts
  apps/dev/nextjs/package.json
  pnpm-lock.yaml
Owners: @ubbe-xyz, @ndom91, @ThangHuuVu, @balazsorban44

fix: rm prisma and config split from next dev app
  apps/dev/nextjs/auth.config.ts
  apps/dev/nextjs/auth.ts
  apps/dev/nextjs/package.json
  pnpm-lock.yaml
Owners: @ubbe-xyz, @ndom91, @ThangHuuVu, @balazsorban44

feat(providers): add Mailgun email provider (#11723)
  docs/pages/getting-started/authentication/email.mdx
  docs/pages/getting-started/providers/mailgun.mdx
  docs/public/img/providers/mailgun.svg
  packages/core/src/providers/mailgun.ts
Owners: @ubbe-xyz, @ndom91, @ThangHuuVu

add debug
  .github/workflows/release.yml
Owners: @ThangHuuVu, @ndom91

tweak config
  packages/next-auth/playwright.config.ts
Owners: @ThangHuuVu

fix(tsconfig): update `extends` property in packages configuration (#11666)
  packages/adapter-azure-tables/tsconfig.json
  packages/adapter-d1/tsconfig.json
  packages/adapter-dgraph/tsconfig.json
  packages/adapter-drizzle/tsconfig.json
  packages/adapter-dynamodb/tsconfig.json
  packages/adapter-edgedb/tsconfig.json
  packages/adapter-fauna/tsconfig.json
  packages/adapter-firebase/tsconfig.json
  packages/adapter-hasura/tsconfig.json
  packages/adapter-kysely/tsconfig.json
  packages/adapter-mikro-orm/tsconfig.json
  packages/adapter-mongodb/tsconfig.json
  packages/adapter-neo4j/tsconfig.json
  packages/adapter-pg/tsconfig.json
  packages/adapter-pouchdb/tsconfig.json
  packages/adapter-prisma/tsconfig.json
  packages/adapter-sequelize/tsconfig.json
  packages/adapter-supabase/tsconfig.json
  packages/adapter-surrealdb/tsconfig.json
  packages/adapter-typeorm/tsconfig.json
  packages/adapter-unstorage/tsconfig.json
  packages/adapter-upstash-redis/tsconfig.json
  packages/adapter-xata/tsconfig.json
  packages/core/tsconfig.json
  packages/frameworks-express/tsconfig.json
  packages/frameworks-qwik/tsconfig.json
  packages/frameworks-solid-start/tsconfig.json
  packages/frameworks-template/tsconfig.json
  packages/next-auth/tsconfig.json
Owners: @ndom91, @ubbe-xyz, @ThangHuuVu

Discard changes to docs/pages/global.css
  docs/pages/global.css
Owners: @ubbe-xyz, @ndom91

Update wrapper.tsx
  docs/components/DocSearch/wrapper.tsx
Owners: @ubbe-xyz, @ndom91

Update wrapper.tsx
  docs/components/DocSearch/wrapper.tsx
Owners: @ubbe-xyz, @ndom91

Update wrapper.tsx
  docs/components/DocSearch/wrapper.tsx
Owners: @ubbe-xyz, @ndom91

fix(docs): resolve merge conflicts
  docs/pages/getting-started/authentication/email.mdx
Owners: @ubbe-xyz, @ndom91

Update email.mdx
  docs/pages/getting-started/authentication/email.mdx
Owners: @ubbe-xyz, @ndom91

tweak config
  apps/dev/nextjs/auth.ts
  packages/core/test/e2e/basic-auth.spec.ts
Owners: @ubbe-xyz, @ndom91, @ThangHuuVu

revert
  apps/dev/nextjs/auth.ts
  packages/core/test/e2e/basic-auth.spec.ts
Owners: @ubbe-xyz, @ndom91, @ThangHuuVu

add env back
  .github/workflows/release.yml
Owners: @ThangHuuVu, @ndom91

change dev command location
  .github/workflows/release.yml
  packages/next-auth/playwright.config.ts
Owners: @ThangHuuVu, @ndom91

change dev command location
  packages/next-auth/playwright.config.ts
Owners: @ThangHuuVu

Update playwright.config.ts
  packages/next-auth/playwright.config.ts
Owners: @ThangHuuVu

Update wrapper.tsx
  docs/components/DocSearch/wrapper.tsx
Owners: @ubbe-xyz, @ndom91

fix: bump nextra deps
  docs/package.json
  docs/theme.config.tsx
  pnpm-lock.yaml
Owners: @ubbe-xyz, @ndom91, @balazsorban44

fix: use tailwind classes to hide searchbar when appropriate
  docs/components/DocSearch/searchInput.tsx
  docs/components/DocSearch/wrapper.tsx
Owners: @ubbe-xyz, @ndom91

fix: prettier
  docs/components/DocSearch/searchInput.tsx
  docs/components/DocSearch/wrapper.tsx
Owners: @ubbe-xyz, @ndom91

fix: prettier
  docs/theme.config.tsx
Owners: @ubbe-xyz, @ndom91

chore(docs): hide searchbar when appropriate (#11795)
  docs/components/DocSearch/searchInput.tsx
  docs/components/DocSearch/wrapper.tsx
  docs/package.json
  pnpm-lock.yaml
Owners: @ubbe-xyz, @ndom91, @balazsorban44

fix: reorganise e2e tests a bit
  packages/core/test/e2e/tests/api/session.spec.ts
  packages/core/test/e2e/tests/providers/credentials.spec.ts
  packages/core/test/e2e/tests/providers/keycloak.spec.ts
  packages/next-auth/playwright.config.ts
Owners: @ubbe-xyz, @ThangHuuVu

fix: pnpm-lock.yaml
  pnpm-lock.yaml
Owners: @balazsorban44

added descope provider changes and widget doc reference
  apps/dev/nextjs/.env.local.example
  docs/pages/getting-started/providers/descope.mdx
  packages/core/src/providers/descope.ts
Owners: @ubbe-xyz, @ndom91, @ThangHuuVu

added changes to mdx
  packages/core/src/providers/descope.ts
Owners: @ThangHuuVu

Update playwright.config.ts
  packages/next-auth/playwright.config.ts
Owners: @ThangHuuVu

Update package.json
  apps/dev/nextjs/package.json
Owners: @ubbe-xyz, @ndom91, @ThangHuuVu

Update keycloak.spec.ts
  packages/core/test/e2e/tests/providers/keycloak.spec.ts
Owners: @ubbe-xyz

skip test
  apps/dev/nextjs/next-env.d.ts
  packages/core/test/e2e/tests/providers/keycloak.spec.ts
Owners: @ubbe-xyz, @ndom91, @ThangHuuVu

Pass `formData` to signIn() in custom sign-in page docs
  docs/pages/guides/pages/signin.mdx
Owners: @ubbe-xyz, @ndom91

test optimize
  packages/core/test/e2e/fixtures/webApp.ts
  packages/core/test/e2e/tests/providers/keycloak.spec.ts
Owners: @ubbe-xyz

test env
  turbo.json
Owners: @balazsorban44

Update turbo.json
  turbo.json
Owners: @balazsorban44

rearrange tests
  packages/next-auth/test/e2e/fixtures/auth.ts
  packages/next-auth/test/e2e/fixtures/webApp.ts
  packages/next-auth/test/e2e/helpers/authTest.ts
  packages/next-auth/test/e2e/poms/keycloakLoginPom.ts
  packages/next-auth/test/e2e/tests/api/session.spec.ts
  packages/next-auth/test/e2e/tests/providers/credentials.spec.ts
  packages/next-auth/test/e2e/tests/providers/keycloak.spec.ts
Owners: @ubbe-xyz
