Repository nextauthjs/next-auth, pull requests merged in 2020-05, with the labels that each got.

#90 Allow customisation of session cookie name and sameSite value.
  index.js
Labels: enhancement

#110 feat(client): Add optional provider for using useSession with context api
  README.md
  src/client/index.js
Labels: enhancement

#113 Add eslint with Standard JS and reformat code
  adapters.js
  client.js
  index.js
  models.js
  package-lock.json
  package.json
  postcss.config.js
  providers.js
  src/adapters/adapters.js
  src/adapters/index.js
  src/adapters/typeorm/index.js
  src/adapters/typeorm/models/account.js
  src/adapters/typeorm/models/index.js
  src/adapters/typeorm/models/session.js
  src/adapters/typeorm/models/user.js
  src/client/index.js
  src/css/index.css
  src/lib/errors.js
  src/providers/credentials.js
  src/providers/email.js
  src/providers/facebook.js
  src/providers/github.js
  src/providers/google-client-oauth2.js
  src/providers/index.js
  src/providers/twitch.js
  src/providers/twitter.js
  src/server/index.js
  src/server/lib/callback-url-handler.js
  src/server/lib/cookie.js
  src/server/lib/oauth/callback.js
  src/server/lib/oauth/index.js
  src/server/lib/oauth/signin.js
  src/server/lib/providers.js
  src/server/lib/signin-handler.js
  src/server/pages/callback.js
  src/server/pages/check-email.js
  src/server/pages/error.js
  src/server/pages/index.js
  src/server/pages/signin.js
  src/server/pages/signout.js
  src/server/routes/callback.js
  src/server/routes/providers.js
  src/server/routes/session.js
  src/server/routes/signin.js
  src/server/routes/signout.js
Labels: enhancement

#111 Added Mixer, Discord, Slack and Reddit (partially)
  src/providers/discord.js
  src/providers/index.js
  src/providers/mixer.js
  src/providers/reddit.js
  src/providers/slack.js
  src/server/lib/oauth/signin.js
Labels: enhancement

#127 Update contributing docs
  CONTRIBUTING.md
Labels: documentation

#132 Add session expiry logic
  CONTRIBUTING.md
  package.json
  src/adapters/typeorm/index.js
  src/adapters/typeorm/models/session.js
  src/providers/auth0.js
  src/providers/facebook.js
  src/providers/index.js
  src/server/lib/cookie.js
  src/server/routes/callback.js
  src/server/routes/session.js
  www/docusaurus.config.js
  www/sidebars.js
  www/src/pages/index.js
  www/src/theme/SearchBar/index.js
  www/src/theme/SearchBar/lib/DocSearch.js
  www/src/theme/SearchBar/lib/lunar-search.js
  www/src/theme/SearchBar/lib/templates.js
  www/src/theme/SearchBar/lib/utils.js
  www/src/theme/SearchBar/lib/zepto.js
Labels: enhancement

#133 Refactor adapter logic and add email verification
  package.json
  src/adapters/typeorm/index.js
  src/adapters/typeorm/models/email-verification.js
  src/adapters/typeorm/models/session.js
  src/server/index.js
  src/server/lib/callback-handler.js
  src/server/lib/oauth/callback.js
  src/server/lib/signin/email.js
  src/server/pages/error.js
  src/server/routes/callback.js
  src/server/routes/session.js
  src/server/routes/signout.js
Labels: enhancement

#144 Simplify database configuration
  package.json
  src/server/index.js
  src/server/pages/error.js
Labels: enhancement

#161 Fix issues with database; make it easier to test
  client.js
  package-lock.json
  package.json
  src/adapters/typeorm/index.js
  src/adapters/typeorm/models/account.js
  src/adapters/typeorm/models/email-verification.js
  src/adapters/typeorm/models/session.js
  src/server/routes/callback.js
  tests/docker/docker-compose.yml
  tests/docker/mongo.yml
  tests/docker/mysql.yml
  tests/docker/postgres.yml
  www/sidebars.js
  www/src/pages/index.js
Labels: bug

#163 Fix sqlite
  package.json
  src/adapters/typeorm/index.js
Labels: bug

#164 Add custom pages
  package.json
  src/server/index.js
Labels: enhancement

#170 Improve database URI handling
  package.json
  src/adapters/typeorm/index.js
Labels: bug

#183 Restructure and extend documentation
  package.json
  src/server/index.js
  www/docs/about.md
  www/docs/api-endpoints.md
  www/docs/client.md
  www/docs/configuration.md
  www/docs/contributors.md
  www/docs/getting-started.md
  www/docs/getting-started/client.md
  www/docs/getting-started/example.md
  www/docs/getting-started/introduction.md
  www/docs/options/adapter.md
  www/docs/options/advanced-options.md
  www/docs/options/basic-options.md
  www/docs/options/database.md
  www/docs/options/pages.md
  www/docs/options/providers.md
  www/docs/providers.md
  www/docs/providers/apple.md
  www/docs/providers/auth0.md
  www/docs/providers/discord.md
  www/docs/providers/email.md
  www/docs/providers/facebook.md
  www/docs/providers/github.md
  www/docs/providers/google.md
  www/docs/providers/mixer.md
  www/docs/providers/slack.md
  www/docs/providers/twitch.md
  www/docs/providers/twitter.md
  www/docusaurus.config.js
  www/package-lock.json
  www/sidebars.js
  www/src/css/custom.css
  www/src/pages/index.js
  www/src/pages/styles.module.css
Labels: documentation

#185 Adding to documentation
  www/docs/api-endpoints.md
  www/docs/getting-started/example.md
  www/docs/getting-started/introduction.md
  www/docs/getting-started/rest-api.md
  www/docs/options/adapter.md
  www/docs/options/advanced-options.md
  www/docs/options/database.md
  www/docs/options/pages.md
  www/docs/options/providers.md
  www/docs/providers/apple.md
  www/docusaurus.config.js
  www/sidebars.js
Labels: documentation
