Repository nextauthjs/next-auth, pull requests merged in 2020-12, with the labels that each got.

#823 feat: forward auth params from signin to provider
  src/client/index.js
  src/server/lib/signin/oauth.js
  src/server/routes/signin.js
Labels: enhancement

#879 docs: update API docs about server-side `getProviders`
  www/docs/getting-started/client.md
Labels: documentation

#874 docs: remove redundant 3rd arg to sessions example
  www/docs/configuration/callbacks.md
Labels: documentation

#867 feat: simplify NextAuth instantiation
  README.md
  src/server/index.js
  www/docs/getting-started/example.md
  www/docs/schemas/adapters.md
  www/docs/tutorials/ldap-auth.md
  www/docs/tutorials/typeorm-custom-models.md
  www/src/pages/index.js
Labels: documentation, enhancement

#911 feat: simplify NextAuth instantiation
  README.md
  src/server/index.js
  www/docs/getting-started/example.md
  www/docs/schemas/adapters.md
  www/docs/tutorials/ldap-auth.md
  www/docs/tutorials/typeorm-custom-models.md
  www/src/pages/index.js
Labels: documentation, enhancement

#847 docs: update for Now to Vercel
  www/docs/getting-started/example.md
Labels: documentation

#850 docs: fix discord example code
  www/docs/providers/discord.md
Labels: documentation

#815 docs: fix typo in callbacks.md
  www/docs/configuration/callbacks.md
Labels: documentation

#860 fix: update nodemailer version in response to CVE.
  package.json
Labels: security

#734 fix: ensure Images are produced for discord
  src/providers/discord.js
Labels: enhancement

#763 fix: update Okta routes
  src/providers/okta.js
Labels: enhancement, priority

#914 fix(provider): handle no profile image for Spotify
  package-lock.json
  package.json
  src/providers/spotify.js
  src/server/pages/error.js
  src/server/routes/providers.js
Labels: bug

#790 Include callbackUrl in newUser page
  src/server/routes/callback.js
Labels: enhancement

#555 feat(provider): add netlify
  src/providers/index.js
  src/providers/netlify.js
  www/docs/configuration/providers.md
  www/docs/faq.md
  www/docs/providers/netlify.md
Labels: enhancement

#589 feat(provider): Add Bungie
  src/providers/bungie.js
  src/providers/index.js
  src/server/lib/oauth/callback.js
  www/docs/providers/bungie.md
  www/sidebars.js
Labels: enhancement, on hold

#584 feat(provider): Foursquare
  src/providers/foursquare.js
  src/providers/index.js
  www/docs/configuration/providers.md
  www/docs/faq.md
  www/docs/providers/foursquare.md
Labels: enhancement, help wanted, on hold

#809 feat(provider): Add Azure Active Directory B2C
  src/providers/azure-ad-b2c.js
  src/providers/index.js
  www/docs/configuration/providers.md
  www/docs/faq.md
  www/docs/providers/azure-ad-b2c.md
  www/sidebars.js
Labels: documentation, enhancement, priority

#920 feat: automate releases
  .github/workflows/release.yml
  .releaserc.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: enhancement

#925 docs: added mssql indexes in docs, fixed typo
  www/docs/schemas/mssql.md
Labels: database, documentation

#777 update(db): Change image to text from varchar
  www/docs/schemas/postgres.md
Labels: bug

#915 docs: Remove unnecessary promises
  www/docs/configuration/callbacks.md
  www/docs/configuration/options.md
  www/docs/configuration/providers.md
  www/docs/providers/credentials.md
  www/docs/providers/google.md
  www/docs/tutorials/creating-a-database-adapter.md
Labels: documentation
