Repository nextauthjs/next-auth, pull requests merged in 2020-06, with the labels that each got.

#188 Refactor Apple provider to genereate secret dynamically
  babel.config.json
  package-lock.json
  package.json
  src/providers/apple.js
  src/server/lib/oauth/callback.js
Labels: enhancement

#191 Improve styling on built-in pages
  package.json
  src/css/index.css
  src/server/pages/error.js
  src/server/pages/signin.js
Labels: enhancement

#199 Fix bug linking accounts when using JWT with Mongo
  package-lock.json
  src/adapters/typeorm/index.js
  src/server/lib/callback-handler.js
  www/docs/options/database.md
Labels: bug

#214 Seperate provider docs
  www/docs/options/providers.md
  www/docs/providers/apple.md
  www/docs/providers/auth0.md
  www/docs/providers/discord.md
  www/docs/providers/email.md
  www/docs/providers/facebook.md
  www/docs/providers/github.md
  www/docs/providers/google.md
  www/docs/providers/mixer.md
  www/docs/providers/okta.md
  www/docs/providers/slack.md
  www/docs/providers/twitch.md
  www/docs/providers/twitter.md
Labels: documentation

#223 Refactor JWT, Sessions and add allowSignin() method
  jwt.js
  package-lock.json
  package.json
  src/adapters/example/index.js
  src/adapters/typeorm/index.js
  src/adapters/typeorm/models/account.js
  src/adapters/typeorm/models/session.js
  src/adapters/typeorm/models/user.js
  src/adapters/typeorm/models/verification-request.js
  src/client/index.js
  src/lib/jwt.js
  src/providers/email.js
  src/server/index.js
  src/server/lib/callback-handler.js
  src/server/lib/callback-url-handler.js
  src/server/lib/signin/email.js
  src/server/pages/error.js
  src/server/pages/index.js
  src/server/routes/callback.js
  src/server/routes/providers.js
  src/server/routes/session.js
  src/server/routes/signin.js
  src/server/routes/signout.js
  www/docs/getting-started/client.md
  www/docs/getting-started/example.md
  www/docs/getting-started/introduction.md
  www/docs/options/adapter.md
  www/docs/options/advanced-options.md
  www/docs/options/basic-options.md
  www/src/css/custom.css
  www/src/pages/index.js
  www/src/pages/seo.js
  www/src/pages/styles.module.css
Labels: enhancement

#246 Add issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Labels: enhancement

#257 Rename master branch to main
  CONTRIBUTING.md
  www/docs/getting-started/example.md
  www/docusaurus.config.js
Labels: enhancement

#258 Refactoring naming strategy
  package-lock.json
  package.json
  src/adapters/typeorm/lib/naming-strategies.js
  src/adapters/typeorm/lib/transform.js
  src/adapters/typeorm/models/account.js
  src/adapters/typeorm/models/session.js
  src/adapters/typeorm/models/user.js
  src/adapters/typeorm/models/verification-request.js
Labels: enhancement

#262 Add limited support for credentials sign in
  package.json
  src/providers/credentials.js
  src/providers/index.js
  src/server/routes/callback.js
  www/docs/configuration/callbacks.md
  www/docs/configuration/providers.md
  www/docs/errors.md
  www/docs/getting-started/client.md
  www/docs/providers/credentials.md
  www/sidebars.js
Labels: enhancement

#293 Add callbackUrl option to client methods
  package.json
  src/client/index.js
  www/docs/getting-started/client.md
Labels: enhancement

#297 Add JS wrapper to CSS to support Serverless target
  package.json
  scripts/wrap-css.js
  src/css/index.js
  src/server/pages/index.js
Labels: bug, enhancement

#304 Fix Auth0 provider
  package.json
  src/providers/auth0.js
  www/docs/providers/auth0.md
Labels: bug

#221 Add new OAuth providers
  src/providers/battlenet.js
  src/providers/cognito.js
  src/providers/index.js
  www/docs/configuration/providers.md
  www/docs/providers/battlenet.md
  www/docs/providers/cognito.md
Labels: enhancement

#332 Handle OAuth sign in cancellations gracefully
  src/server/lib/oauth/callback.js
  src/server/routes/callback.js
Labels: bug, enhancement

#333 Improve appearance of sign in email
  src/providers/email.js
  www/docs/providers/email.md
Labels: enhancement

#336 Add HTTP status codes to error pages
  src/server/index.js
  src/server/pages/error.js
  src/server/pages/index.js
Labels: enhancement

#337 Add support for mongodb+srv:// URLs
  src/adapters/typeorm/lib/config.js
Labels: bug, enhancement
