Repository nextauthjs/next-auth, pull requests merged in 2020-09, with the labels that each got.

#626 Fix getUserByProviderAccountId in Prisma adapter
  src/adapters/prisma/index.js
Labels: bug, priority

#298 Add initial end-to-end tests
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/pages/signin.spec.js
  cypress/integration/pages/signout.spec.js
  cypress/integration/pages/verify-request.spec.js
  cypress/integration/workflows/email.spec.js
  cypress/integration/workflows/providers.spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package-lock.json
  package.json
Labels: enhancement, help wanted, priority

#641 Integration tests
  .env.example
  .github/workflows/build.yml
  .github/workflows/integration.yml
  .github/workflows/test-integration.yml
  .gitignore
  Dockerfile
  README.md
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/pages/signin.spec.js
  cypress/integration/pages/signout.spec.js
  cypress/integration/pages/verify-request.spec.js
  cypress/integration/workflows/email.spec.js
  cypress/integration/workflows/providers.spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package-lock.json
  package.json
  test/docker/app.yml
  test/docker/app/pages/api/auth/[...nextauth].js
  test/docker/app/pages/index.js
  test/docker/app/pages/test.js
  test/integration/github.js
  test/integration/google.js
  test/integration/twitter.js
Labels: enhancement, priority

#658 Improve Puppeteer configuration
  test/integration/github.js
  test/integration/google.js
  test/integration/twitter.js
  test/lib/puppeteer.js
Labels: enhancement

#702 Update FAQ to address automatic account linking
  www/docs/faq.md
  www/package-lock.json
Labels: documentation

#680 Update testing-with-cypress.md
  www/docs/tutorials/testing-with-cypress.md
Labels: documentation

#713 Add conditional to integration test workflow
  .github/workflows/integration.yml
Labels: enhancement

#637 Fix missing response_type=code in battlenet
  src/providers/battlenet.js
Labels: enhancement, priority
