Repository nextauthjs/next-auth, pull requests merged in 2021-05, with the labels that each got.

#1876 fix(ts): optional variables for custom provider options
  types/providers.d.ts
Labels: TypeScript

#1902 Fix minor typo.
  www/docs/configuration/options.md
Labels: documentation

#1909 fix(build): export aliases from client
  src/client/index.js
Labels: client, core

#1900 docs(providers): update providers documentation
  www/docs/configuration/providers.md
  www/src/css/index.css
  www/src/css/providers.css
Labels: documentation, providers

#1891 fix(ts): unset generics defaults for overriding
  types/adapters.d.ts
Labels: TypeScript

#1914 fix(ts): tweak Adapter related types
  types/adapters.d.ts
  types/index.d.ts
  types/internals/index.d.ts
  types/tests/server.test.ts
Labels: TypeScript, test

#1912 fix(page): don't pass params to custom signout page
  src/server/index.js
Labels: core

#1922 Fix minor typo.
  www/docs/configuration/options.md
Labels: documentation

#1932 docs(provider): Update IdentityServer 4 demo configuration
  www/docs/providers/identity-server4.md
Labels: documentation

#1756 feat(provider): add Dropbox
  src/providers/dropbox.js
  src/server/lib/oauth/client.js
  types/providers.d.ts
  www/docs/providers/dropbox.md
Labels: TypeScript, core, documentation, providers

#1871 feat(adapter): take away error handling from adapters
  config/babel.config.js
  config/babel.config.json
  package-lock.json
  package.json
  src/adapters/error-handler.js
  src/server/lib/callback-handler.js
  src/server/lib/signin/email.js
  src/server/routes/callback.js
  src/server/routes/session.js
  src/server/routes/signin.js
  src/server/routes/signout.js
  types/adapters.d.ts
Labels: TypeScript, adapters, core

#1916 docs(adapter): mention new types
  www/docs/getting-started/typescript.md
  www/docs/schemas/adapters.md
Labels: adapters, databases, documentation

#1853 fix(ts): improve `events` handlers' types
  types/adapters.d.ts
  types/index.d.ts
  types/tests/server.test.ts
  www/docs/configuration/events.md
  www/docs/configuration/options.md
Labels: TypeScript, documentation, test

#1946 Update typeorm-custom-models.md
  www/docs/tutorials/typeorm-custom-models.md
Labels: documentation

#1950 docs(provider): clarify where user is created in db with email provider
  www/docs/providers/email.md
Labels: documentation

#1957 docs: Fix link to model source in typeorm tutorial
  www/docs/tutorials/typeorm-custom-models.md
Labels: documentation

#1955 docs(providers): link to providers' source code
  www/docs/providers/42.md
  www/docs/providers/apple.md
  www/docs/providers/atlassian.md
  www/docs/providers/auth0.md
  www/docs/providers/azure-ad-b2c.md
  www/docs/providers/basecamp.md
  www/docs/providers/battlenet.md
  www/docs/providers/box.md
  www/docs/providers/bungie.md
  www/docs/providers/cognito.md
  www/docs/providers/credentials.md
  www/docs/providers/discord.md
  www/docs/providers/dropbox.md
  www/docs/providers/email.md
  www/docs/providers/eveonline.md
  www/docs/providers/facebook.md
  www/docs/providers/faceit.md
  www/docs/providers/foursquare.md
  www/docs/providers/fusionauth.md
  www/docs/providers/github.md
  www/docs/providers/gitlab.md
  www/docs/providers/google.md
  www/docs/providers/identity-server4.md
  www/docs/providers/instagram.md
  www/docs/providers/kakao.md
  www/docs/providers/line.md
  www/docs/providers/linkedin.md
  www/docs/providers/mailchimp.md
  www/docs/providers/mailru.md
  www/docs/providers/medium.md
  www/docs/providers/netlify.md
  www/docs/providers/okta.md
  www/docs/providers/osso.md
  www/docs/providers/reddit.md
  www/docs/providers/salesforce.md
  www/docs/providers/slack.md
  www/docs/providers/spotify.md
  www/docs/providers/strava.md
  www/docs/providers/twitch.md
  www/docs/providers/twitter.md
  www/docs/providers/vk.md
  www/docs/providers/wordpress.md
  www/docs/providers/yandex.md
  www/docs/providers/zoho.md
Labels: documentation

#1939 feat(provider): add WorkOS provider
  src/providers/workos.js
  types/providers.d.ts
  www/docs/providers/workos.md
Labels: TypeScript, core, documentation, providers

#1952 fix(adapter): upgrade legacy adapters
  package-lock.json
  package.json
  src/adapters/index.js
  src/adapters/prisma.js
  src/adapters/typeorm.js
  types/adapters.d.ts
Labels: TypeScript, adapters, core

#1826 chore: Test Docusaurus webpack 5 support
  www/package-lock.json
  www/package.json
Labels: documentation

#1982 docs: revert "Docusaurus webpack 5"
  www/package-lock.json
  www/package.json
Labels: documentation

#1989 Revert "docs: revert "Docusaurus webpack 5""
  www/package-lock.json
  www/package.json
Labels: documentation

#1993 docs(www): upgrade docusaurus + docs search style
  www/package-lock.json
  www/package.json
  www/src/css/index.css
  www/src/theme/SearchBar/algolia.css
  www/src/theme/SearchBar/index.js
  www/src/theme/SearchBar/lib/DocSearch.js
  www/src/theme/SearchBar/lib/templates.js
  www/src/theme/SearchBar/styles.css
Labels: documentation

#1979 feat(provider): add-request-to-credentials-authorize
  app/pages/api/auth/[...nextauth].js
  src/server/routes/callback.js
  types/providers.d.ts
  www/docs/configuration/providers.md
  www/docs/providers/credentials.md
  www/docs/tutorials/ldap-auth.md
Labels: TypeScript, core, documentation, providers

#1995 fix: replace Twitter profile image for other formats
  src/providers/twitter.js
Labels: core, providers

#2015 docs(style): add github star counter to navbar
  www/docusaurus.config.js
  www/src/css/index.css
  www/src/theme/SearchBar/index.js
  www/src/theme/SearchBar/styles.css
Labels: documentation

#2019 Update providers.md
  www/docs/configuration/providers.md
Labels: documentation, providers

#2023 docs(search): add new algolia docsearch
  www/docusaurus.config.js
  www/package-lock.json
  www/package.json
  www/src/css/index.css
  www/src/pages/index.js
  www/src/pages/index.module.css
  www/src/pages/seo.js
  www/src/theme/SearchBar/algolia.css
  www/src/theme/SearchBar/index.js
  www/src/theme/SearchBar/lib/DocSearch.js
  www/src/theme/SearchBar/lib/lunar-search.js
  www/src/theme/SearchBar/lib/templates.js
  www/src/theme/SearchBar/lib/utils.js
  www/src/theme/SearchBar/lib/zepto.js
  www/src/theme/SearchBar/styles.css
Labels: documentation

#2022 fix minor typo
  www/docs/getting-started/typescript.md
Labels: documentation

#2024 style: small tweaks to navbar
  www/sidebars.js
  www/src/css/index.css
  www/src/css/search.css
Labels: documentation

#2037 fix: ts type, and transpilation
  config/babel.config.js
  package-lock.json
  package.json
  types/adapters.d.ts
Labels: TypeScript

#2016 docs: explain where pageProps come from in Provider docs
  www/docs/getting-started/client.md
Labels: client, documentation

#2026 docs(adapters): update copy regarding adapters
  www/docs/configuration/databases.md
  www/docs/schemas/adapters.md
  www/docs/schemas/fauna.md
  www/docs/schemas/prisma.md
Labels: adapters, databases, documentation

#2038 fix(provider): make WorkOS domain configurable from signIn
  src/providers/workos.js
  www/docs/providers/workos.md
Labels: core, documentation, providers

#1737 Remove claim that new users do not have an ID
  www/docs/configuration/callbacks.md
Labels: documentation

#2051 docs(adapters): reorganise adapter docs for new pkg
  www/docs/adapters/dynamodb.md
  www/docs/adapters/fauna.md
  www/docs/adapters/firebase.md
  www/docs/adapters/models.md
  www/docs/adapters/overview.md
  www/docs/adapters/prisma.md
  www/docs/adapters/typeorm/mongodb.md
  www/docs/adapters/typeorm/mssql.md
  www/docs/adapters/typeorm/mysql.md
  www/docs/adapters/typeorm/overview.md
  www/docs/adapters/typeorm/postgres.md
  www/docs/configuration/databases.md
  www/docs/configuration/options.md
  www/docs/schemas/adapters.md
  www/docs/schemas/fauna.md
  www/docs/tutorials/typeorm-custom-models.md
  www/sidebars.js
  www/vercel.json
Labels: adapters, databases, documentation

#2046 Call user() to get user details to check in condition
  www/docs/configuration/providers.md
Labels: documentation, providers

#2061 Fix typo
  www/docs/getting-started/example.md
Labels: documentation

#2065 docs: Intro and Twitter Provider tutorial
  www/docs/tutorials.md
Labels: documentation

#2079 Signin: Allow client to override scope
  src/server/lib/signin/oauth.js
  www/docs/getting-started/client.md
Labels: client, core, documentation

#2088 docs(FAQ): fix typo
  www/docs/faq.md
Labels: documentation

#2100 docs: add error + warning pages to sidebar
  www/sidebars.js
Labels: documentation

#2105 docs: fix spelling in docs
  www/docs/configuration/pages.md
Labels: documentation, pages
