Repository nextauthjs/next-auth, pull requests merged in 2021-06, with the labels that each got.

#1992 test(client): initial Jest + RTL setup
  .github/workflows/tests.yml
  .github/workflows/types.yml
  config/babel.config.js
  config/jest-setup.js
  config/jest.config.js
  package-lock.json
  package.json
  src/client/__tests__/mocks.js
  src/client/__tests__/session.test.js
  src/client/__tests__/sign-in.test.js
  src/client/__tests__/sign-out.test.js
  src/client/__tests__/utils.js
  src/client/index.js
  src/server/routes/providers.js
  tsconfig.json
Labels: client, core

#2117 Add `pretty-quick` ⚡️
  .husky/.gitignore
  .husky/pre-commit
  package-lock.json
  package.json
  src/client/index.js
Labels: client, core

#2119 docs(adapters): update adapter install instructions to canary branch
  www/docs/adapters/dynamodb.md
  www/docs/adapters/fauna.md
  www/docs/adapters/firebase.md
  www/docs/adapters/prisma.md
Labels: documentation

#2110 feat(provider): add Zoom provider
  src/providers/zoom.js
  types/providers.d.ts
  www/docs/providers/zoom.md
Labels: TypeScript, core, documentation, providers

#2120 Fix: File location in DynamoDB Adaptor docs
  www/docs/adapters/dynamodb.md
Labels: documentation

#2121 Fix: ngrok type on instagram provider docs
  www/docs/providers/instagram.md
Labels: documentation

#2140 docs(pouchdb): add pouchdb page
  www/docs/adapters/pouchdb.md
  www/sidebars.js
Labels: documentation

#2136 Fix typos
  CONTRIBUTING.md
  README.md
  SECURITY.md
  www/docs/adapters/dynamodb.md
  www/docs/adapters/prisma-legacy.md
  www/docs/adapters/prisma.md
  www/docs/configuration/callbacks.md
  www/docs/configuration/options.md
  www/docs/errors.md
  www/docs/faq.md
  www/docs/getting-started/client.md
  www/docs/providers/apple.md
  www/docs/providers/azure-ad-b2c.md
  www/docs/providers/credentials.md
Labels: client, documentation

#2139 Update typo in client.md
  www/docs/getting-started/client.md
Labels: client, documentation

#1919 feat(adapter): remove adapters from core
  .github/workflows/release.yml
  .husky/pre-commit
  README.md
  app/pages/api/auth/[...nextauth].js
  config/build.js
  package-lock.json
  package.json
  src/adapters/index.js
  src/adapters/prisma.js
  src/adapters/typeorm.js
  src/providers/email.js
  src/server/index.js
  types/adapters.d.ts
  types/index.d.ts
  types/tests/adapters.test.ts
  types/tests/server.test.ts
  www/docs/adapters/prisma-legacy.md
  www/docs/configuration/databases.md
  www/docs/getting-started/example.md
  www/docs/providers/credentials.md
  www/src/pages/index.js
Labels: TypeScript, adapters, core, databases, documentation, providers, test

#2125 Updated DynamoDB Adaptor documentation
  www/docs/adapters/dynamodb.md
Labels: documentation

#2108 Fix: Convert Github profile.id from int to string
  src/providers/github.js
Labels: breaking-change, core, providers

#2047 Adding a YouTube link for NextAuth.js introduction
  www/docs/tutorials.md
Labels: documentation

#2150 docs(callbacks): don't use `signIn` for redirects
  www/docs/configuration/callbacks.md
Labels: documentation

#2151 docs(client): fix callback anchor links
  www/docs/getting-started/client.md
Labels: client, documentation

#2153 feat(provider): add Coinbase provider
  src/providers/coinbase.js
  types/providers.d.ts
  www/docs/providers/coinbase.md
Labels: TypeScript, core, documentation, providers

#2135 Final client module tests
  .github/workflows/release.yml
  .gitignore
  config/jest.config.js
  src/client/__tests__/client-provider.test.js
  src/client/__tests__/csrf.test.js
  src/client/__tests__/helpers/mocks.js
  src/client/__tests__/helpers/utils.js
  src/client/__tests__/providers.test.js
  src/client/__tests__/session.test.js
  src/client/__tests__/sign-in.test.js
  src/client/__tests__/sign-out.test.js
Labels: client, core

#1591 Apply Azure AD, B2C changes on next to fix provider semantics
  src/providers/azure-ad-b2c.js
  src/providers/azure-ad.js
  www/docs/providers/azure-ad-b2c.md
  www/docs/providers/azure-ad.md
Labels: breaking-change, core, documentation, help wanted, providers

#1473 feat(react): create client tailored to React
  .gitignore
  README.md
  app/components/access-denied.js
  app/components/header.js
  app/next.config.js
  app/package.json
  app/pages/_app.js
  app/pages/api/examples/protected.js
  app/pages/api/examples/session.js
  app/pages/credentials.js
  app/pages/email.js
  app/pages/protected-ssr.js
  app/pages/protected.js
  app/pages/server.js
  config/babel.config.js
  config/build.js
  package-lock.json
  package.json
  src/client/__tests__/client-provider.test.js
  src/client/__tests__/csrf.test.js
  src/client/__tests__/providers.test.js
  src/client/__tests__/session.test.js
  src/client/__tests__/sign-in.test.js
  src/client/__tests__/sign-out.test.js
  src/client/index.d.ts
  src/client/index.js
  src/client/react.js
  src/providers/dropbox.js
  src/providers/instagram.js
  tsconfig.json
  types/index.d.ts
  types/internals/client.d.ts
  types/internals/react.d.ts
  types/react-client.d.ts
  types/tests/react.test.ts
  types/tsconfig.json
  www/docs/configuration/pages.md
  www/docs/errors.md
  www/docs/getting-started/client.md
  www/docs/getting-started/example.md
  www/docs/getting-started/typescript.md
  www/docs/providers/instagram.md
  www/docs/providers/workos.md
  www/docs/tutorials/refresh-token-rotation.md
  www/docs/tutorials/securing-pages-and-api-routes.md
  www/docs/tutorials/usage-with-class-components.md
  www/src/pages/index.js
Labels: TypeScript, breaking-change, client, core, documentation, pages, providers, test

#2166 fix(react): do not call localStorage method server-side
  src/client/react.js
Labels: client, core

#2180 fix(react): initialize session without loading state
  src/client/__tests__/client-provider.test.js
  src/client/react.js
Labels: client, core

#2175 English language sentence fix
  www/docs/providers/google.md
Labels: documentation

#2172 feat(provider): add Naver provider
  src/providers/naver.js
  types/providers.d.ts
  www/docs/providers/naver.md
Labels: TypeScript, core, documentation, providers

#2188 docs(provider): scope expects space separated string
  www/docs/configuration/providers.md
Labels: documentation, providers

#2216 Fix client provider test
  .github/CODEOWNERS
  src/client/__tests__/client-provider.test.js
Labels: client, core

#2222 fix english sentence in Email provider section
  www/docs/providers/email.md
Labels: documentation

#2220 Fix english sentence
  www/docs/providers/google.md
Labels: documentation

#2217 Update client.md
  www/docs/getting-started/client.md
Labels: client, documentation

#2196 docs: update errors page with more details
  www/docs/errors.md
Labels: documentation

#2254 feat: bump dependencies
  config/babel.config.js
  config/jest.config.js
  package-lock.json
  package.json
  src/client/__tests__/client-provider.test.js
Labels: client, core, next

#2260 docs: rm `canary` from all adapters install instructions
  www/docs/adapters/dynamodb.md
  www/docs/adapters/fauna.md
  www/docs/adapters/firebase.md
  www/docs/adapters/pouchdb.md
  www/docs/adapters/prisma.md
  www/docs/tutorials/typeorm-custom-models.md
Labels: documentation

#2259 fix(ts): extend `server` type in Email provider from `nodemailer`
  package-lock.json
  package.json
  types/providers.d.ts
Labels: TypeScript

#2265 chore(pages): typo in error messages
  src/server/pages/signin.js
Labels: core, pages

#2227 fix(ts): improve `authorize` typing on Credentials provider
  types/providers.d.ts
  types/tests/providers.test.ts
Labels: TypeScript, test
