Repository nextauthjs/next-auth, pull requests merged in 2021-01, with the labels that each got.

#1011 docs: update CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: documentation

#959 refactor: code base improvements
  package-lock.json
  package.json
  src/lib/errors.js
  src/lib/parse-url.js
  src/server/index.js
  src/server/lib/callback-handler.js
  src/server/lib/callback-url-handler.js
  src/server/lib/cookie.js
  src/server/lib/defaultCallbacks.js
  src/server/lib/dispatch-event.js
  src/server/lib/events.js
  src/server/lib/oauth/callback.js
  src/server/lib/oauth/client.js
  src/server/lib/providers.js
  src/server/lib/redirect.js
  src/server/lib/signin/email.js
  src/server/lib/signin/oauth.js
  src/server/pages/error.js
  src/server/pages/index.js
  src/server/pages/signin.js
  src/server/pages/signout.js
  src/server/pages/verify-request.js
  src/server/routes/callback.js
  src/server/routes/providers.js
  src/server/routes/session.js
  src/server/routes/signin.js
  src/server/routes/signout.js
Labels: enhancement

#522 feat(provider): Add Mail.ru OAuth Service Provider and Callback snippet
  src/providers/index.js
  src/providers/mailru.js
  src/server/lib/oauth/callback.js
  www/docs/configuration/providers.md
  www/docs/providers/mailru.md
  www/sidebars.js
Labels: enhancement, on hold

#1043 docs: misc improvements [skip release]
  LICENSE.txt
  README.md
  scripts/wrap-css.js
  src/server/lib/oauth/callback.js
  www/docs/configuration/callbacks.md
  www/docs/configuration/pages.md
  www/docs/faq.md
  www/docs/getting-started/client.md
  www/docs/getting-started/example.md
  www/docs/getting-started/typescript.md
  www/docs/tutorials/securing-pages-and-api-routes.md
  www/docusaurus.config.js
  www/sidebars.js
  www/src/pages/index.js
Labels: documentation

#1023 feat(provider): reduce user facing API
  src/client/index.js
  src/providers/apple.js
  src/providers/bungie.js
  src/providers/identity-server4.js
  src/providers/okta.js
  src/providers/slack.js
  src/server/lib/oauth/callback.js
  src/server/lib/oauth/client.js
  src/server/lib/signin/oauth.js
  src/server/routes/signin.js
  test/docker/app/pages/api/auth/[...nextauth].js
  www/docs/configuration/callbacks.md
  www/docs/configuration/events.md
  www/docs/configuration/options.md
  www/docs/configuration/providers.md
  www/docs/errors.md
  www/docs/providers/apple.md
  www/docs/providers/bungie.md
  www/docs/providers/credentials.md
  www/docs/providers/google.md
  www/docs/providers/mailru.md
  www/docs/tutorials/ldap-auth.md
  www/sidebars.js
Labels: documentation, enhancement, providers, test

#1060 feat(provider): add vk.com provider
  src/providers/index.js
  src/providers/vk.js
  src/server/lib/oauth/client.js
  www/docs/configuration/providers.md
  www/docs/providers/vk.md
  www/sidebars.js
Labels: documentation, providers

#1064 feat: improve package development experience
  CONTRIBUTING.md
  LICENSE
  babel.config.json
  components/access-denied.js
  components/footer.js
  components/footer.module.css
  components/header.js
  components/header.module.css
  components/layout.js
  config/babel.config.json
  config/postcss.config.js
  config/wrap-css.js
  jsconfig.json
  package-lock.json
  package.json
  pages/_app.js
  pages/api-example.js
  pages/api/auth/[...nextauth].js
  pages/api/examples/jwt.js
  pages/api/examples/protected.js
  pages/api/examples/session.js
  pages/client.js
  pages/index.js
  pages/policy.js
  pages/protected-ssr.js
  pages/protected.js
  pages/server.js
  pages/styles.css
  src/client/index.js
  src/css/index.css
  src/css/index.js
  src/index.js
Labels: documentation, enhancement

#1088 feat(pages): add dark theme support
  pages/api/auth/[...nextauth].js
  src/css/index.css
  src/server/index.js
  src/server/pages/index.js
  www/docs/configuration/options.md
Labels: documentation, enhancement

#1091 feat(provider): add LINE provider
  src/providers/index.js
  src/providers/line.js
  www/docs/configuration/providers.md
  www/docs/faq.md
  www/docs/providers/line.md
  www/sidebars.js
Labels: documentation, providers

#1094 Reddit Provider and Documentation
  src/providers/index.js
  src/providers/reddit.js
  www/docs/configuration/providers.md
  www/docs/faq.md
  www/docs/providers/reddit.md
  www/sidebars.js
Labels: documentation, providers

#1087 chore: Comply to Vercel Open Source sponsorship [skip release]
  README.md
  package-lock.json
  www/docusaurus.config.js
  www/src/pages/index.js
Labels: documentation

#1142 Removed v1 documentation
  www/docs/v1/auth-v1.md
  www/docs/v1/client-v1.md
  www/docs/v1/getting-started-v1.md
Labels: documentation

#1148 chore(adapters): remove fauna
  package-lock.json
  package.json
  src/adapters/fauna/index.js
  src/adapters/index.js
  test/docker/databases.yml
  test/docker/databases/fauna.yml
  test/fauna.js
Labels: adapters, databases, test

#1149 feat: forward signIn auth params to /authorize
  src/client/index.js
  src/server/lib/signin/oauth.js
  src/server/routes/signin.js
  www/docs/errors.md
  www/docs/getting-started/client.md
Labels: documentation

#630 fix(adapter): Fix ISO Datetime type error in updateSession
  src/adapters/prisma/index.js
Labels: adapters, bug, priority

#541 feat(provider): Add option to generate email verification token
  src/server/lib/signin/email.js
Labels: on hold

#1027 feat(provider): add Salesforce provider
  src/providers/index.js
  src/providers/salesforce.js
  www/docs/providers/salesforce.md
Labels: documentation, providers

#1178 chore(provider): remove Mixer
  src/providers/index.js
  src/providers/mixer.js
  www/docs/providers/mixer.md
  www/providers.json
Labels: documentation, providers

#1184 feat(provider): re-add state, expand protection provider options
  src/lib/errors.js
  src/providers/apple.js
  src/providers/salesforce.js
  src/server/index.js
  src/server/lib/oauth/callback.js
  src/server/lib/oauth/pkce-handler.js
  src/server/lib/oauth/state-handler.js
  src/server/lib/signin/oauth.js
  www/docs/configuration/providers.md
  www/docs/warnings.md
Labels: documentation, providers, security

#1204 docs: fix typos in providers code snippets
  www/docs/getting-started/client.md
  www/docs/providers/atlassian.md
  www/docs/providers/auth0.md
  www/docs/providers/battlenet.md
  www/docs/providers/box.md
  www/docs/providers/bungie.md
  www/docs/providers/cognito.md
  www/docs/providers/facebook.md
  www/docs/providers/foursquare.md
  www/docs/providers/fusionauth.md
  www/docs/providers/github.md
  www/docs/providers/gitlab.md
  www/docs/providers/identity-server4.md
  www/docs/providers/netlify.md
  www/docs/providers/okta.md
  www/docs/providers/reddit.md
  www/docs/providers/salesforce.md
  www/docs/providers/spotify.md
  www/docs/providers/strava.md
  www/docs/providers/twitch.md
  www/docs/providers/twitter.md
  www/docs/providers/yandex.md
Labels: documentation

#1173 docs(adapter): add adapter repo to documentation
  www/docs/schemas/adapters.md
  www/docs/tutorials/creating-a-database-adapter.md
Labels: adapters, databases, documentation

#1212 Fix grammar in "Feature Requests" section of FAQs
  www/docs/faq.md
Labels: documentation

#1211 refactor: provide raw idToken through account object
  src/server/lib/oauth/callback.js
  src/server/lib/oauth/client.js
  src/server/routes/callback.js
  www/docs/configuration/callbacks.md
Labels: documentation

#1213 feat(provider): Add medium
  src/providers/index.js
  src/providers/medium.js
  www/docs/providers/medium.md
  www/providers.json
Labels: documentation, providers

#1225 Update Providers.Credential Example Block
  www/docs/configuration/providers.md
Labels: documentation, providers
