Repository nextauthjs/next-auth, pull requests merged in 2021-11, with the labels that each got.

#3100 fix: correctly transpile all client-side submodules
  config/babel.config.js
  src/core/errors.ts
Labels: core

#2802 refactor: strict types
  src/client/_utils.ts
  src/core/errors.ts
  src/core/index.ts
  src/core/lib/cookie.ts
  src/core/lib/email/signin.ts
  src/core/lib/oauth/authorization-url.ts
  src/core/lib/oauth/callback.ts
  src/core/lib/oauth/client-legacy.ts
  src/core/lib/oauth/client.ts
  src/core/lib/oauth/pkce-handler.ts
  src/core/lib/providers.ts
  src/core/lib/utils.ts
  src/core/pages/error.tsx
  src/core/pages/index.ts
  src/core/pages/signin.tsx
  src/core/routes/callback.ts
  src/core/routes/providers.ts
  src/core/routes/session.ts
  src/core/routes/signin.ts
  src/core/routes/signout.ts
  src/core/types.ts
  src/jwt/index.ts
  src/jwt/types.ts
  src/lib/logger.ts
  src/lib/merge.ts
  src/next/index.ts
  src/providers/credentials.ts
  src/react/index.tsx
  tsconfig.json
Labels: providers, core, client

#3141 fix: use `error` query param if set
  src/next/index.ts
Labels: core

#3140 feat: allow relative redirects
  src/core/lib/default-callbacks.ts
Labels: core

#3144 feat: rename session strategy
  src/core/init.ts
  src/core/lib/callback-handler.ts
  src/core/lib/cookie.ts
  src/core/routes/callback.ts
  src/core/routes/session.ts
  src/core/routes/signout.ts
  src/core/types.ts
  src/next/index.ts
Labels: core

#3179 fix: respect `host` in `getServerSession`
  src/core/index.ts
  src/next/index.ts
Labels: core

#3142 refactor: decouple CSRF-state
  src/core/index.ts
  src/core/lib/cookie.ts
  src/core/lib/oauth/authorization-url.ts
  src/core/lib/oauth/callback.ts
  src/core/lib/oauth/pkce-handler.ts
  src/core/lib/oauth/state-handler.ts
  src/core/routes/callback.ts
  src/core/types.ts
Labels: core

#3188 fix: allow configuring http timeout
  src/core/lib/oauth/client.ts
  src/providers/oauth.ts
Labels: providers, core

#3189 fix(providers): set 42 default scope
  src/providers/42.js
Labels: providers, core

#3101 feat: introduce chunking when session cookie becomes too big
  app/pages/api/auth/[...nextauth].ts
  package-lock.json
  package.json
  src/core/index.ts
  src/core/lib/cookie.ts
  src/core/lib/oauth/pkce-handler.ts
  src/core/routes/callback.ts
  src/core/routes/session.ts
  src/core/routes/signout.ts
  src/core/types.ts
  src/jwt/index.ts
  src/next/cookie.ts
  src/next/index.ts
Labels: core

#3143 feat: make missing secret an error
  app/next.config.js
  app/package.json
  app/pages/api/auth/[...nextauth].ts
  app/pages/api/examples/jwt.js
  src/core/errors.ts
  src/core/index.ts
  src/core/init.ts
  src/core/lib/assert.ts
  src/core/lib/utils.ts
  src/core/pages/error.tsx
  src/core/pages/index.ts
  src/core/routes/callback.ts
  src/core/routes/signin.ts
  src/lib/logger.ts
  src/next/index.ts
Labels: core

#3211 refactor(providers): convert 42 to TypeScript
  src/providers/42-school.ts
  src/providers/42.js
Labels: providers, core

#3217 fix: correct assertion when Credentials only
  src/core/lib/assert.ts
Labels: core

#3045 Added support for zoom in beta
  src/providers/zoom.js
  src/providers/zoom.ts
Labels: providers, core

#3221 refactor(providers): cleanup 42
  src/providers/42.ts
Labels: providers, core

#3222 fix: assert `action` when `req.query` isn't available
  src/core/index.ts
  src/core/lib/assert.ts
  src/core/lib/oauth/callback.ts
  src/core/routes/callback.ts
  src/next/index.ts
Labels: core

#3225 fix(providers): match filename with 42 Provider's `id`
  src/providers/42-school.ts
Labels: providers, core

#3011 feat(providers): add Pipedrive provider
  src/providers/pipedrive.ts
Labels: providers, core

#3234 feat(providers): add Osu! provider
  .gitignore
  app/pages/api/auth/[...nextauth].ts
  src/providers/osu.ts
Labels: providers, core

#2759 fix(provider): Rewrite EVEOnline in TS, fix default scopes
  src/providers/eveonline.js
  src/providers/eveonline.ts
Labels: providers, core

#3287 feat(oauth): expose `httpOptions`
  src/core/lib/oauth/client.ts
  src/providers/oauth.ts
Labels: providers, core

#3288 fix: add custom error message when session required
  src/core/pages/signin.tsx
Labels: core

#2999 fix(providers): correct authorization url for Atlassian
  .gitignore
  src/providers/atlassian.ts
Labels: help wanted, providers, core

#2875 feat(providers): refactor Apple provider
  app/next.config.js
  app/pages/api/auth/[...nextauth].ts
  src/core/lib/oauth/callback.ts
  src/providers/apple.js
  src/providers/apple.ts
  src/providers/oauth.ts
Labels: providers, core

#3295 chore(providers): TS improvements
  src/providers/42-school.ts
  src/providers/atlassian.ts
  src/providers/auth0.ts
  src/providers/azure-ad-b2c.ts
  src/providers/azure-ad.ts
  src/providers/cognito.ts
  src/providers/credentials.ts
  src/providers/email.ts
  src/providers/eveonline.ts
  src/providers/facebook.ts
  src/providers/google.ts
  src/providers/index.ts
  src/providers/keycloak.ts
  src/providers/line.ts
  src/providers/linkedin.ts
  src/providers/oauth.ts
  src/providers/okta.ts
  src/providers/osu.ts
  src/providers/pipedrive.ts
  src/providers/slack.ts
  src/providers/spotify.ts
  src/providers/twitch.ts
  src/providers/twitter.js
  src/providers/twitter.ts
  src/providers/zoom.ts
Labels: providers, core

#3302 feat(providers): ensure GitHub provider always gives an email
  src/providers/github.js
Labels: providers, core
