Repository nextauthjs/next-auth, pull requests merged in 2021-04, with the labels that each got.

#1641 [docs] update providers.md
  www/docs/configuration/providers.md
Labels: documentation, providers

#1647 update options,md: rename to vercel cli, now cli is deprecated
  www/docs/configuration/options.md
Labels: documentation

#1651 docs(pages): correct getCsrfToken and input types
  www/docs/configuration/pages.md
Labels: documentation, pages

#1652 Fix typo `primsa`
  www/docs/schemas/adapters.md
Labels: adapters, databases, documentation

#1657 Update callbacks.md
  www/docs/configuration/callbacks.md
Labels: documentation

#1565 fix: update protection to accept array with multiples options
  src/server/lib/oauth/client.js
  src/server/lib/oauth/pkce-handler.js
  src/server/lib/oauth/state-handler.js
  www/docs/configuration/providers.md
Labels: core, documentation, providers

#1550 docs: Document the additional parameters in JWT
  www/docs/configuration/options.md
Labels: documentation

#1681 feat(ts): support module augmentation
  types/_utils.d.ts
  types/index.d.ts
  types/tests/server.test.ts
  www/docs/getting-started/typescript.md
Labels: TypeScript, documentation

#1684 fix .flat is not a function when running node version lower than 11
  src/server/index.js
  src/server/lib/oauth/client.js
  src/server/lib/oauth/pkce-handler.js
  src/server/lib/oauth/state-handler.js
Labels: core

#1687 fix validation of provider existence before looking for protection property
  src/server/index.js
Labels: core

#1691 replace .flat() to support Node <11 in handleSignin
  src/server/lib/oauth/state-handler.js
Labels: core

#1694 fix(provider): proper check of protection property
  src/server/index.js
  src/server/lib/oauth/pkce-handler.js
  src/server/lib/oauth/state-handler.js
Labels: core

#1669 fix(oauth): support `response_mode=form_post`
  CONTRIBUTING.md
  package.json
  pages/api/auth/[...nextauth].js
  src/server/index.d.ts
  src/server/index.js
  src/server/lib/csrf-token-handler.js
  src/server/lib/oauth/state-handler.js
Labels: core

#1700 fix(page): fall back to default error page
  src/server/pages/error.js
Labels: core, pages

#1706 Explain how to get access to LinkedIn authentication
  www/docs/providers/linkedin.md
Labels: documentation

#1322 fix: add oauth_token_secret to requests
  src/server/lib/oauth/callback.js
  src/server/lib/oauth/client.js
  src/server/lib/signin/oauth.js
Labels: core, help wanted, on hold

#1682 feat(build): modernize how we bundle next-auth
  package-lock.json
  package.json
  src/adapters/typeorm/index.js
  src/providers/email.js
  src/server/index.js
Labels: adapters, core, providers

#1736 fix(build): use optional-require dependency
  package-lock.json
  package.json
  src/adapters/typeorm/index.js
  src/providers/email.js
  src/server/index.js
Labels: adapters, core, providers

#1743 fix: use upgraded require optional
  package-lock.json
  package.json
  src/adapters/typeorm/index.js
  src/providers/email.js
  src/server/index.js
Labels: adapters, core, providers

#1751 fix(jwt): make decode overrideable in getToken
  src/lib/jwt.js
Labels: core

#1690 refactor(ts): de-duplicate types
  .npmignore
  README.md
  adapters.js
  client.js
  config/build-types.js
  config/build.js
  index.js
  jwt.js
  package.json
  providers.js
  src/client/index.d.ts
  src/client/index.js
  src/lib/logger.d.ts
  src/lib/logger.js
  src/providers/instagram.js
  src/server/index.d.ts
  src/server/index.js
  src/server/lib/callbacks.d.ts
  src/server/lib/cookie.d.ts
  src/server/lib/cookie.js
  src/server/lib/events.d.ts
  src/server/lib/oauth/callback.js
  src/server/lib/oauth/client.js
  src/server/lib/oauth/pkce-handler.js
  src/server/lib/oauth/state-handler.js
  src/server/lib/signin/oauth.js
  src/server/pages/error.js
  src/server/routes/callback.js
  src/server/routes/providers.js
  tsconfig.json
  types/_utils.d.ts
  types/adapters.d.ts
  types/client.d.ts
  types/index.d.ts
  types/internals/client.d.ts
  types/internals/index.d.ts
  types/internals/next.d.ts
  types/internals/providers.d.ts
  types/internals/utils.d.ts
  types/jwt.d.ts
  types/providers.d.ts
  types/tests/adapters.test.ts
  types/tests/client.test.ts
  types/tests/jwt.test.ts
  types/tests/providers.test.ts
  types/tests/server.test.ts
  types/tests/test-helpers.ts
  types/tsconfig.json
  types/tslint.json
  www/docs/configuration/pages.md
Labels: TypeScript, client, core, documentation, pages, providers

#1773 feat(ts): expose types from main package
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/integration.yml
  .github/workflows/release.yml
  .github/workflows/types.yml
  CONTRIBUTING.md
  README.md
  adapters.js
  client.js
  config/build.js
  index.js
  jwt.js
  package-lock.json
  package.json
  pages/credentials.js
  pages/email.js
  providers.js
  release.config.js
  src/client/index.d.ts
  src/client/index.js
  src/lib/logger.d.ts
  src/lib/logger.js
  src/providers/instagram.js
  src/server/index.js
  src/server/lib/callbacks.d.ts
  src/server/lib/cookie.d.ts
  src/server/lib/cookie.js
  src/server/lib/events.d.ts
  src/server/lib/oauth/callback.js
  src/server/lib/oauth/client.js
  src/server/lib/oauth/pkce-handler.js
  src/server/lib/oauth/state-handler.js
  src/server/lib/signin/oauth.js
  src/server/pages/error.js
  src/server/routes/callback.js
  src/server/routes/providers.js
  tsconfig.json
  types/adapters.d.ts
  types/client.d.ts
  types/index.d.ts
  types/internals/client.d.ts
  types/internals/index.d.ts
  types/internals/next.d.ts
  types/internals/providers.d.ts
  types/internals/utils.d.ts
  types/jwt.d.ts
  types/providers.d.ts
  types/tests/adapters.test.ts
  types/tests/client.test.ts
  types/tests/jwt.test.ts
  types/tests/providers.test.ts
  types/tests/server.test.ts
  types/tests/test-helpers.ts
  types/tsconfig.json
  types/tslint.json
  www/docs/configuration/pages.md
  www/docs/errors.md
  www/docs/faq.md
  www/docs/getting-started/typescript.md
  www/docs/tutorials.md
Labels: TypeScript, client, core, documentation, pages, providers, test

#1725 Add sub to defaultJwtPayload for credentials provider.
  src/server/routes/callback.js
Labels: core

#1782 build(provider): auto-generate Providers submodule
  .gitignore
  CONTRIBUTING.md
  config/build.js
  package.json
  src/providers/apple.js
  src/providers/atlassian.js
  src/providers/auth0.js
  src/providers/azure-ad-b2c.js
  src/providers/basecamp.js
  src/providers/battlenet.js
  src/providers/box.js
  src/providers/bungie.js
  src/providers/cognito.js
  src/providers/credentials.js
  src/providers/discord.js
  src/providers/email.js
  src/providers/eveonline.js
  src/providers/facebook.js
  src/providers/faceit.js
  src/providers/foursquare.js
  src/providers/fusionauth.js
  src/providers/github.js
  src/providers/gitlab.js
  src/providers/google.js
  src/providers/identity-server4.js
  src/providers/index.js
  src/providers/kakao.js
  src/providers/line.js
  src/providers/linkedin.js
  src/providers/mailru.js
  src/providers/medium.js
  src/providers/netlify.js
  src/providers/okta.js
  src/providers/osso.js
  src/providers/reddit.js
  src/providers/salesforce.js
  src/providers/slack.js
  src/providers/spotify.js
  src/providers/strava.js
  src/providers/twitch.js
  src/providers/twitter.js
  src/providers/vk.js
  src/providers/yandex.js
  src/providers/zoho.js
  src/server/index.d.ts
  www/docs/configuration/providers.md
Labels: core, documentation, providers

#1784 docs: add Class components tutorial
  www/docs/tutorials.md
  www/docs/tutorials/usage-with-class-components.md
Labels: documentation

#1789 fix(logger): attempt at fixing infinite loop
  src/lib/logger.js
Labels: core

#1786 Mention TS example repo on the website
  www/docs/getting-started/typescript.md
Labels: documentation

#1795 fix(client): export getCsrfToken directly to support Webpack 5
  src/client/index.js
Labels: client, core

#1794 fix(ts): adjust properties on default interfaces
  types/index.d.ts
  types/jwt.d.ts
Labels: TypeScript

#1800 fix(ts): move AppProvider out of internals
  types/adapters.d.ts
  types/internals/index.d.ts
  types/internals/providers.d.ts
  types/providers.d.ts
  types/tests/server.test.ts
Labels: TypeScript, test

#1801 fix(ts): create DefaultUser/DefaultProfile interfaces
  types/adapters.d.ts
  types/index.d.ts
Labels: TypeScript

#1807 docs(adapter): Remove --preview-feature flag
  app/pages/api/auth/[...nextauth].js
  www/docs/schemas/adapters.md
Labels: adapters, databases, documentation

#1814 fix(build): export functions in jwt
  src/lib/jwt.js
Labels: core

#1815 fix(ts): adjust AppOptions
  types/internals/index.d.ts
Labels: TypeScript

#1816 fix(errors): expose custom errors
  .gitignore
  config/babel.config.json
  config/build.js
  package-lock.json
  package.json
  src/lib/errors.js
Labels: core

#1817 fix(ts): expose errors type delcarations
  .gitignore
  config/build.js
  package.json
  types/errors.d.ts
Labels: TypeScript

#1781 feat(provider): add Mailchimp provider
  src/providers/mailchimp.js
  www/docs/providers/mailchimp.md
Labels: core, documentation, providers

#1821 fix(ts): add Mailchimp provider
  types/providers.d.ts
Labels: TypeScript

#1823 docs: update import for providers
  www/docs/configuration/pages.md
Labels: documentation, pages

#1837 feat(provider): add WordPress.com provider
  src/providers/wordpress.js
  types/providers.d.ts
  www/docs/providers/wordpress.md
Labels: TypeScript, core, documentation, providers

#1850 Made `ctxOrReq` optional in `getCsrfToken()`
  types/client.d.ts
Labels: TypeScript

#1851 Made `GetSessionOptions` optional
  types/client.d.ts
Labels: TypeScript

#1862 feat(adapter): split out adapters
  .dockerignore
  package-lock.json
  package.json
  src/adapters/example/index.js
  src/adapters/prisma.js
  src/adapters/prisma/index.js
  src/adapters/typeorm.js
  src/adapters/typeorm/index.js
  src/adapters/typeorm/lib/config.js
  src/adapters/typeorm/lib/naming-strategies.js
  src/adapters/typeorm/lib/transform.js
  src/adapters/typeorm/lib/utils.js
  src/adapters/typeorm/models/account.js
  src/adapters/typeorm/models/index.js
  src/adapters/typeorm/models/session.js
  src/adapters/typeorm/models/user.js
  src/adapters/typeorm/models/verification-request.js
  test/.env.example
  test/Dockerfile
  test/docker/app.yml
  test/docker/app/package-lock.json
  test/docker/app/package.json
  test/docker/app/pages/_app.js
  test/docker/app/pages/api/auth/[...nextauth].js
  test/docker/app/pages/api/env.js
  test/docker/app/pages/api/jwt.js
  test/docker/app/pages/api/protected.js
  test/docker/app/pages/api/session.js
  test/docker/app/pages/api/version.js
  test/docker/app/pages/index.js
  test/docker/app/pages/test.js
  test/docker/databases.yml
  test/docker/databases/mongo.yml
  test/docker/databases/mssql.yml
  test/docker/databases/mssql/setup.sh
  test/docker/databases/mssql/setup.sql
  test/docker/databases/mssql/start.sh
  test/docker/databases/mysql.yml
  test/docker/databases/postgres.yml
  test/fixtures/schemas/mssql.json
  test/fixtures/schemas/mysql.json
  test/fixtures/schemas/postgres.json
  test/fixtures/sql/mssql.sql
  test/fixtures/sql/mysql.sql
  test/fixtures/sql/postgres.sql
  test/integration/github.js
  test/integration/google.js
  test/integration/twitter.js
  test/lib/db.js
  test/lib/puppeteer.js
  test/mongodb.js
  test/mssql.js
  test/mysql.js
  test/postgres.js
Labels: adapters, core, databases, providers, test

#1869 docs(website): fix layout on small screens
  www/src/css/index.css
Labels: documentation

#1870 fix(ts): improve adapter TypeScript support
  types/adapters.d.ts
  types/index.d.ts
  types/providers.d.ts
  types/tests/server.test.ts
  www/docs/tutorials/creating-a-database-adapter.md
Labels: TypeScript, documentation, test

#1872 feat(provider): add 42 School provider
  src/providers/42.js
  types/providers.d.ts
  www/docs/providers/42.md
Labels: TypeScript, core, documentation, providers

#1875 docs: fix typos in custom provider page
  www/docs/configuration/providers.md
Labels: documentation, providers

#1877 fix(ts): fix createVerificationRequest type
  types/adapters.d.ts
  types/providers.d.ts
Labels: TypeScript

#1887 fix(ts): wrap adapter option in ReturnType
  types/adapters.d.ts
  types/index.d.ts
  types/tests/server.test.ts
Labels: TypeScript, test

#1899 fix: syntax error on JWT_SESSION_ERROR code example
  www/docs/errors.md
Labels: documentation
