Repository nextauthjs/next-auth, pull requests merged in 2021-08, with the labels that each got.

#2467 docs(security): email contact update
  CODE_OF_CONDUCT.md
  SECURITY.md
  www/docs/faq.md
Labels: documentation

#2514 refactor: remove wrapping Promise
  app/.env.local.example
  app/pages/api/auth/[...nextauth].js
  src/providers/onelogin.js
  src/server/index.js
  src/server/lib/extend-res.js
  types/tests/providers.test.ts
  www/docs/providers/onelogin.md
Labels: documentation, TypeScript, providers, test, core

#2450 fix(ts): fix internal react type import
  types/react-client.d.ts
Labels: TypeScript

#2511 fix(provider): Add scope string array type
  types/providers.d.ts
Labels: on hold, TypeScript

#2517 fix(provider): make `userinfo.params` optional
  src/server/lib/oauth/callback.js
Labels: priority, core

#2518 feat(provider): require to import every provider individually
  .gitignore
  config/build.js
  package.json
  tsconfig.json
  types/providers/credentials.d.ts
  types/providers/email.d.ts
  types/providers/index.d.ts
  types/providers/oauth.d.ts
  types/tests/providers.test.ts
  types/tests/server.test.ts
  types/tsconfig.json
Labels: priority, TypeScript, test

#2361 feat: simplify Adapter API
  .gitignore
  app/.env.local.example
  app/next-env.d.ts
  app/package.json
  app/pages/api/auth/[...nextauth].ts
  app/prisma/schema.prisma
  app/tsconfig.json
  config/build.js
  package.json
  src/adapters/error-handler.js
  src/lib/errors.js
  src/lib/jwt.js
  src/lib/logger.js
  src/providers/email.js
  src/server/index.js
  src/server/lib/callback-handler.js
  src/server/lib/default-events.js
  src/server/lib/email/signin.js
  src/server/lib/oauth/callback.js
  src/server/lib/oauth/client-legacy.js
  src/server/lib/oauth/pkce-handler.js
  src/server/lib/utils.js
  src/server/routes/callback.js
  src/server/routes/session.js
  src/server/routes/signin.js
  src/server/routes/signout.js
  types/adapters.d.ts
  types/index.d.ts
  types/internals/cookies.d.ts
  types/internals/index.d.ts
  types/internals/oauth.d.ts
  types/jwt.d.ts
  types/providers/credentials.d.ts
  types/providers/email.d.ts
  types/tests/jwt.test.ts
  types/tests/providers.test.ts
  types/tests/react.test.ts
  types/tests/server.test.ts
  www/docs/adapters/models.md
  www/docs/adapters/overview.md
  www/docs/adapters/prisma-legacy.md
  www/docs/adapters/prisma.md
  www/docs/adapters/typeorm/overview.md
  www/docs/configuration/databases.md
  www/docs/configuration/options.md
  www/docs/getting-started/typescript.md
  www/docs/providers/credentials.md
  www/docs/providers/email.md
  www/docs/tutorials/creating-a-database-adapter.md
  www/docs/tutorials/securing-pages-and-api-routes.md
  www/sidebars.js
  www/static/img/nextauth_v4_schema.png
Labels: documentation, priority, TypeScript, providers, test, adapters, core, databases

#2541 Update callbacks.md
  www/docs/configuration/callbacks.md
Labels: documentation

#2546 docs(email): remove duplicate CSS property from html
  www/docs/providers/email.md
Labels: documentation

#2554 docs(provider): remove en-us from Azure urls
  www/docs/providers/azure-ad-b2c.md
Labels: documentation

#2563 feat(provider): return image for Yandex by default
  src/providers/yandex.js
Labels: providers, core

#2578 Added suggestions to add secret and encryption key
  www/docs/configuration/options.md
Labels: documentation

#2579 Changed default Github scope to read-only
  src/providers/github.js
Labels: providers, core

#2574 fix(callback): respect callbackUrl with Email Provider
  src/server/lib/email/signin.js
Labels: core

#2485 add Keycloak provider
  app/.env.local.example
  app/pages/api/auth/[...nextauth].ts
  src/providers/keycloak.js
  www/docs/providers/keycloak.md
Labels: documentation, providers, core
