Repository nextauthjs/next-auth, pull requests merged in 2021-09, with the labels that each got.

#2647 fix: avoid infinite loop in error handlers
  src/server/errors.ts
Labels: core

#2683 fix(ts): forward credentials fields to authorize
  src/providers/credentials.ts
Labels: providers, core

#2682 fix(ts): make OAuth profile overrideable
  src/providers/auth0.ts
  src/providers/facebook.ts
  src/providers/google.ts
  src/providers/oauth.ts
Labels: providers, core

#2655 fix(react): signIn provider type
  .gitignore
  config/babel.config.js
  config/generate-providers.js
  package.json
  src/providers/index.ts
  src/providers/oauth.ts
  src/react/index.tsx
  src/react/types.ts
Labels: providers, core

#2698 Allow user options id for signinUrl and callbackUrl
  src/server/lib/providers.ts
Labels: core

#2788 feat: built-in page theme updates
  app/pages/api/auth/[...nextauth].ts
  src/css/index.css
  src/server/index.ts
  src/server/pages/error.tsx
  src/server/pages/index.ts
  src/server/pages/signin.tsx
  src/server/pages/signout.tsx
  src/server/pages/verify-request.tsx
  src/server/types.ts
Labels: core, pages, style

#2813 fix(provider): remove extra brace from `jwks_uri`
  src/providers/azure-ad-b2c.js
Labels: providers, core

#2818 fix(provider): refactor Azure AD provider
  app/components/header.js
  src/providers/azure-ad.js
Labels: providers, core

#2821 fix(provider): refactor LinkedIn provider
  app/components/header.js
  src/providers/linkedin.js
  src/providers/linkedin.ts
Labels: providers, core

#2829 feat(providers): refactor Cognito provider
  README.md
  app/pages/api/auth/[...nextauth].ts
  src/providers/cognito.js
  src/providers/cognito.ts
  src/server/lib/oauth/callback.ts
Labels: providers, core

#2842 fix(providers): make string endpoint handlers overrideable
  src/lib/types.ts
  src/providers/email.ts
  src/providers/oauth.ts
  src/providers/spotify.ts
  src/server/index.ts
  src/server/lib/email/signin.ts
  src/server/lib/oauth/client-legacy.ts
  src/server/lib/oauth/client.ts
  src/server/lib/providers.ts
  src/server/lib/utils.ts
Labels: providers, core

#2848 feat(providers): refactor Slack provider
  app/pages/api/auth/[...nextauth].ts
  src/providers/slack.js
  src/providers/slack.ts
Labels: providers, core

#2851 fix(providers): convert Keycloak to TS, add `picture` by default
  src/providers/keycloak.js
  src/providers/keycloak.ts
Labels: providers, core

#2717 fix: expose `openid-client` client and jwks options
  src/providers/oauth.ts
  src/server/lib/oauth/client.ts
Labels: providers, core

#2856 fix(provider): refactor Okta provider
  app/pages/api/auth/[...nextauth].ts
  src/providers/okta.js
  src/providers/okta.ts
Labels: providers, core

#2862 feat(providers): refactor Azure B2C provider
  app/pages/api/auth/[...nextauth].ts
  src/providers/azure-ad-b2c.js
  src/providers/azure-ad-b2c.ts
Labels: providers, core
