Repository nextauthjs/next-auth, pull requests merged in 2021-02, with the labels that each got.

#1219 feat(provider): option to disable client-side redirects (credentials)
  components/header.js
  pages/api/auth/[...nextauth].js
  pages/credentials.js
  src/client/index.js
  src/server/routes/callback.js
Labels: enhancement

#1227 Adding EVEOnline provider
  src/providers/eveonline.js
  src/providers/index.js
  www/docs/providers/eveonline.md
  www/providers.json
Labels: documentation, providers

#1239 docs: clarify custom pages usage [skip release]
  www/docs/configuration/pages.md
Labels: documentation

#1255 docs: Update Atlassian docs
  www/docs/providers/atlassian.md
Labels: documentation

#1263 Minor text error fixed
  www/docs/getting-started/client.md
Labels: documentation

#1267 feat(provider): update session when signIn/signOut successful
  components/header.js
  pages/credentials.js
  src/client/index.js
  www/docs/getting-started/client.md
Labels: documentation, enhancement

#1279 docs(adapter): Update Prisma docs
  www/docs/schemas/adapters.md
Labels: adapters, databases, documentation

#1283 docs(adapter): Update Prisma docs (#1279)
  www/docs/schemas/adapters.md
Labels: adapters, databases, documentation

#1285 Fixes for email sign in
  .env.local.example
  .gitignore
  package-lock.json
  package.json
  pages/api/auth/[...nextauth].js
  pages/api/examples/jwt.js
  prisma/schema.prisma
  src/adapters/prisma/index.js
  src/css/index.css
Labels: adapters

#1259 chore: new release
  .env.local.example
  .github/workflows/labeler.yml
  .gitignore
  README.md
  components/access-denied.js
  components/header.js
  jsconfig.json
  next-env.d.ts
  package-lock.json
  package.json
  pages/api-example.js
  pages/api/auth/[...nextauth].js
  pages/api/examples/jwt.js
  pages/api/examples/protected.js
  pages/api/examples/session.js
  pages/client.js
  pages/credentials.js
  pages/policy.js
  pages/protected-ssr.js
  pages/protected.js
  pages/server.js
  prisma/schema.prisma
  src/adapters/prisma/index.js
  src/adapters/typeorm/index.js
  src/client/index.js
  src/css/index.css
  src/providers/eveonline.js
  src/providers/index.js
  src/server/index.d.ts
  src/server/index.js
  src/server/lib/callbacks.d.ts
  src/server/lib/cookie.d.ts
  src/server/lib/cookie.js
  src/server/lib/events.d.ts
  src/server/lib/oauth/callback.js
  src/server/lib/oauth/client.js
  src/server/lib/oauth/pkce-handler.js
  src/server/lib/oauth/state-handler.js
  src/server/lib/signin/oauth.js
  src/server/pages/error.js
  src/server/routes/callback.js
  src/server/routes/providers.js
  src/server/routes/signin.js
  tsconfig.json
  www/docs/configuration/pages.md
  www/docs/getting-started/client.md
  www/docs/providers/atlassian.md
  www/docs/providers/azure-ad-b2c.md
  www/docs/providers/eveonline.md
  www/docusaurus.config.js
  www/providers.json
Labels: adapters, documentation, providers

#1289 Update client.md
  www/docs/getting-started/client.md
Labels: documentation

#1288 Update azure-ad-b2c
  www/docs/providers/azure-ad-b2c.md
Labels: documentation

#1295 docs(provider): auto-generate providers list
  .gitignore
  src/providers/vk.js
  www/docs/configuration/providers.md
  www/docs/providers/vk.md
  www/package.json
  www/providers.json
  www/scripts/generate-providers.js
Labels: documentation, providers

#1298 fix(client): reload after login/logout when url contains hash
  components/header.js
  src/client/index.js
Labels: client, core

#1294 feat(logger): introduce user configurable logger
  src/adapters/example/index.js
  src/adapters/prisma/index.js
  src/adapters/typeorm/index.js
  src/client/index.js
  src/lib/logger.d.ts
  src/lib/logger.js
  src/server/index.d.ts
  src/server/index.js
  www/docs/configuration/options.md
Labels: adapters, documentation

#1303 fix(page): fallback to default error when no query param
  src/server/pages/error.js
Labels: core, pages

#1329 feat: make tokens available in profile callback
  src/server/lib/oauth/callback.js
  www/docs/configuration/providers.md
Labels: core, documentation, providers

#1310 docs(tutorials): refresh token rotation
  .gitignore
  www/docs/tutorials.md
  www/docs/tutorials/refresh-token-rotation.md
Labels: documentation

#1353 Update twitch.md
  www/docs/providers/twitch.md
Labels: documentation

#1365 fix(provider): use correct file type for Discord profile img
  src/providers/discord.js
Labels: core, providers

#1385 docs: added refresh token tutorial link in faq page
  www/docs/faq.md
Labels: documentation

#1378 feat(provider): call generateVerificationToken async
  src/server/lib/signin/email.js
  www/docs/providers/email.md
Labels: core, documentation

#1386 docs: reword pages.md
  www/docs/configuration/pages.md
Labels: documentation, pages
