Repository nextauthjs/next-auth, pull requests merged in 2021-03, with the labels that each got.

#1380 fix(page): add character encoding and page titles
  src/server/pages/index.js
Labels: core, pages

#1406 docs(page): Remove unnecessary context param
  www/docs/configuration/pages.md
Labels: documentation, pages

#1416 feat(provider): allow disabling redirection on sign in with email
  components/header.js
  pages/email.js
  src/client/index.js
  www/docs/getting-started/client.md
Labels: client, core, documentation

#1424 Update callback.js
  src/server/routes/callback.js
Labels: core

#1428 refactor: client improvements
  package.json
  src/client/index.d.ts
  src/client/index.js
  src/lib/logger.d.ts
Labels: client, core

#1447 feat(provider): add Instagram provider
  src/providers/index.js
  src/providers/instagram.js
  www/docs/providers/instagram.md
Labels: core, documentation, providers

#1449 feat(client): introduce NEXTAUTH_URL_INTERNAL
  src/client/index.d.ts
  src/client/index.js
  www/docs/configuration/options.md
Labels: client, core, documentation

#1448 Add Osso as open source SAML provider
  src/providers/index.js
  src/providers/osso.js
  www/docs/providers/osso.md
Labels: core, documentation, providers

#1453 Update client.md
  www/docs/getting-started/client.md
Labels: client, documentation

#1462 fix: make sure useSession populates session correctly
  src/client/index.js
Labels: client, core

#1459 feat(provider): add Kakao provider
  src/providers/index.js
  src/providers/kakao.js
  www/docs/providers/kakao.md
Labels: core, documentation, providers

#1468 Fix useSession loading state
  src/client/index.js
Labels: client, core

#1498 Adding two more tutorials to the list.
  www/docs/tutorials.md
Labels: documentation

#1469 feat(provider): add FACEIT provider
  src/providers/faceit.js
  src/providers/index.js
  www/docs/providers/faceit.md
Labels: core, documentation, providers

#1528 docs: Fixed typos in REST API guide.
  www/docs/getting-started/rest-api.md
Labels: documentation

#1516 feat(provider): add Zoho provider
  src/providers/index.js
  src/providers/zoho.js
  www/docs/providers/zoho.md
Labels: core, documentation, providers

#1544 fix: reject access token if slack login flow was canceled
  src/server/lib/oauth/client.js
Labels: core

#1557 fix(logger): properly end request every time
  src/server/index.js
Labels: core

#1570 fix(provider): added options in instagram provider
  src/providers/instagram.js
Labels: core, providers

#1588 docs(provider): removed misleading provider signin link
  www/docs/configuration/providers.md
Labels: documentation, providers

#1595 docs(provider): fix wrong param name in sendVerificationRequest example
  www/docs/providers/email.md
Labels: documentation

#1549 Add missing error message and technique to resolve
  www/docs/errors.md
Labels: documentation

#1592 Update pages.md
  www/docs/configuration/pages.md
Labels: documentation, pages
