Repository nextauthjs/next-auth, pull requests merged in 2021-07, with the labels that each got.

#2270 docs: update pages option in example code
  types/index.d.ts
  www/docs/configuration/options.md
  www/docs/configuration/pages.md
Labels: TypeScript, documentation, pages

#2256 docs: update tutorials/faq structure
  www/docs/faq.md
  www/docs/tutorials.md
  www/docusaurus.config.js
  www/package-lock.json
  www/package.json
  www/src/css/hero.css
  www/src/css/index.css
  www/src/css/navbar.css
  www/src/css/sidebar.css
  www/src/css/table-of-contents.css
  www/src/pages/index.js
  www/src/pages/index.module.css
Labels: documentation

#2236 feat(react): make session requireable in `useSession`
  README.md
  app/components/header.js
  app/pages/_app.js
  app/pages/credentials.js
  app/pages/email.js
  app/pages/protected.js
  package.json
  src/client/__tests__/client-provider.test.js
  src/client/react.js
  src/server/index.js
  src/server/pages/signin.js
  types/internals/react.d.ts
  types/react-client.d.ts
  types/tests/react.test.ts
  www/docs/configuration/pages.md
  www/docs/getting-started/client.md
  www/docs/getting-started/example.md
  www/docs/getting-started/typescript.md
  www/docs/tutorials/refresh-token-rotation.md
  www/docs/tutorials/securing-pages-and-api-routes.md
  www/docs/tutorials/usage-with-class-components.md
  www/src/pages/index.js
Labels: TypeScript, client, core, documentation, pages, test

#2325 fix(oauth): correctly remove `code_verifier` cookie when used
  src/server/lib/oauth/pkce-handler.js
Labels: core

#2340 docs(tutorial): Add link to blog post about integrating with `Magic`
  www/docs/tutorials.md
Labels: documentation

#2255 feat: rename `protection` to `checks`
  README.md
  app/pages/api/auth/[...nextauth].js
  src/providers/apple.js
  src/providers/dropbox.js
  src/providers/naver.js
  src/providers/salesforce.js
  src/server/index.js
  src/server/lib/oauth/client.js
  src/server/lib/oauth/pkce-handler.js
  src/server/lib/oauth/state-handler.js
  types/providers.d.ts
  www/docs/configuration/providers.md
  www/docs/getting-started/rest-api.md
  www/docs/getting-started/typescript.md
  www/docs/providers/identity-server4.md
Labels: TypeScript, core, documentation, providers

#2348 delete can word in "can can"
  www/docs/getting-started/client.md
Labels: client, documentation

#2322 New Provider: Freshbooks
  src/providers/freshbooks.js
  types/providers.d.ts
  types/tests/providers.test.ts
  www/docs/providers/freshbooks.md
Labels: TypeScript, core, documentation, providers, test

#2344 feat(logger): simplify `logger` API
  src/client/__tests__/csrf.test.js
  src/client/__tests__/providers.test.js
  src/client/__tests__/session.test.js
  src/client/__tests__/sign-in.test.js
  src/client/react.js
  src/lib/errors.js
  src/lib/logger.js
  src/server/index.js
  src/server/lib/oauth/callback.js
  src/server/lib/oauth/client.js
  src/server/lib/oauth/pkce-handler.js
  src/server/lib/oauth/state-handler.js
  src/server/lib/signin/oauth.js
  src/server/routes/callback.js
  types/index.d.ts
  www/docs/configuration/options.md
Labels: TypeScript, client, core, documentation

#2342 feat(events): use named params for all event callbacks
  src/adapters/error-handler.js
  src/lib/errors.js
  src/server/index.js
  src/server/lib/callback-handler.js
  src/server/lib/default-events.js
  src/server/lib/dispatch-event.js
  src/server/lib/oauth/callback.js
  src/server/lib/signin/oauth.js
  src/server/routes/callback.js
  src/server/routes/session.js
  src/server/routes/signout.js
  types/index.d.ts
  types/tests/server.test.ts
  www/docs/configuration/events.md
Labels: TypeScript, adapters, core, documentation, test

#2355 docs: client page ssr clarification
  www/docs/getting-started/client.md
Labels: client, documentation

#2363 fixes typo in callbacks.md
  www/docs/configuration/callbacks.md
Labels: documentation

#2360 Updated Fauna Adapter Documentation
  www/docs/adapters/fauna.md
Labels: documentation

#2356 feat(events): include `profile` on `signIn` events
  src/server/routes/callback.js
  types/index.d.ts
  www/docs/configuration/events.md
Labels: TypeScript, core, documentation

#2369 docs(provider): fix typo
  www/docs/configuration/providers.md
Labels: documentation, providers

#2345 Adding OneLogin as a provider
  src/providers/onelogin.js
  types/providers.d.ts
  types/tests/providers.test.ts
  www/docs/providers/onelogin.md
Labels: TypeScript, core, documentation, providers, test

#2378 docs(typo): fix code format in JWT Options
  www/docs/configuration/options.md
Labels: documentation

#2388 docs(readme): add opencollective details to readme
  README.md
  www/docusaurus.config.js
Labels: documentation

#2391 fixed typo in csrf-token-handler.js where 'strategy' is mispelled
  src/server/lib/csrf-token-handler.js
Labels: core

#2393 docs: fix typos in options.md
  www/docs/configuration/options.md
Labels: documentation

#2405 docs: Fix link to LinkedIn code
  www/docs/providers/linkedin.md
Labels: documentation

#1698 refactor: replace node-oauth with openid-client
  app/pages/api/auth/[...nextauth].js
  package-lock.json
  package.json
  src/server/index.js
  src/server/lib/email/signin.js
  src/server/lib/oauth/authorization-url.js
  src/server/lib/oauth/callback.js
  src/server/lib/oauth/client-legacy.js
  src/server/lib/oauth/client.js
  src/server/lib/oauth/pkce-handler.js
  src/server/lib/oauth/state-handler.js
  src/server/lib/providers.js
  src/server/lib/signin/oauth.js
  src/server/routes/callback.js
  src/server/routes/signin.js
  types/index.d.ts
  types/internals/index.d.ts
  types/internals/oauth.d.ts
Labels: TypeScript, core

#2436 docs(adapter): Typo in filepath for firebase auth in docs.
  www/docs/adapters/firebase.md
Labels: documentation

#2432 docs(client): add text regarding 'logout'
  www/docs/getting-started/client.md
Labels: client, documentation

#2458 Update faq.md
  www/docs/faq.md
Labels: documentation
