Repository nextauthjs/next-auth, pull requests merged in 2022-10, with the labels that each got.

#5492 chore(docs): update middleware documentation link
  packages/next-auth/src/next/middleware.ts
Labels: core

#5479 feat(providers): ZITADEL provider
  apps/dev/pages/api/auth/[...nextauth].ts
  docs/docs/providers/zitadel.md
  packages/next-auth/src/providers/zitadel.ts
Labels: providers, core

#5109 fix(middleware): improve handling of custom nextjs basePath
  packages/next-auth/src/next/middleware.ts
  packages/next-auth/tests/middleware.test.ts
Labels: core

#4953 fix(ts): match TS types better with implementation
  apps/dev/pages/api/auth/[...nextauth].ts
  docs/docs/configuration/providers/oauth.md
  packages/adapter-dynamodb/src/index.ts
  packages/adapter-firebase/src/index.ts
  packages/adapter-firebase/tests/index.test.ts
  packages/adapter-mikro-orm/src/entities.ts
  packages/adapter-mikro-orm/tests/entities.test.ts
  packages/adapter-mongodb/src/index.ts
  packages/adapter-neo4j/src/index.ts
  packages/adapter-neo4j/tests/index.test.ts
  packages/adapter-neo4j/tests/test.sh
  packages/adapter-prisma/prisma/custom.prisma
  packages/adapter-prisma/prisma/mongodb.prisma
  packages/adapter-prisma/prisma/schema.prisma
  packages/adapter-prisma/src/index.ts
  packages/adapter-prisma/tests/index.test.ts
  packages/adapter-sequelize/src/index.ts
  packages/adapter-typeorm-legacy/src/index.ts
  packages/adapter-upstash-redis/src/index.ts
  packages/adapter-upstash-redis/tests/index.test.ts
  packages/next-auth/src/adapters.ts
  packages/next-auth/src/core/errors.ts
  packages/next-auth/src/core/init.ts
  packages/next-auth/src/core/lib/assert.ts
  packages/next-auth/src/core/lib/callback-handler.ts
  packages/next-auth/src/core/lib/email/getUserFromEmail.ts
  packages/next-auth/src/core/lib/email/signin.ts
  packages/next-auth/src/core/lib/oauth/authorization-url.ts
  packages/next-auth/src/core/lib/oauth/callback.ts
  packages/next-auth/src/core/lib/oauth/client.ts
  packages/next-auth/src/core/lib/providers.ts
  packages/next-auth/src/core/routes/callback.ts
  packages/next-auth/src/core/routes/signin.ts
  packages/next-auth/src/core/types.ts
  packages/next-auth/src/providers/hubspot.ts
  packages/next-auth/src/providers/oauth.ts
  packages/next-auth/tests/assert.test.ts
  packages/next-auth/tests/email.test.ts
  packages/next-auth/tests/lib.ts
Labels: TypeScript, providers, adapters, core, firebase, prisma, dynamodb, mikro-orm, mongodb, neo4j, sequelize, upstash-redis, typeorm, typeorm-legacy

#5485 feat(providers): Add Pinterest Provider
  docs/docs/providers/pinterest.md
  packages/next-auth/src/providers/pinterest.ts
Labels: providers, core

#5556 fix: TS Module Augmentation
  apps/dev/types/nextauth.d.ts
  packages/next-auth/src/core/lib/email/getUserFromEmail.ts
  packages/next-auth/src/core/routes/callback.ts
  packages/next-auth/src/core/routes/signin.ts
  packages/next-auth/src/core/types.ts
  packages/next-auth/src/providers/credentials.ts
Labels: TypeScript, providers, core

#5561 refactor(core): allow trusting the forwarded host header
  packages/next-auth/src/utils/detect-host.ts
Labels: core

#5609 Fixed typo
  packages/next-auth/src/providers/email.ts
Labels: providers, core

#5513 Add opt-in for dangerous linking
  docs/docs/configuration/providers/oauth.md
  packages/next-auth/src/core/lib/callback-handler.ts
  packages/next-auth/src/providers/oauth.ts
  packages/next-auth/src/utils/detect-host.ts
Labels: providers, core

#5253 feat: Add Todoist provider
  .github/ISSUE_TEMPLATE/2_bug_provider.yml
  apps/dev/pages/api/auth/[...nextauth].ts
  docs/docs/providers/todoist.md
  packages/next-auth/src/providers/todoist.ts
Labels: providers, core

#4940 feat(client): add `refetchWhenOffline` option
  docs/docs/getting-started/client.md
  packages/next-auth/src/react/index.tsx
  packages/next-auth/src/react/types.ts
Labels: TypeScript, core, client

#4911 feat(adapters): add Xata adapter
  .github/ISSUE_TEMPLATE/3_bug_adapter.yml
  .github/issue-labeler.yml
  .github/pr-labeler.yml
  docs/docs/adapters/overview.md
  docs/docs/adapters/xata.md
  packages/adapter-xata/README.md
  packages/adapter-xata/logo.svg
  packages/adapter-xata/package.json
  packages/adapter-xata/src/index.ts
  packages/adapter-xata/src/xata.ts
  packages/adapter-xata/tests/index.test.ts
  packages/adapter-xata/tsconfig.json
  pnpm-lock.yaml
Labels: adapters, xata
