Repository nextauthjs/next-auth, pull requests merged in 2022-08, with the labels that each got.

#5138 Azure AD: Add appid query param to wellKnown URL
  packages/next-auth/src/providers/azure-ad.ts
Labels: providers, core

#4100 Feature/nonce check type
  docs/docs/configuration/options.md
  packages/next-auth/src/core/lib/cookie.ts
  packages/next-auth/src/core/lib/oauth/authorization-url.ts
  packages/next-auth/src/core/lib/oauth/callback.ts
  packages/next-auth/src/core/lib/oauth/nonce-handler.ts
  packages/next-auth/src/core/types.ts
  packages/next-auth/src/providers/oauth.ts
Labels: TypeScript, providers, core, ready

#5046 fix: Use consistent error type between doc, logger and error class
  docs/docs/errors.md
  packages/next-auth/src/core/lib/oauth/callback.ts
  packages/next-auth/src/core/routes/callback.ts
Labels: core

#5207 fix(types): fix typo in session callback type definition
  packages/next-auth/src/core/types.ts
Labels: TypeScript, core

#5218 fix: return null in unstable_getServerSession if there's an error
  packages/next-auth/src/next/index.ts
  packages/next-auth/tests/getServerSession.test.ts
Labels: core
