Repository nextauthjs/next-auth, pull requests merged in 2022-11, with the labels that each got.

#5741 feat(next): allow `unstable_getServerSession` in Server Components
  apps/dev/app/layout.tsx
  apps/dev/app/server-component/page.tsx
  apps/dev/next.config.js
  apps/dev/pages/api/examples/session.js
  apps/dev/tsconfig.json
  apps/example-nextjs/pages/server.tsx
  docs/docs/configuration/nextjs.md
  docs/versioned_docs/version-beta/reference/02-configuration/05-nextjs.md
  packages/next-auth/src/core/index.ts
  packages/next-auth/src/core/lib/oauth/authorization-url.ts
  packages/next-auth/src/next/index.ts
Labels: core

#5745 fix(next): conditional RSC support
  .github/version-pr/action.yml
  packages/next-auth/src/next/index.ts
Labels: core

#5753 fix(next): correctly parse headers with RSC
  apps/dev/app/server-component/page.tsx
  apps/dev/pages/api/examples/session.js
  packages/next-auth/src/next/index.ts
Labels: core

#5804 fix(next-auth): update docstring for jwt field in NextAuthOptions
  packages/next-auth/src/core/types.ts
Labels: TypeScript, core

#5826 chore: fix signin btns svg URLs to 'main'
  packages/next-auth/src/providers/apple.ts
  packages/next-auth/src/providers/atlassian.ts
  packages/next-auth/src/providers/auth0.ts
  packages/next-auth/src/providers/azure-ad-b2c.ts
  packages/next-auth/src/providers/azure-ad.ts
  packages/next-auth/src/providers/battlenet.ts
  packages/next-auth/src/providers/box.js
  packages/next-auth/src/providers/cognito.ts
  packages/next-auth/src/providers/discord.ts
  packages/next-auth/src/providers/facebook.ts
  packages/next-auth/src/providers/foursquare.js
  packages/next-auth/src/providers/freshbooks.js
  packages/next-auth/src/providers/github.ts
  packages/next-auth/src/providers/gitlab.ts
  packages/next-auth/src/providers/google.ts
  packages/next-auth/src/providers/hubspot.ts
  packages/next-auth/src/providers/instagram.js
  packages/next-auth/src/providers/keycloak.ts
  packages/next-auth/src/providers/line.ts
  packages/next-auth/src/providers/linkedin.ts
  packages/next-auth/src/providers/mailchimp.js
  packages/next-auth/src/providers/okta.ts
  packages/next-auth/src/providers/patreon.ts
  packages/next-auth/src/providers/slack.ts
  packages/next-auth/src/providers/spotify.ts
  packages/next-auth/src/providers/todoist.ts
  packages/next-auth/src/providers/trakt.ts
  packages/next-auth/src/providers/twitch.ts
  packages/next-auth/src/providers/twitter.ts
  packages/next-auth/src/providers/vk.ts
  packages/next-auth/src/providers/wikimedia.ts
  packages/next-auth/src/providers/workos.ts
Labels: providers, core

#5050 feat(adapters): Add Supabase adapter
  .github/ISSUE_TEMPLATE/3_bug_adapter.yml
  .github/issue-labeler.yml
  .github/pr-labeler.yml
  .gitignore
  apps/dev/.env.local.example
  apps/dev/components/header.js
  apps/dev/package.json
  apps/dev/pages/api/auth/[...nextauth].ts
  apps/dev/pages/api/examples/supabase-rls.js
  apps/dev/pages/supabase-client-rls.js
  apps/dev/pages/supabase-ssr.js
  apps/dev/types/nextauth.d.ts
  docs/docs/adapters/overview.md
  docs/docs/adapters/supabase.md
  docs/sidebars.js
  packages/adapter-supabase/.env.example
  packages/adapter-supabase/README.md
  packages/adapter-supabase/logo.svg
  packages/adapter-supabase/package.json
  packages/adapter-supabase/src/database.types.ts
  packages/adapter-supabase/src/index.ts
  packages/adapter-supabase/supabase/config.toml
  packages/adapter-supabase/supabase/migrations/20221108043803_create_next_auth_schema.sql
  packages/adapter-supabase/supabase/migrations/20221108044627_create_public_users_table.sql
  packages/adapter-supabase/tests/index.test.ts
  packages/adapter-supabase/tests/test.sh
  packages/adapter-supabase/tsconfig.json
  pnpm-lock.yaml
Labels: adapters

#5763 fix(next): improve dev environment variable handling
  packages/next-auth/src/core/index.ts
  packages/next-auth/src/core/types.ts
  packages/next-auth/src/next/index.ts
  packages/next-auth/src/next/middleware.ts
  packages/next-auth/src/utils/detect-host.ts
  packages/next-auth/tests/middleware.test.ts
Labels: TypeScript, core

#5813 chore(adapters): fix typo on Firebase Adapter
  packages/adapter-firebase/src/index.ts
Labels: adapters, firebase

#5792 fix(ts): improve `unstable_getServerSession` return type
  packages/next-auth/src/next/index.ts
Labels: core
