Repository nextauthjs/next-auth, pull requests merged in 2022-04, with the labels that each got.

#4383 Cleanup global `__NEXTAUTH` state after unmount
  packages/next-auth/src/react/index.tsx
Labels: core, client

#4365 fix(providers): add optional chaining to avoid nullish reference errors
  packages/next-auth/src/providers/kakao.ts
Labels: providers, core

#4352 fix(signin.tsx): set type of built-in email sign-in input to "email" and add "required" attribute for browser validation
  packages/next-auth/src/core/pages/signin.tsx
Labels: core, pages

#4406 docs: remove error event in config options
  docs/docs/configuration/options.md
Labels: documentation

#4402 Add additional type
  packages/next-auth/src/jwt/index.ts
  packages/next-auth/src/next/middleware.ts
Labels: core

#4202 fix(providers): profile types
  packages/next-auth/src/providers/42-school.ts
  packages/next-auth/src/providers/apple.ts
  packages/next-auth/src/providers/atlassian.ts
  packages/next-auth/src/providers/auth0.ts
  packages/next-auth/src/providers/authentik.ts
  packages/next-auth/src/providers/azure-ad-b2c.ts
  packages/next-auth/src/providers/azure-ad.ts
  packages/next-auth/src/providers/battlenet.ts
  packages/next-auth/src/providers/boxyhq-saml.ts
  packages/next-auth/src/providers/cognito.ts
  packages/next-auth/src/providers/discord.ts
  packages/next-auth/src/providers/eveonline.ts
  packages/next-auth/src/providers/facebook.ts
  packages/next-auth/src/providers/fusionauth.ts
  packages/next-auth/src/providers/google.ts
  packages/next-auth/src/providers/kakao.ts
  packages/next-auth/src/providers/keycloak.ts
  packages/next-auth/src/providers/line.ts
  packages/next-auth/src/providers/linkedin.ts
  packages/next-auth/src/providers/naver.ts
  packages/next-auth/src/providers/okta.ts
  packages/next-auth/src/providers/osu.ts
  packages/next-auth/src/providers/patreon.ts
  packages/next-auth/src/providers/pipedrive.ts
  packages/next-auth/src/providers/slack.ts
  packages/next-auth/src/providers/spotify.ts
  packages/next-auth/src/providers/trakt.ts
  packages/next-auth/src/providers/twitch.ts
  packages/next-auth/src/providers/workos.ts
  packages/next-auth/src/providers/zoom.ts
Labels: providers, core

#4472 fix(ts): handle NextRequest type
  packages/next-auth/src/client/__tests__/csrf.test.js
  packages/next-auth/src/client/__tests__/helpers/mocks.js
  packages/next-auth/src/client/__tests__/providers.test.js
  packages/next-auth/src/client/__tests__/session.test.js
  packages/next-auth/src/client/__tests__/sign-in.test.js
  packages/next-auth/src/client/__tests__/sign-out.test.js
  packages/next-auth/src/core/lib/cookie.ts
  packages/next-auth/src/jwt/index.ts
Labels: core, client

#4475 docs: remove redudant and deprecated session.jwt
  packages/next-auth/src/core/types.ts
Labels: TypeScript, core

#4443 fix: loosen env variable URL fallback
  packages/next-auth/src/react/index.tsx
Labels: core, client

#4484 test(signout): fix skipped test
  packages/next-auth/src/client/__tests__/sign-out.test.js
  packages/next-auth/src/react/index.tsx
Labels: core, client
