Repository nextauthjs/next-auth, pull requests merged in 2022-05, with the labels that each got.

#4420 chore: pnpm
  .github/workflows/release.yml
  .gitignore
  apps/dev/package.json
  package.json
  packages/adapter-dgraph/package.json
  packages/adapter-dgraph/tests/index.test.ts
  packages/adapter-dgraph/tsconfig.json
  packages/adapter-dynamodb/jest.config.js
  packages/adapter-dynamodb/package.json
  packages/adapter-dynamodb/tests/index.test.ts
  packages/adapter-dynamodb/tsconfig.json
  packages/adapter-fauna/package.json
  packages/adapter-fauna/tests/index.test.ts
  packages/adapter-fauna/tsconfig.json
  packages/adapter-firebase/jest.config.js
  packages/adapter-firebase/package.json
  packages/adapter-firebase/tests/index.test.ts
  packages/adapter-firebase/tsconfig.json
  packages/adapter-mikro-orm/package.json
  packages/adapter-mikro-orm/tests/index.test.ts
  packages/adapter-mikro-orm/tests/testEntities.ts
  packages/adapter-mikro-orm/tsconfig.json
  packages/adapter-mongodb/package.json
  packages/adapter-mongodb/tests/custom.test.ts
  packages/adapter-mongodb/tests/index.test.ts
  packages/adapter-mongodb/tsconfig.json
  packages/adapter-neo4j/package.json
  packages/adapter-neo4j/tests/index.test.ts
  packages/adapter-neo4j/tsconfig.json
  packages/adapter-pouchdb/package.json
  packages/adapter-pouchdb/tests/index.test.ts
  packages/adapter-pouchdb/tsconfig.json
  packages/adapter-prisma/package.json
  packages/adapter-prisma/tests/index.test.ts
  packages/adapter-prisma/tests/mongodb.test.sh
  packages/adapter-prisma/tsconfig.json
  packages/adapter-sequelize/package.json
  packages/adapter-sequelize/tests/index.test.ts
  packages/adapter-sequelize/tsconfig.json
  packages/adapter-test/package.json
  packages/adapter-typeorm-legacy/package.json
  packages/adapter-typeorm-legacy/tests/helpers.ts
  packages/adapter-typeorm-legacy/tsconfig.json
  packages/adapter-upstash-redis/package.json
  packages/adapter-upstash-redis/tests/index.test.ts
  packages/adapter-upstash-redis/tsconfig.json
  packages/next-auth/package.json
  packages/next-auth/tsconfig.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/release/publish.ts
  yarn.lock
Labels: firebase, prisma, dynamodb, fauna, mikro-orm, dgraph, mongodb, neo4j, pouchdb, sequelize, upstash-redis, typeorm-legacy

#4504 Typo correction
  packages/adapter-sequelize/src/index.ts
Labels: sequelize

#4534 Use relative URL for Signin page callbackUrl
  packages/next-auth/src/next/middleware.ts
Labels: core

#4623 fix: signIn infer provider type
  packages/next-auth/src/react/index.tsx
Labels: core, client

#4655 Revert "fix: signIn infer provider type"
  packages/next-auth/src/react/index.tsx
Labels: core, client

#4657 fix(ts): remove unused type
  packages/next-auth/src/providers/oauth.ts
Labels: providers, core

#4659 fix(ts): allow `getToken` in `getServerSideProps`
  packages/next-auth/src/jwt/index.ts
Labels: core
