Repository nextauthjs/next-auth, pull requests merged in 2022-02, with the labels that each got.

#3758 fix: typo in signin redirect url for response with error
  src/core/routes/signin.ts
Labels: core

#3740 feat: added types for sign in errors
  src/core/pages/error.tsx
  src/core/pages/signin.tsx
Labels: core

#3783 feat(core): detect `NEXTAUTH_SECRET`
  app/.env.local.example
  app/pages/api/auth/[...nextauth].ts
  src/core/types.ts
  src/jwt/index.ts
  src/jwt/types.ts
  src/next/index.ts
Labels: core

#3784 fix(providers): properly warn when using Twitter OAuth 2
  src/core/lib/assert.ts
  src/lib/logger.ts
  src/providers/twitter.ts
Labels: providers, core

#3771 added trakt provider
  app/.env.local.example
  app/pages/api/auth/[...nextauth].ts
  src/providers/trakt.ts
Labels: providers, core

#3657 feat(middleware): introduce `withAuth` Next.js method
  .gitignore
  app/components/header.js
  app/package.json
  app/pages/middleware-protected/_middleware.js
  app/pages/middleware-protected/index.js
  package.json
  src/jwt/index.ts
  src/lib/parse-url.ts
  src/middleware.ts
  src/next/middleware.ts
Labels: core

#3799 fix(middleware): handle no argument case
  src/next/middleware.ts
Labels: core

#3835 docs(faq): fixes typo
  packages/docs/docs/faq.md
Labels: docs

#3849 docs: move `encode/decode` to advanced options
  .github/labeler.yml
  packages/docs/docs/configuration/options.md
Labels: documentation, docs

#3854 Adjust the misspelling of NEXT_AUTH
  packages/docs/docs/configuration/options.md
Labels: documentation

#3857 docs: Typo correction on configuration->options docs
  packages/docs/docs/configuration/options.md
Labels: documentation

#3856 docs(oauth): fixes typo in comment
  packages/docs/docs/configuration/providers/oauth.md
Labels: documentation

#3877 feat(docs): Fauna Adapter setup commands split into two sections
  packages/docs/docs/adapters/fauna.md
Labels: documentation

#3886 fix(providers): refactor WorkOS to work in v4
  apps/dev/pages/api/auth/[...nextauth].ts
  packages/next-auth/src/providers/workos.js
  packages/next-auth/src/providers/workos.ts
Labels: providers, core

#3875 chore: set correct version range for mikro-orm v5
  packages/adapter-mikro-orm/package.json
  yarn.lock
Labels: mikro-orm

#3874 chore: add v4 migration script for adapters
  docs/docs/adapters/firebase.md
  docs/docs/adapters/overview.md
  docs/docs/adapters/pouchdb.md
  docs/docs/adapters/typeorm.md
  docs/docs/getting-started/upgrade-to-v4.md
  docs/docs/tutorials/creating-a-database-adapter.md
Labels: adapters

#4003 fix: only warn when using Twitter + OAuth 2.0
  packages/next-auth/src/core/lib/assert.ts
Labels: core

#4015 Switch BattleNet to OIDC
  packages/next-auth/src/providers/battlenet.js
  packages/next-auth/src/providers/battlenet.ts
Labels: providers, core

#4064 [TypeORM adapter] Widen refresh_token type to permit null
  docs/docs/adapters/typeorm.md
  packages/adapter-typeorm-legacy/src/entities.ts
  packages/adapter-typeorm-legacy/tests/custom-entities.ts
Labels: typeorm-legacy

#4072 fix typo : SignInAuthorisation -> SignInAuthorization
  packages/next-auth/src/react/index.tsx
  packages/next-auth/src/react/types.ts
Labels: TypeScript, core, client
