Repository nextauthjs/next-auth, pull requests merged in 2022-07, with the labels that each got.

#4816 fix: show experimental api warning only in dev and only once
  packages/next-auth/src/next/index.ts
  packages/next-auth/tests/getServerSession.test.ts
Labels: core

#4841 feat(providers): allow styling e-mail through `theme` option
  apps/dev/pages/api/auth/[...nextauth].ts
  docs/docs/configuration/options.md
  docs/docs/providers/email.md
  packages/next-auth/src/core/init.ts
  packages/next-auth/src/core/lib/email/signin.ts
  packages/next-auth/src/core/routes/signin.ts
  packages/next-auth/src/core/types.ts
  packages/next-auth/src/providers/email.ts
  packages/next-auth/tests/email.test.ts
Labels: TypeScript, providers, core

#4850 feat(providers): add Duende IdentityServer 6
  apps/dev/pages/api/auth/[...nextauth].ts
  docs/versioned_docs/version-v3/providers/duende-identity-server6.md
  docs/versioned_docs/version-v3/providers/identity-server4.md
  packages/next-auth/src/providers/duende-identity-server6.ts
Labels: providers, core

#4846 Secret Option in Middleware
  docs/docs/configuration/nextjs.md
  docs/docs/configuration/options.md
  packages/next-auth/src/next/middleware.ts
Labels: core

#4844 feat(adapters): update `typeorm` support
  .gitignore
  apps/dev/package.json
  apps/dev/pages/api/auth/[...nextauth].ts
  docs/docs/adapters/typeorm.md
  packages/adapter-test/jest/jest-preset.js
  packages/adapter-typeorm-legacy/package.json
  packages/adapter-typeorm-legacy/src/index.ts
  packages/adapter-typeorm-legacy/src/utils.ts
  packages/adapter-typeorm-legacy/tests/helpers.ts
  packages/adapter-typeorm-legacy/tests/index.test.ts
  packages/adapter-typeorm-legacy/tests/sqlite/index.test.ts
  pnpm-lock.yaml
Labels: typeorm-legacy

#4813 feat(providers): Add Wikimedia Oauth Provider
  apps/dev/.env.local.example
  apps/dev/pages/api/auth/[...nextauth].ts
  docs/docs/providers/wikimedia.md
  packages/next-auth/src/providers/wikimedia.ts
Labels: providers, core

#3873 feat: update Firebase adapter to use new API
  docs/docs/adapters/firebase.md
  packages/adapter-firebase/README.md
  packages/adapter-firebase/jest.config.js
  packages/adapter-firebase/package.json
  packages/adapter-firebase/src/converter.ts
  packages/adapter-firebase/src/index.ts
  packages/adapter-firebase/src/utils.ts
  packages/adapter-firebase/tests/index.test.ts
  packages/adapter-firebase/tsconfig.json
  pnpm-lock.yaml
Labels: firebase

#4097 fix(providers): change type of EmailConfig
  packages/next-auth/src/providers/email.ts
Labels: providers, core

#3709 VK provider fix
  apps/dev/pages/api/auth/[...nextauth].ts
  packages/next-auth/src/providers/vk.js
  packages/next-auth/src/providers/vk.ts
Labels: providers, core

#4908 chore(providers): rewrite github provider in typescript
  docs/docs/providers/github.md
  docs/versioned_docs/version-v3/providers/github.md
  packages/next-auth/src/providers/github.js
  packages/next-auth/src/providers/github.ts
Labels: providers, core

#4818 fix(ts): handleMiddleware return type can be NextMiddlewareResult
  packages/next-auth/src/next/middleware.ts
Labels: core

#4938 fix(providers): typo in GitHub provider scope
  packages/next-auth/src/providers/github.ts
Labels: providers, core

#4926 fix(ts): remove TS workaround for `withAuth`
  apps/dev/middleware.ts
  docs/docs/configuration/nextjs.md
  packages/next-auth/src/next/middleware.ts
Labels: core

#4929 feat(provider): migrate gitlab provider to ts
  packages/next-auth/src/providers/gitlab.js
  packages/next-auth/src/providers/gitlab.ts
Labels: providers, core

#4950 fix(adapters): set correct peer dependency version of `next-auth`
  packages/adapter-dgraph/package.json
  packages/adapter-dynamodb/package.json
  packages/adapter-fauna/package.json
  packages/adapter-firebase/package.json
  packages/adapter-mongodb/package.json
  packages/adapter-neo4j/package.json
  packages/adapter-pouchdb/package.json
  packages/adapter-prisma/package.json
  packages/adapter-upstash-redis/package.json
Labels: firebase, prisma, dynamodb, fauna, dgraph, mongodb, neo4j, pouchdb, upstash-redis

#4970 fix: improve `logger`
  docs/docs/errors.md
  docs/docs/warnings.md
  packages/next-auth/src/client/__tests__/csrf.test.js
  packages/next-auth/src/client/__tests__/providers.test.js
  packages/next-auth/src/client/__tests__/session.test.js
  packages/next-auth/src/client/__tests__/sign-in.test.js
  packages/next-auth/src/client/_utils.ts
  packages/next-auth/src/core/index.ts
  packages/next-auth/src/core/lib/assert.ts
  packages/next-auth/src/core/lib/email/signin.ts
  packages/next-auth/src/core/lib/oauth/authorization-url.ts
  packages/next-auth/src/core/lib/oauth/callback.ts
  packages/next-auth/src/core/routes/signin.ts
  packages/next-auth/src/utils/logger.ts
Labels: core, client

#5000 fix: avoid redirect on always public paths
  docs/docs/configuration/nextjs.md
  docs/docs/errors.md
  packages/next-auth/config/babel.config.js
  packages/next-auth/src/core/index.ts
  packages/next-auth/src/next/middleware.ts
Labels: core

#5039 Fix jsdoc link to documentation
  packages/next-auth/src/next/middleware.ts
Labels: core
