Repository nextauthjs/next-auth, pull requests merged in 2022-12, with the labels that each got.

#4719 feat(cookies): make pkce and state maxAge configurable on the cookies…
  docs/docs/configuration/options.md
  packages/next-auth/src/core/lib/cookie.ts
  packages/next-auth/src/core/lib/oauth/pkce-handler.ts
  packages/next-auth/src/core/lib/oauth/state-handler.ts
  packages/next-auth/tests/pkce-handler.test.ts
  packages/next-auth/tests/state-handler.test.ts
Labels: core

#5915 fix(provider): modify response.name to response.nickname (Naver)
  packages/next-auth/src/providers/naver.ts
Labels: providers, core

#5815 chore(types): fix typo in comment
  packages/next-auth/src/core/types.ts
Labels: TypeScript, core

#5945 fix(adapters): tsconfig for firebase and pouchdb
  packages/adapter-firebase/tsconfig.json
  packages/adapter-pouchdb/tsconfig.json
Labels: adapters, firebase, pouchdb

#5902 chore(adapters): update firebase sdk version in firebase adapter
  packages/adapter-firebase/package.json
  pnpm-lock.yaml
Labels: adapters, firebase

#4769 refactor(core): use standard `Request` and `Response`
  packages/next-auth/src/core/index.ts
  packages/next-auth/src/index.ts
  packages/next-auth/src/next/index.ts
  packages/next-auth/src/next/middleware.ts
  packages/next-auth/src/next/utils.ts
  packages/next-auth/src/utils/detect-host.ts
  packages/next-auth/src/utils/node.ts
  packages/next-auth/src/utils/parse-url.ts
  packages/next-auth/src/utils/web.ts
  packages/next-auth/tests/assert.test.ts
  packages/next-auth/tests/email.test.ts
  packages/next-auth/tests/getServerSession.test.ts
  packages/next-auth/tests/lib.ts
  packages/next-auth/tests/next.test.ts
  packages/next-auth/tests/pkce-handler.test.ts
  packages/next-auth/tests/state-handler.test.ts
  packages/next-auth/tests/utils.ts
Labels: core

#5973 fix: dont mutate authOptions when calling unstable_getServerSession(req, res, authOptions)
  packages/next-auth/src/next/index.ts
Labels: core

#5984 fix(core): properly construct url
  packages/next-auth/src/utils/node.ts
Labels: core

#5991 fix(core): handle `Request` -> `Response` regressions
  packages/next-auth/src/next/index.ts
  packages/next-auth/src/utils/node.ts
Labels: core

#5929 fix(sequelize): increase sequelize `id_token` column length
  packages/adapter-sequelize/src/models.ts
Labels: adapters, sequelize

#6004 fix(core): correct status code when returning redirects
  packages/next-auth/src/core/index.ts
  packages/next-auth/src/next/index.ts
  packages/next-auth/src/react/index.tsx
  packages/next-auth/tests/next.test.ts
Labels: core, client

#6007 fix(core): host detection/NEXTAUTH_URL
  packages/next-auth/src/core/errors.ts
  packages/next-auth/src/core/index.ts
  packages/next-auth/src/core/init.ts
  packages/next-auth/src/core/lib/assert.ts
  packages/next-auth/src/core/lib/providers.ts
  packages/next-auth/src/core/lib/utils.ts
  packages/next-auth/src/core/pages/error.tsx
  packages/next-auth/src/core/pages/index.ts
  packages/next-auth/src/core/pages/signout.tsx
  packages/next-auth/src/core/routes/providers.ts
  packages/next-auth/src/core/routes/session.ts
  packages/next-auth/src/core/types.ts
  packages/next-auth/src/jwt/index.ts
  packages/next-auth/src/next/index.ts
  packages/next-auth/src/next/middleware.ts
  packages/next-auth/src/utils/node.ts
  packages/next-auth/src/utils/parse-url.ts
  packages/next-auth/src/utils/web.ts
  packages/next-auth/tests/assert.test.ts
  packages/next-auth/tests/email.test.ts
  packages/next-auth/tests/getURL.test.ts
  packages/next-auth/tests/middleware.test.ts
  packages/next-auth/tests/next.test.ts
Labels: TypeScript, core, pages

#6029 fix(core): preserve incoming set cookies
  packages/next-auth/src/utils/node.ts
  packages/next-auth/src/utils/web.ts
  packages/next-auth/tests/next.test.ts
  packages/next-auth/tests/utils.ts
Labels: core

#6115 docs: /reference sidebar improvements
  .prettierrc.js
  docs/docs/reference/03-react/index.md
  docs/docs/reference/03-sveltekit/index.md
  docs/docs/reference/04-nextjs/client.md
  docs/docs/reference/04-nextjs/index.md
  docs/docs/reference/06-adapters/00-overview.md
  docs/docs/reference/index.md
  docs/docusaurus.config.js
  docs/package.json
  docs/sidebars.js
  docs/tyepdoc.js
  package.json
  packages/adapter-mikro-orm/tests/__snapshots__/schema.test.ts.snap
  packages/core/package.json
  packages/core/src/adapters.ts
  packages/core/src/index.ts
  patches/typedoc-plugin-markdown@3.14.0.patch
  pnpm-lock.yaml
Labels: adapters, mikro-orm

#5976 fix: incorrect signin redirect url on session required
  packages/next-auth/src/react/index.tsx
Labels: core, client

#6132 fix(next-auth): revert to 4.17 to fix host issues but keep other fixes
  packages/next-auth/src/core/errors.ts
  packages/next-auth/src/core/index.ts
  packages/next-auth/src/core/init.ts
  packages/next-auth/src/core/lib/assert.ts
  packages/next-auth/src/core/lib/providers.ts
  packages/next-auth/src/core/lib/utils.ts
  packages/next-auth/src/core/pages/error.tsx
  packages/next-auth/src/core/pages/index.ts
  packages/next-auth/src/core/pages/signout.tsx
  packages/next-auth/src/core/routes/providers.ts
  packages/next-auth/src/core/routes/session.ts
  packages/next-auth/src/core/types.ts
  packages/next-auth/src/index.ts
  packages/next-auth/src/next/index.ts
  packages/next-auth/src/next/middleware.ts
  packages/next-auth/src/next/utils.ts
  packages/next-auth/src/react/index.tsx
  packages/next-auth/src/utils/detect-host.ts
  packages/next-auth/src/utils/node.ts
  packages/next-auth/src/utils/parse-url.ts
  packages/next-auth/src/utils/web.ts
  packages/next-auth/tests/assert.test.ts
  packages/next-auth/tests/email.test.ts
  packages/next-auth/tests/getServerSession.test.ts
  packages/next-auth/tests/getURL.test.ts
  packages/next-auth/tests/lib.ts
  packages/next-auth/tests/middleware.test.ts
  packages/next-auth/tests/next.test.ts
  packages/next-auth/tests/pkce-handler.test.ts
  packages/next-auth/tests/state-handler.test.ts
  packages/next-auth/tests/utils.ts
Labels: TypeScript, core, client, pages

#6196 docs: fix links to moved docs
  .github/PULL_REQUEST_TEMPLATE.md
  apps/dev/README.md
  docs/README.md
  docs/docs/guides/04-providers/00-custom-provider.md
  packages/adapter-dgraph/README.md
  packages/adapter-dynamodb/README.md
  packages/adapter-fauna/README.md
  packages/adapter-firebase/README.md
  packages/adapter-mikro-orm/README.md
  packages/adapter-mongodb/README.md
  packages/adapter-neo4j/README.md
  packages/adapter-pouchdb/README.md
  packages/adapter-prisma/README.md
  packages/adapter-sequelize/README.md
  packages/adapter-typeorm-legacy/README.md
  packages/adapter-upstash-redis/README.md
  packages/next-auth/README.md
Labels: adapters, firebase, prisma, dynamodb, fauna, mikro-orm, dgraph, mongodb, neo4j, pouchdb, sequelize, upstash-redis, typeorm-legacy

#5824 fix(core): update CallbacksOptions.jwt docstring
  packages/core/src/types.ts
Labels: TypeScript, core

#6036 feat: type safety for BirthDay
  packages/core/src/providers/kakao.ts
Labels: providers, core

#5823 fix: added function overload to getToken
  packages/core/src/jwt.ts
Labels: core

#6158 feat(solid-start): introduce `@auth/solid-start` package/example
  .github/sync.yml
  apps/examples/solid-start/.env.example
  apps/examples/solid-start/.gitignore
  apps/examples/solid-start/README.MD
  apps/examples/solid-start/package.json
  apps/examples/solid-start/postcss.config.cjs
  apps/examples/solid-start/public/favicon.ico
  apps/examples/solid-start/src/components/NavBar/NavBar.tsx
  apps/examples/solid-start/src/components/NavBar/index.ts
  apps/examples/solid-start/src/components/Protected/Protected.tsx
  apps/examples/solid-start/src/components/Protected/index.ts
  apps/examples/solid-start/src/components/index.ts
  apps/examples/solid-start/src/entry-client.tsx
  apps/examples/solid-start/src/entry-server.tsx
  apps/examples/solid-start/src/env/client.ts
  apps/examples/solid-start/src/env/schema.ts
  apps/examples/solid-start/src/env/server.ts
  apps/examples/solid-start/src/root.css
  apps/examples/solid-start/src/root.tsx
  apps/examples/solid-start/src/routes/api/auth/[...solidauth].ts
  apps/examples/solid-start/src/routes/index.tsx
  apps/examples/solid-start/src/routes/protected.tsx
  apps/examples/solid-start/tailwind.config.cjs
  apps/examples/solid-start/tsconfig.json
  apps/examples/solid-start/vite.config.ts
  docs/docs/getting-started/02-oauth-tutorial.mdx
  docs/docs/reference/04-solidstart/client.md
  docs/docs/reference/04-solidstart/index.md
  docs/docs/reference/04-solidstart/protected.md
  docs/docs/reference/index.md
  docs/sidebars.js
  docs/src/pages/index.js
  packages/frameworks-solid-start/.gitignore
  packages/frameworks-solid-start/README.MD
  packages/frameworks-solid-start/package.json
  packages/frameworks-solid-start/scripts/postbuild.js
  packages/frameworks-solid-start/src/client.ts
  packages/frameworks-solid-start/src/index.ts
  packages/frameworks-solid-start/tsconfig.eslint.json
  packages/frameworks-solid-start/tsconfig.json
  packages/frameworks-solid-start/tsup.config.js
  pnpm-lock.yaml
Labels: frameworks, solidjs, examples

#6241 Fix broken docs link in solidstart example
  apps/examples/solid-start/src/routes/index.tsx
Labels: examples
