Repository nextauthjs/next-auth, pull requests merged in 2022-09, with the labels that each got.

#5245 fix: Change getToken parameter type to required
  packages/next-auth/src/jwt/index.ts
Labels: core

#5241 Update Strava Provider
  docs/versioned_docs/version-v3/providers/strava.md
  packages/next-auth/src/providers/strava.ts
Labels: providers, core

#5290 feat(adapters): let user configure MongoDB database name
  packages/adapter-mongodb/README.md
  packages/adapter-mongodb/src/index.ts
Labels: adapters, mongodb

#5236 fix(providers): Include `client_id` and `client_secret` in LinkedIn token request
  packages/next-auth/src/providers/linkedin.ts
Labels: providers, core

#4951 chore: turbo cleanup
  .gitignore
  apps/dev/next.config.js
  apps/dev/package.json
  apps/dev/tsconfig.json
  package.json
  packages/adapter-dgraph/package.json
  packages/adapter-dynamodb/package.json
  packages/adapter-fauna/package.json
  packages/adapter-firebase/package.json
  packages/adapter-mikro-orm/package.json
  packages/adapter-mongodb/package.json
  packages/adapter-neo4j/package.json
  packages/adapter-pouchdb/package.json
  packages/adapter-prisma/package.json
  packages/adapter-sequelize/package.json
  packages/adapter-typeorm-legacy/package.json
  packages/adapter-upstash-redis/package.json
  packages/next-auth/package.json
  packages/next-auth/src/css/index.ts
  packages/next-auth/tsconfig.dev.json
  packages/next-auth/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Labels: adapters, core, style, firebase, prisma, dynamodb, fauna, mikro-orm, dgraph, mongodb, neo4j, pouchdb, sequelize, upstash-redis, typeorm, typeorm-legacy

#4780 chore: fix builds/tests/eslint
  .eslintrc.js
  package.json
  packages/adapter-dgraph/tsconfig.eslint.json
  packages/adapter-dgraph/tsconfig.json
  packages/adapter-dynamodb/tsconfig.eslint.json
  packages/adapter-dynamodb/tsconfig.json
  packages/adapter-fauna/tsconfig.eslint.json
  packages/adapter-fauna/tsconfig.json
  packages/adapter-firebase/tsconfig.eslint.json
  packages/adapter-firebase/tsconfig.json
  packages/adapter-mikro-orm/tsconfig.eslint.json
  packages/adapter-mikro-orm/tsconfig.json
  packages/adapter-mongodb/tsconfig.eslint.json
  packages/adapter-mongodb/tsconfig.json
  packages/adapter-neo4j/tsconfig.eslint.json
  packages/adapter-neo4j/tsconfig.json
  packages/adapter-pouchdb/tsconfig.eslint.json
  packages/adapter-pouchdb/tsconfig.json
  packages/adapter-prisma/tests/index.test.ts
  packages/adapter-prisma/tsconfig.eslint.json
  packages/adapter-prisma/tsconfig.json
  packages/adapter-sequelize/tsconfig.eslint.json
  packages/adapter-sequelize/tsconfig.json
  packages/adapter-typeorm-legacy/tsconfig.eslint.json
  packages/adapter-typeorm-legacy/tsconfig.json
  packages/adapter-upstash-redis/tsconfig.eslint.json
  packages/adapter-upstash-redis/tsconfig.json
  packages/next-auth/package.json
  packages/next-auth/tests/getServerSession.test.ts
  packages/next-auth/tests/lib.ts
  packages/next-auth/tsconfig.eslint.json
  packages/next-auth/tsconfig.json
  packages/tsconfig/package.json
  packages/tsconfig/tsconfig.adapters.json
  packages/tsconfig/tsconfig.base.json
  pnpm-lock.yaml
Labels: adapters, firebase, prisma, dynamodb, fauna, mikro-orm, dgraph, mongodb, neo4j, pouchdb, sequelize, upstash-redis, typeorm, typeorm-legacy

#4633 feat(providers): Adding HubSpot Provider
  SECURITY.md
  docs/docs/providers/hubspot.md
  packages/next-auth/src/providers/hubspot.ts
Labels: providers, core

#5104 fix(middleware): use `includes()` for NextAuth pages
  packages/next-auth/src/next/middleware.ts
  packages/next-auth/tests/middleware.test.ts
Labels: core

#5316 fix(mikro-orm): re-enable tests
  package.json
  packages/adapter-mikro-orm/package.json
  packages/adapter-mikro-orm/src/entities.ts
  packages/adapter-mikro-orm/tests/__snapshots__/schema.test.ts.snap
  packages/adapter-mikro-orm/tests/entities.test.ts
  packages/adapter-mikro-orm/tests/schema.test.ts
  packages/adapter-mikro-orm/tests/testEntities.ts
  packages/adapter-mikro-orm/tsconfig.eslint.json
  packages/adapter-mikro-orm/tsconfig.json
  pnpm-lock.yaml
Labels: adapters, mikro-orm

#5377 fix(upstash-redis): check token during email verification
  packages/adapter-upstash-redis/src/index.ts
Labels: adapters, upstash-redis

#5328 Add option for custom generateSessionToken
  docs/docs/configuration/options.md
  packages/next-auth/src/core/init.ts
  packages/next-auth/src/core/lib/callback-handler.ts
  packages/next-auth/src/core/types.ts
Labels: TypeScript, core

#5444 fix: safe use of localStorage API
  packages/next-auth/src/client/_utils.ts
Labels: core, client

#5442 fix(core): return JSON for non-HTML server route errors
  packages/next-auth/src/core/index.ts
  packages/next-auth/src/next/index.ts
  packages/next-auth/tests/getServerSession.test.ts
  packages/next-auth/tests/middleware.test.ts
Labels: core

#5438 Export SessionContext solve #5437
  packages/next-auth/src/react/index.tsx
Labels: core, client
