Repository nextauthjs/next-auth, pull requests merged in 2022-06, with the labels that each got.

#4546 feat(provider): add United Effects provider
  docs/docs/providers/united-effects.md
  packages/next-auth/src/providers/united-effects.ts
Labels: providers, core

#4705 fix(providers): send `client_id` and `client_secret` in body for Instagram Provider
  packages/next-auth/src/providers/instagram.js
Labels: providers, core

#4704 feat: allow standard `Request` in `NextAuthHandler`
  .github/workflows/release.yml
  .gitignore
  packages/adapter-test/jest/jest-preset.js
  packages/adapter-test/package.json
  packages/next-auth/config/babel.config.js
  packages/next-auth/config/jest.client.config.js
  packages/next-auth/config/jest.core.config.js
  packages/next-auth/config/swc.config.js
  packages/next-auth/package.json
  packages/next-auth/src/client/__tests__/csrf.test.js
  packages/next-auth/src/client/__tests__/providers.test.js
  packages/next-auth/src/client/__tests__/session.test.js
  packages/next-auth/src/client/__tests__/sign-in.test.js
  packages/next-auth/src/core/index.ts
  packages/next-auth/src/core/init.ts
  packages/next-auth/src/core/lib/assert.ts
  packages/next-auth/src/core/lib/callback-handler.ts
  packages/next-auth/src/core/lib/callback-url.ts
  packages/next-auth/src/core/lib/csrf-token.ts
  packages/next-auth/src/core/lib/email/signin.ts
  packages/next-auth/src/core/lib/oauth/authorization-url.ts
  packages/next-auth/src/core/lib/oauth/callback.ts
  packages/next-auth/src/core/lib/oauth/client-legacy.ts
  packages/next-auth/src/core/lib/oauth/client.ts
  packages/next-auth/src/core/lib/oauth/pkce-handler.ts
  packages/next-auth/src/core/lib/oauth/state-handler.ts
  packages/next-auth/src/core/lib/providers.ts
  packages/next-auth/src/core/lib/utils.ts
  packages/next-auth/src/core/pages/error.tsx
  packages/next-auth/src/core/pages/index.ts
  packages/next-auth/src/core/pages/signin.tsx
  packages/next-auth/src/core/pages/signout.tsx
  packages/next-auth/src/core/pages/verify-request.tsx
  packages/next-auth/src/core/routes/callback.ts
  packages/next-auth/src/core/routes/providers.ts
  packages/next-auth/src/core/routes/session.ts
  packages/next-auth/src/core/routes/signin.ts
  packages/next-auth/src/core/routes/signout.ts
  packages/next-auth/src/core/types.ts
  packages/next-auth/src/index.ts
  packages/next-auth/src/lib/types.ts
  packages/next-auth/src/next/index.ts
  packages/next-auth/src/next/middleware.ts
  packages/next-auth/src/next/utils.ts
  packages/next-auth/src/providers/credentials.ts
  packages/next-auth/src/react/index.tsx
  packages/next-auth/src/utils/detect-host.ts
  packages/next-auth/src/utils/logger.ts
  packages/next-auth/src/utils/merge.ts
  packages/next-auth/src/utils/parse-url.ts
  packages/next-auth/tests/assert.test.ts
  packages/next-auth/tests/lib.ts
  packages/next-auth/tsconfig.json
  pnpm-lock.yaml
Labels: TypeScript, providers, core, client, pages

#4679 fix: signIn infer provider type
  packages/next-auth/src/react/index.tsx
Labels: core, client

#4757 fix: update Middleware
  apps/dev/middleware.ts
  apps/dev/next-env.d.ts
  apps/dev/package.json
  apps/example-gatsby/package.json
  apps/example-nextjs/middleware.ts
  apps/example-nextjs/package.json
  apps/example-nextjs/pages/admin.tsx
  apps/example-nextjs/pages/admin/_middleware.ts
  apps/example-nextjs/pages/me.tsx
  apps/example-nextjs/pages/me/_middleware.ts
  apps/playground-sveltekit/package.json
  docs/docs/configuration/nextjs.md
  packages/next-auth/package.json
  packages/next-auth/src/core/index.ts
  packages/next-auth/src/core/lib/cookie.ts
  packages/next-auth/src/next/middleware.ts
  pnpm-lock.yaml
Labels: core
