Repository nextauthjs/next-auth, pull requests merged in 2022-03, with the labels that each got.

#4082 fix: deduplicate id, return correct updated data
  packages/adapter-mongodb/package.json
  packages/adapter-mongodb/src/index.ts
  yarn.lock
Labels: mongodb

#4083 fix: ensure Prisma/MongoDB integration
  apps/dev/package.json
  docs/docs/adapters/prisma.md
  packages/adapter-prisma/package.json
  packages/adapter-prisma/prisma/mongodb.prisma
  packages/adapter-prisma/src/index.ts
  packages/adapter-prisma/tests/index.test.ts
  packages/adapter-prisma/tests/mongodb.test.sh
  yarn.lock
Labels: prisma

#3782 feat(providers): add BoxyHQ SAML Jackson provider
  apps/dev/.env.local.example
  apps/dev/pages/api/auth/[...nextauth].ts
  docs/docs/providers/boxyhq-saml.md
  packages/next-auth/src/providers/boxyhq-saml.ts
Labels: providers, core

#4174 Fix `encodeURIComponent(callbackUrl)` for custom signIn page
  packages/next-auth/src/core/index.ts
Labels: core

#4205 fix: set module to commonjs for adapters
  packages/adapter-dgraph/tsconfig.json
  packages/adapter-dynamodb/tsconfig.json
  packages/adapter-fauna/tsconfig.json
  packages/adapter-mikro-orm/tsconfig.json
  packages/adapter-mongodb/tsconfig.json
  packages/adapter-neo4j/tsconfig.json
  packages/adapter-prisma/tsconfig.json
  packages/adapter-sequelize/tsconfig.json
  packages/adapter-typeorm-legacy/tsconfig.json
  packages/adapter-upstash-redis/tsconfig.json
  packages/next-auth/tsconfig.json
  packages/tsconfig/adapters.json
  packages/tsconfig/base.json
Labels: prisma, dynamodb, fauna, mikro-orm, dgraph, mongodb, neo4j, sequelize, upstash-redis, typeorm-legacy

#4192 fix: body font-family stack
  apps/dev/pages/styles.css
  apps/example-nextjs/pages/styles.css
  apps/playground-sveltekit/src/routes/__layout.svelte
  docs/src/css/index.css
  packages/next-auth/src/css/index.css
Labels: core, style

#4201 fix(docs): pin @upstash/redis version to 0.2.1
  docs/docs/adapters/upstash-redis.md
  packages/adapter-upstash-redis/README.md
  packages/adapter-upstash-redis/package.json
  yarn.lock
Labels: upstash-redis

#4213 chore(adapters): upgrade upstash-redis-adapter to use @upstash/redis@v1
  docs/docs/adapters/upstash-redis.md
  packages/adapter-upstash-redis/README.md
  packages/adapter-upstash-redis/package.json
  packages/adapter-upstash-redis/src/index.ts
  packages/adapter-upstash-redis/tests/index.test.ts
  yarn.lock
Labels: upstash-redis

#4226 chore(adapters): Add next-autth as devDependencies for adapters
  package.json
  packages/adapter-dgraph/package.json
  packages/adapter-dynamodb/package.json
  packages/adapter-fauna/package.json
  packages/adapter-firebase/package.json
  packages/adapter-mikro-orm/package.json
  packages/adapter-mongodb/package.json
  packages/adapter-neo4j/package.json
  packages/adapter-pouchdb/package.json
  packages/adapter-prisma/package.json
  packages/adapter-sequelize/package.json
  packages/adapter-typeorm-legacy/package.json
  packages/adapter-upstash-redis/package.json
  packages/next-auth/src/core/lib/oauth/client-legacy.ts
  packages/next-auth/src/lib/logger.ts
  packages/tsconfig/adapters.json
  yarn.lock
Labels: core, firebase, prisma, dynamodb, fauna, mikro-orm, dgraph, mongodb, neo4j, pouchdb, sequelize, upstash-redis, typeorm-legacy
