Repository nextauthjs/next-auth, pull requests merged in 2023-11, with the labels that each got.

#9025 fix: change `@auth/core` dependency to non-experimental
  packages/next-auth/package.json
  pnpm-lock.yaml
Labels: next-auth

#8932 use arrow functions to fix eslint warning
  packages/next-auth/src/index.tsx
Labels: next-auth

#9059 chore: upgrade to Docusaurus v3
  docs/docs/concepts/faq.md
  docs/docs/getting-started/adapters.mdx
  docs/docs/getting-started/introduction.mdx
  docs/docs/getting-started/providers/email-tutorial.mdx
  docs/docs/getting-started/providers/index.mdx
  docs/docs/guides/resources.md
  docs/docs/guides/testing/testing-with-cypress.md
  docs/docs/guides/upgrade-to-v5.md
  docs/docusaurus.config.js
  docs/docusaurus.config.ts
  docs/package.json
  docs/sidebars.ts
  docs/src/css/index.css
  docs/src/pages/index.js
  docs/tsconfig.json
  docs/typedoc-utils.ts
  docs/typedoc.json
  docs/vercel.json
  packages/adapter-azure-tables/src/index.ts
  packages/adapter-d1/src/index.ts
  packages/adapter-dgraph/src/index.ts
  packages/adapter-drizzle/src/index.ts
  packages/adapter-dynamodb/src/index.ts
  packages/adapter-edgedb/src/index.ts
  packages/adapter-fauna/src/index.ts
  packages/adapter-firebase/src/index.ts
  packages/adapter-hasura/src/index.ts
  packages/adapter-kysely/src/index.ts
  packages/adapter-mikro-orm/src/index.ts
  packages/adapter-mongodb/src/index.ts
  packages/adapter-neo4j/src/index.ts
  packages/adapter-pg/src/index.ts
  packages/adapter-pouchdb/src/index.ts
  packages/adapter-prisma/src/index.ts
  packages/adapter-sequelize/src/index.ts
  packages/adapter-supabase/src/index.ts
  packages/adapter-surrealdb/src/index.ts
  packages/adapter-typeorm/src/index.ts
  packages/adapter-upstash-redis/src/index.ts
  packages/adapter-xata/src/index.ts
  packages/core/src/adapters.ts
  packages/core/src/index.ts
  packages/core/src/jwt.ts
  packages/core/src/types.ts
  packages/frameworks-sveltekit/src/lib/index.ts
  packages/next-auth/src/index.tsx
  pnpm-lock.yaml
Labels: adapters, core, firebase, prisma, dynamodb, fauna, mikro-orm, dgraph, mongodb, neo4j, pouchdb, sequelize, upstash-redis, supabase, typeorm, xata, frameworks, svelte, drizzle, kysely, next-auth, d1, hasura, surrealdb, pg, azure-tables, edgedb

#9062 fix: broken links in doc
  .github/ISSUE_TEMPLATE/3_bug_adapter.yml
  apps/examples/nextjs/README.md
  apps/examples/nextjs/components/client-example.tsx
  apps/playgrounds/gatsby/README.md
  docs/docs/concepts/faq.md
  docs/docs/concepts/session-strategies.md
  docs/docs/getting-started/adapters.mdx
  docs/docs/getting-started/deployment.md
  docs/docs/getting-started/introduction.mdx
  docs/docs/getting-started/providers/credentials-tutorial.mdx
  docs/docs/getting-started/providers/email-tutorial.mdx
  docs/docs/getting-started/providers/index.mdx
  docs/docs/getting-started/providers/oauth-tutorial.mdx
  docs/docs/guides/adapters/creating-a-database-adapter.md
  docs/docs/guides/basics/callbacks.md
  docs/docs/guides/basics/initialization.md
  docs/docs/guides/basics/pages.md
  docs/docs/guides/basics/role-based-access-control.md
  docs/docs/guides/basics/securing-pages-and-api-routes.md
  docs/docs/guides/corporate-proxies/corporate-proxy.md
  docs/docs/guides/providers/credentials-provider.md
  docs/docs/guides/providers/email-http-api.md
  docs/docs/guides/providers/email-provider.md
  docs/docs/guides/upgrade-to-v5.md
  docs/vercel.json
  packages/adapter-azure-tables/src/index.ts
  packages/adapter-dgraph/src/index.ts
  packages/adapter-drizzle/src/index.ts
  packages/adapter-dynamodb/src/index.ts
  packages/adapter-edgedb/src/index.ts
  packages/adapter-fauna/src/index.ts
  packages/adapter-kysely/src/index.ts
  packages/adapter-mikro-orm/src/index.ts
  packages/adapter-neo4j/src/index.ts
  packages/adapter-pg/src/index.ts
  packages/adapter-prisma/src/index.ts
  packages/adapter-sequelize/src/index.ts
  packages/adapter-supabase/src/index.ts
  packages/adapter-typeorm/src/index.ts
  packages/core/src/adapters.ts
  packages/core/src/errors.ts
  packages/core/src/index.ts
  packages/core/src/lib/providers.ts
  packages/core/src/lib/utils/logger.ts
  packages/core/src/providers/42-school.ts
  packages/core/src/providers/boxyhq-saml.ts
  packages/core/src/providers/click-up.ts
  packages/core/src/providers/credentials.ts
  packages/core/src/providers/duende-identity-server6.ts
  packages/core/src/providers/email.ts
  packages/core/src/providers/fusionauth.ts
  packages/core/src/providers/oauth.ts
  packages/core/src/providers/salesforce.ts
  packages/core/src/providers/twitter.ts
  packages/core/src/types.ts
  packages/next-auth/src/lib/index.ts
Labels: providers, adapters, core, prisma, dynamodb, fauna, mikro-orm, dgraph, neo4j, sequelize, supabase, typeorm, examples, playgrounds, drizzle, kysely, next-auth, pg, azure-tables, edgedb

#9065 Update GoogleProfile interface
  packages/core/src/providers/google.ts
Labels: providers, core

#9034 Fixes import default instead of named import and repeated installation step
  packages/adapter-pg/src/index.ts
Labels: adapters, pg

#9012 docs: remove trailing comma
  packages/adapter-hasura/src/index.ts
Labels: adapters, hasura

#9056 Missing baseUrl when constructing callback signin url
  packages/next-auth/src/react.tsx
Labels: next-auth

#9007 Use explicit names for Entities classes
  packages/adapter-typeorm/src/entities.ts
Labels: adapters, typeorm

#8840 docs: fixed link to Models in pg-adapter
  packages/adapter-pg/src/index.ts
Labels: adapters, pg

#9093 Fixed typo in apple.ts
  packages/core/src/providers/apple.ts
Labels: providers, core

#9100 fix id_token length
  packages/adapter-drizzle/src/index.ts
Labels: adapters, drizzle

#9086 docs: cleanup
  .gitignore
  .prettierignore
  docs/docs/getting-started/adapters.mdx
  docs/docs/getting-started/introduction.mdx
  docs/docs/getting-started/providers/index.mdx
  docs/docs/getting-started/providers/oauth-tutorial.mdx
  docs/docs/guides/basics/callbacks.md
  docs/docs/guides/basics/initialization.md
  docs/docs/guides/basics/pages.md
  docs/docs/guides/basics/securing-pages-and-api-routes.md
  docs/docs/guides/providers/credentials-provider.md
  docs/docs/reference/index.md
  docs/docs/reference/solidstart/client.md
  docs/docs/reference/solidstart/index.md
  docs/docs/reference/solidstart/protected.md
  docs/docusaurus.config.ts
  docs/package.json
  docs/scripts/generate-manifest.mjs
  docs/sidebars.ts
  docs/src/pages/index.js
  docs/tsconfig.json
  docs/typedoc-utils.ts
  packages/adapter-sequelize/src/index.ts
  packages/adapter-supabase/src/index.ts
  packages/core/src/index.ts
  packages/core/src/lib/utils/logger.ts
  packages/core/src/providers/boxyhq-saml.ts
  packages/core/src/providers/click-up.ts
  packages/core/src/providers/credentials.ts
  packages/core/src/providers/duende-identity-server6.ts
  packages/core/src/types.ts
  packages/frameworks-solid-start/src/client.ts
  packages/frameworks-solid-start/src/index.ts
  packages/frameworks-solid-start/tsconfig.eslint.json
  packages/frameworks-solid-start/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Labels: providers, adapters, core, sequelize, supabase, frameworks, solidjs

#9111 fix: cookies cleanup
  apps/dev/nextjs/package.json
  packages/core/package.json
  packages/core/src/jwt.ts
  packages/core/src/lib/callback-handler.ts
  packages/core/src/lib/cookie.ts
  packages/core/src/lib/index.ts
  packages/core/src/lib/oauth/checks.ts
  packages/core/src/lib/routes/callback.ts
  packages/core/src/lib/routes/session.ts
  packages/core/src/lib/routes/signout.ts
  packages/next-auth/package.json
  pnpm-lock.yaml
Labels: core, next-auth

#9112 fix docs - invalid link correction
  packages/next-auth/src/jwt.ts
  packages/next-auth/src/middleware.ts
  packages/next-auth/src/next.ts
Labels: next-auth

#9121 Fixed spelling mistake
  packages/adapter-d1/src/index.ts
Labels: adapters, d1

#9129 Use explicit names for Entities names to workaround minify
  packages/adapter-typeorm/src/entities.ts
  packages/adapter-typeorm/src/index.ts
Labels: adapters, typeorm

#9145 fix: remove extra brace from sign-in URL for protected pages
  packages/next-auth/src/lib/index.ts
Labels: next-auth

#9191 docs: Updates TypeDoc index paths and fix broken links
  docs/docs/getting-started/adapters.mdx
  docs/docs/guides/basics/refresh-token-rotation.md
  docs/docs/reference/solidstart/client.md
  docs/docs/reference/solidstart/index.md
  docs/package.json
  docs/sidebars.ts
  docs/typedoc-utils.ts
  packages/core/src/index.ts
  packages/frameworks-solid-start/src/index.ts
  packages/frameworks-sveltekit/src/lib/index.ts
  packages/next-auth/src/index.tsx
  pnpm-lock.yaml
Labels: core, frameworks, solidjs, svelte, next-auth

#9186 fix(osu): Refactor in accordance with branding guidelines
  packages/core/src/providers/osu.ts
Labels: providers, core

#9185 fix: make session attribute on PageData interface optional (#9168)
  packages/frameworks-sveltekit/src/lib/index.ts
Labels: frameworks, svelte

#9205 fix: correct `actions` import
  packages/core/src/lib/index.ts
Labels: core

#9235 docs: lowercase the import path for consistency.
  packages/next-auth/src/index.tsx
Labels: next-auth

#9261 fix (v4): nodemailer imports
  packages/next-auth/src/providers/email.ts
Labels: providers, legacy

#9252 Fix redirect for protected pages
  packages/next-auth/src/lib/env.ts
  packages/next-auth/src/lib/index.ts
Labels: next-auth
