Repository nextauthjs/next-auth, pull requests merged in 2023-01, with the labels that each got.

#6249 fix(adapters): define correct peer dependencies for DynamoDB
  docs/docs/reference/06-adapters/dynamodb.md
  packages/adapter-dynamodb/package.json
Labels: adapters, dynamodb

#6250 Import SvelteKitAuth as non-default
  packages/frameworks-sveltekit/src/lib/index.ts
Labels: frameworks, svelte

#6184 Add session management example for SvelteKit
  packages/frameworks-sveltekit/src/lib/index.ts
Labels: frameworks, svelte

#6290 feat(providers): added a mattermost provider
  docs/docs/reference/05-oauth-providers/mattermost.md
  packages/core/src/lib/pages/signin.tsx
  packages/core/src/providers/mattermost.ts
  packages/next-auth/provider-logos/mattermost-dark.svg
  packages/next-auth/provider-logos/mattermost.svg
Labels: providers, core, legacy

#5772 Remove formatVersion from schema
  packages/adapter-xata/README.md
Labels: adapters, xata

#6299 docs(providers): added JS doc's to the mattermost provider
  packages/core/src/providers/mattermost.ts
Labels: providers, core

#6305 chore: Fix typo in solid-start/README.MD
  apps/examples/solid-start/README.MD
Labels: examples

#6259 fix(core): improve stack traces
  packages/core/src/errors.ts
  packages/core/src/lib/callback-handler.ts
  packages/core/src/lib/routes/callback.ts
  packages/core/src/lib/utils/logger.ts
Labels: core

#5825 feat(pages): Redesigned all default pages according to sketches discu…
  docs/docs/guides/03-basics/pages.md
  docs/static/img/pages_signin.png
  docs/static/img/pages_signout.png
  packages/core/src/lib/pages/error.tsx
  packages/core/src/lib/pages/signin.tsx
  packages/core/src/lib/pages/signout.tsx
  packages/core/src/lib/pages/styles.css
  packages/core/src/lib/pages/verify-request.tsx
  packages/next-auth/src/core/pages/signin.tsx
Labels: core, pages, style, legacy

#6311 fix: typo on example resposne -> response
  packages/core/src/index.ts
Labels: core

#6200 fix generateSessionToken
  packages/core/src/lib/init.ts
Labels: core

#6326 Update index.ts
  packages/frameworks-sveltekit/src/lib/index.ts
Labels: frameworks, svelte

#6351 fix(sveltekit): avoid prefetch of non-existing routes
  apps/examples/sveltekit/src/routes/+layout.svelte
Labels: examples

#6337 feat(core): allow clearing cookies from `jwt()`
  packages/core/src/lib/routes/callback.ts
  packages/core/src/lib/routes/session.ts
  packages/core/src/types.ts
Labels: core

#6370 feat: add dynamodb adaption options
  packages/adapter-dynamodb/src/index.ts
Labels: adapters, dynamodb

#6380 feat: e2e tests
  .github/workflows/release.yml
  apps/dev/nextjs/.gitignore
  apps/dev/nextjs/package.json
  apps/dev/nextjs/playwright.config.ts
  apps/dev/nextjs/tests/signin.spec.ts
  package.json
  packages/frameworks-sveltekit/package.json
  pnpm-lock.yaml
  turbo.json
Labels: frameworks, svelte

#6379 feat(core): option to opt out of CSRF checks
  docs/docs/reference/09-warnings.md
  packages/core/src/index.ts
  packages/core/src/lib/assert.ts
  packages/core/src/lib/index.ts
  packages/core/src/lib/init.ts
  packages/core/src/lib/utils/logger.ts
Labels: core

#6365 fix(providers): conform Twitch provider to spec with escape hatch
  packages/core/src/lib/oauth/callback.ts
  packages/core/src/lib/providers.ts
  packages/core/src/providers/oauth.ts
  packages/core/src/providers/twitch.ts
Labels: providers, core

#6428 fix: add node 19 as compatible engine
  packages/next-auth/package.json
Labels: legacy

#6452 feat(providers): add Asgardeo provider
  .github/ISSUE_TEMPLATE/2_bug_provider.yml
  apps/dev/nextjs/.env.local.example
  apps/dev/nextjs/pages/api/auth/[...nextauth].ts
  docs/static/img/providers/asgardeo-dark.svg
  docs/static/img/providers/asgardeo.svg
  packages/core/src/providers/asgardeo.ts
Labels: providers, core

#6488 fix(core): sign cookies with built-in jwt methods
  packages/core/src/lib/oauth/authorization-url.ts
  packages/core/src/lib/oauth/callback.ts
  packages/core/src/lib/oauth/checks.ts
  packages/core/src/lib/oauth/nonce-handler.ts
  packages/core/src/lib/oauth/pkce-handler.ts
  packages/core/src/lib/oauth/state-handler.ts
Labels: core

#6465 fix: Allow adding own logo to provider
  packages/next-auth/src/core/pages/signin.tsx
Labels: core, pages

#6230 fix(adapters): allow already initialized firebase app 🐛
  packages/adapter-firebase/src/getFirebase.ts
  packages/adapter-firebase/src/index.ts
Labels: adapters, firebase

#6446 Fix 404 URL in the docs for @auth/core
  packages/core/src/index.ts
Labels: core

#6534 fix(oauth1): pass `oauth_token_secret`
  packages/next-auth/src/core/lib/oauth/authorization-url.ts
  packages/next-auth/src/core/lib/oauth/callback.ts
  packages/next-auth/src/core/lib/oauth/client-legacy.ts
Labels: core

#6535 feat: remove `unstable_` prefix `getServerSession`
  apps/dev/app/server-component/page.tsx
  apps/dev/pages/api/examples/protected.js
  apps/dev/pages/api/examples/session.js
  apps/dev/pages/api/examples/supabase-rls.js
  apps/dev/pages/protected-ssr.js
  apps/dev/pages/server.js
  apps/dev/pages/supabase-ssr.js
  apps/example-nextjs/pages/api/examples/protected.ts
  apps/example-nextjs/pages/api/examples/session.ts
  apps/example-nextjs/pages/server.tsx
  docs/docs/adapters/supabase.md
  docs/docs/configuration/callbacks.md
  docs/docs/configuration/nextjs.md
  docs/docs/getting-started/client.md
  docs/docs/getting-started/example.md
  docs/docs/tutorials/securing-pages-and-api-routes.md
  packages/next-auth/src/core/lib/assert.ts
  packages/next-auth/src/next/index.ts
  packages/next-auth/tests/getServerSession.test.ts
Labels: core

#6536 feat: make `generateSessionToken` awaitable
  packages/next-auth/src/core/lib/callback-handler.ts
  packages/next-auth/src/core/types.ts
Labels: TypeScript, core

#6550 fix: inaccurate discord types + misc
  packages/core/src/lib/oauth/callback.ts
  packages/core/src/providers/discord.ts
  packages/core/src/providers/oauth.ts
  packages/frameworks-sveltekit/scripts/postbuild.js
Labels: providers, core, frameworks, svelte

#6560 fix(ts): correctly type `unstable_getServerSession`
  packages/next-auth/src/next/index.ts
Labels: core

#6569 Fix typo
  packages/core/src/lib/routes/callback.ts
Labels: core

#6567 feat(providers): move Notion provider to core
  .github/ISSUE_TEMPLATE/2_bug_provider.yml
  apps/dev/nextjs/.env.local.example
  apps/dev/nextjs/pages/api/auth/[...nextauth].ts
  docs/static/img/providers/notion.svg
  packages/core/src/providers/notion.ts
Labels: providers, core

#6492 fix handleAuthorized adding /error to the path even in successful email verification
  packages/core/src/lib/routes/shared.ts
Labels: core
