Repository nextauthjs/next-auth, pull requests merged in 2023-06, with the labels that each got.

#7703 feat: introduce `@auth/prisma-adapter`
  .github/ISSUE_TEMPLATE/3_bug_adapter.yml
  .github/issue-labeler.yml
  apps/dev/nextjs-v4/package.json
  apps/dev/nextjs-v4/pages/api/auth-old/[...nextauth].ts
  apps/dev/nextjs/package.json
  apps/dev/nextjs/pages/api/auth/[...nextauth].ts
  docs/docs/guides/basics/refresh-token-rotation.md
  packages/adapter-prisma/README.md
  packages/adapter-prisma/package.json
  packages/adapter-prisma/src/index.ts
  packages/adapter-prisma/tsconfig.json
  packages/adapter-test/index.ts
  packages/adapter-test/package.json
  packages/core/src/adapters.ts
  pnpm-lock.yaml
  turbo.json
Labels: adapters, core, prisma

#7706 feat: introduce `@auth/typeorm-adapter`
  .github/ISSUE_TEMPLATE/3_bug_adapter.yml
  .github/issue-labeler.yml
  .github/pr-labeler.yml
  .github/workflows/release.yml
  apps/dev/nextjs-v4/package.json
  apps/dev/nextjs-v4/pages/api/auth-old/[...nextauth].ts
  apps/dev/nextjs/package.json
  apps/dev/nextjs/pages/api/auth/[...nextauth].ts
  docs/docusaurus.config.js
  packages/adapter-typeorm-legacy/tsconfig.json
  packages/adapter-typeorm/.dockerignore
  packages/adapter-typeorm/.npmrc
  packages/adapter-typeorm/README.md
  packages/adapter-typeorm/package.json
  packages/adapter-typeorm/src/entities.ts
  packages/adapter-typeorm/src/index.ts
  packages/adapter-typeorm/src/utils.ts
  packages/adapter-typeorm/tests/custom-entities.ts
  packages/adapter-typeorm/tests/helpers.ts
  packages/adapter-typeorm/tests/index.test.ts
  packages/adapter-typeorm/tests/init.sh
  packages/adapter-typeorm/tests/mysql/index.custom.test.ts
  packages/adapter-typeorm/tests/mysql/index.test.ts
  packages/adapter-typeorm/tests/mysql/test.sh
  packages/adapter-typeorm/tests/postgresql/index.custom.test.ts
  packages/adapter-typeorm/tests/postgresql/index.test.ts
  packages/adapter-typeorm/tests/postgresql/test.sh
  packages/adapter-typeorm/tests/sqlite/index.custom.test.ts
  packages/adapter-typeorm/tests/sqlite/index.test.ts
  packages/adapter-typeorm/tests/sqlite/test.sh
  packages/adapter-typeorm/tests/test.sh
  packages/adapter-typeorm/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Labels: adapters, typeorm-legacy

#7736 Resolve recombining cookie chunk due to incorrect ordering
  packages/core/src/lib/cookie.ts
Labels: core

#7775 Fix `signIn()` not respecting `{ redirect: true }`
  packages/frameworks-sveltekit/src/lib/client.ts
Labels: frameworks, svelte

#7790 feat: introduce `@auth/mongodb-adapter`
  .github/ISSUE_TEMPLATE/3_bug_adapter.yml
  .github/issue-labeler.yml
  docs/docs/getting-started/email-tutorial.mdx
  packages/adapter-mongodb/README.md
  packages/adapter-mongodb/package.json
  packages/adapter-mongodb/src/index.ts
  packages/adapter-mongodb/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Labels: adapters, mongodb

#7792 feat: introduce `@auth/dgraph-adapter`
  .github/ISSUE_TEMPLATE/3_bug_adapter.yml
  .github/issue-labeler.yml
  .gitignore
  packages/adapter-dgraph/README.md
  packages/adapter-dgraph/package.json
  packages/adapter-dgraph/src/index.ts
  packages/adapter-dgraph/src/lib/client.ts
  packages/adapter-dgraph/src/lib/graphql/fragments.ts
  packages/adapter-dgraph/src/lib/graphql/schema.gql
  packages/adapter-dgraph/src/lib/utils.ts
  packages/adapter-dgraph/tests/index.test.ts
  packages/adapter-dgraph/tests/test.sh
  packages/adapter-dgraph/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Labels: adapters, dgraph

#7793 feat: introduce `@auth/dynamodb-adapter`
  .github/ISSUE_TEMPLATE/3_bug_adapter.yml
  .github/issue-labeler.yml
  packages/adapter-dynamodb/README.md
  packages/adapter-dynamodb/package.json
  packages/adapter-dynamodb/src/index.ts
  packages/adapter-dynamodb/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Labels: adapters, dynamodb

#7794 feat: introduce `@auth/mikro-orm-adapter`
  .github/ISSUE_TEMPLATE/3_bug_adapter.yml
  .github/issue-labeler.yml
  packages/adapter-mikro-orm/README.md
  packages/adapter-mikro-orm/package.json
  packages/adapter-mikro-orm/src/index.ts
  packages/adapter-mikro-orm/src/lib/entities.ts
  packages/adapter-mikro-orm/tests/entities.test.ts
  packages/adapter-mikro-orm/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Labels: adapters, mikro-orm

#7802 feat: introduce `@auth/fauna-adapter`
  .github/ISSUE_TEMPLATE/3_bug_adapter.yml
  .github/issue-labeler.yml
  apps/dev/nextjs-v4/package.json
  apps/dev/nextjs-v4/pages/api/auth-old/[...nextauth].ts
  apps/dev/nextjs/package.json
  apps/dev/nextjs/pages/api/auth/[...nextauth].ts
  packages/adapter-fauna/.fauna-migrate.cjs
  packages/adapter-fauna/README.md
  packages/adapter-fauna/package.json
  packages/adapter-fauna/src/index.ts
  packages/adapter-fauna/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Labels: adapters, fauna

#7803 feat: introduce `@auth/firebase-adapter`
  .github/ISSUE_TEMPLATE/3_bug_adapter.yml
  .github/issue-labeler.yml
  packages/adapter-firebase/README.md
  packages/adapter-firebase/package.json
  packages/adapter-firebase/src/index.ts
  packages/adapter-firebase/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Labels: adapters, firebase

#7804 feat: introduce `@auth/neo4j-adapter`
  .github/ISSUE_TEMPLATE/3_bug_adapter.yml
  .github/issue-labeler.yml
  packages/adapter-neo4j/README.md
  packages/adapter-neo4j/package.json
  packages/adapter-neo4j/src/index.ts
  packages/adapter-neo4j/src/utils.ts
  packages/adapter-neo4j/tests/index.test.ts
  packages/adapter-neo4j/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Labels: adapters, neo4j

#7805 feat: introduce `@auth/pouchdb-adapter`
  .github/ISSUE_TEMPLATE/3_bug_adapter.yml
  .github/issue-labeler.yml
  packages/adapter-pouchdb/README.md
  packages/adapter-pouchdb/package.json
  packages/adapter-pouchdb/src/index.ts
  packages/adapter-pouchdb/tests/index.test.ts
  packages/adapter-pouchdb/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Labels: adapters, pouchdb

#7806 feat: introduce `@auth/sequelize-adapter`
  .github/ISSUE_TEMPLATE/3_bug_adapter.yml
  .github/issue-labeler.yml
  packages/adapter-sequelize/README.md
  packages/adapter-sequelize/package.json
  packages/adapter-sequelize/src/index.ts
  packages/adapter-sequelize/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Labels: adapters, sequelize

#7808 feat: introduce `@auth/xata-adapter`
  .github/ISSUE_TEMPLATE/3_bug_adapter.yml
  .github/issue-labeler.yml
  packages/adapter-xata/README.md
  packages/adapter-xata/package.json
  packages/adapter-xata/src/index.ts
  packages/adapter-xata/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Labels: adapters, xata

#7807 feat: introduce `@auth/supabase-adapter`
  .github/ISSUE_TEMPLATE/3_bug_adapter.yml
  .github/issue-labeler.yml
  apps/dev/nextjs-v4/package.json
  apps/dev/nextjs-v4/pages/api/auth-old/[...nextauth].ts
  apps/dev/nextjs/package.json
  apps/dev/nextjs/pages/api/auth/[...nextauth].ts
  packages/adapter-supabase/README.md
  packages/adapter-supabase/package.json
  packages/adapter-supabase/src/database.types.ts
  packages/adapter-supabase/src/index.ts
  packages/adapter-supabase/tests/index.test.ts
  pnpm-lock.yaml
  turbo.json
Labels: adapters, supabase

#7856 fix(adapters): Add .js file extension to relative imports
  packages/adapter-typeorm/src/index.ts
  packages/adapter-typeorm/src/utils.ts
Labels: adapters, typeorm

#7874 feat(providers): Add Descope provider
  .github/ISSUE_TEMPLATE/2_bug_provider.yml
  apps/dev/nextjs-v4/.env.local.example
  apps/dev/nextjs/.env.local.example
  apps/dev/nextjs/pages/api/auth/[...nextauth].ts
  apps/examples/nextjs/.env.local.example
  apps/examples/nextjs/process.d.ts
  docs/src/components/ProviderMarquee.js
  docs/static/img/providers/descope.svg
  packages/core/src/providers/descope.ts
Labels: providers, core, examples

#7914 chore: remove extra 'if' in comment
  packages/next-auth/src/next/middleware.ts
Labels: legacy

#7925 doc(providers): fix route path to @auth/prisma-adapter
  packages/adapter-prisma/src/index.ts
Labels: adapters, prisma
