Repository nextauthjs/next-auth, pull requests merged in 2023-03, with the labels that each got.

#6846 Explicit file to update with sveltekit
  packages/frameworks-sveltekit/src/lib/index.ts
Labels: frameworks, svelte

#6744 added optional dynamic sveltekit options
  packages/frameworks-sveltekit/src/lib/index.ts
Labels: frameworks, svelte

#6612 fix(adapter): improve `Adapter` docs, add runtime assertions
  packages/core/src/adapters.ts
  packages/core/src/index.ts
  packages/core/src/lib/assert.ts
  packages/core/src/lib/callback-handler.ts
  packages/core/src/lib/cookie.ts
  packages/core/src/lib/init.ts
  packages/core/src/lib/routes/callback.ts
  packages/core/src/lib/routes/session.ts
  packages/core/src/lib/routes/shared.ts
  packages/core/src/lib/routes/signin.ts
  packages/core/src/types.ts
Labels: adapters, core

#6883 chore(repo): add FusionAuth to README supporters
  packages/next-auth/README.md
Labels: legacy

#6892 chore: update README sponsors - fusionauth level
  packages/next-auth/README.md
Labels: legacy

#6896 docs(typeorm): move content to source
  docs/docs/reference/06-adapters/typeorm.md
  docs/docusaurus.config.js
  docs/sidebars.js
  packages/adapter-typeorm-legacy/logo.png
  packages/adapter-typeorm-legacy/src/index.ts
Labels: adapters, typeorm-legacy

#6901 docs(mongodb): move content to source
  docs/docs/reference/06-adapters/mongodb.md
  docs/docusaurus.config.js
  docs/sidebars.js
  packages/adapter-mongodb/src/index.ts
Labels: adapters, mongodb

#6938 fix(adapters): allow `mongodb@5` as peer dependency
  packages/adapter-mongodb/package.json
  pnpm-lock.yaml
Labels: adapters, mongodb

#6956 Updating documentation URLs for the SvelteKit files.
  packages/frameworks-sveltekit/src/lib/client.ts
  packages/frameworks-sveltekit/src/lib/index.ts
Labels: frameworks, svelte

#6919 docs(fauna): move content to source
  docs/docs/reference/06-adapters/fauna.md
  docs/docusaurus.config.js
  docs/sidebars.js
  packages/adapter-dynamodb/src/index.ts
  packages/adapter-fauna/src/index.ts
  packages/adapter-firebase/src/index.ts
  packages/adapter-mongodb/src/index.ts
Labels: adapters, firebase, dynamodb, fauna, mongodb

#6998 make nonce work correctly
  packages/core/src/lib/oauth/callback.ts
Labels: core

#7008 Add Permit.io Bronze Sponsor
  packages/next-auth/README.md
Labels: legacy

#6996 Fix adapter-dynamodb docs errors
  packages/adapter-dynamodb/src/index.ts
Labels: adapters, dynamodb

#6985 fix typo in 'collectionsFactory'
  packages/adapter-firebase/src/index.ts
Labels: adapters, firebase

#6745 feat: rewrite PouchDB Adapter
  docs/docs/reference/06-adapters/pouchdb.md
  docs/docusaurus.config.js
  docs/sidebars.js
  docs/static/img/adapters/pouchdb.svg
  package.json
  packages/adapter-pouchdb/CHANGELOG.md
  packages/adapter-pouchdb/README.md
  packages/adapter-pouchdb/package.json
  packages/adapter-pouchdb/src/index.ts
  packages/adapter-pouchdb/tests/index.test.ts
  packages/adapter-pouchdb/tsconfig.json
  packages/adapter-test/index.ts
  pnpm-lock.yaml
  turbo.json
Labels: adapters, pouchdb

#7023 docs(adapters): source content + overview
  docs/docs/reference/06-adapters/00-overview.md
  docs/docs/reference/06-adapters/mikro-orm.md
  docs/docs/reference/06-adapters/neo4j.md
  docs/docs/reference/06-adapters/sequelize.md
  docs/docs/reference/06-adapters/supabase.md
  docs/docs/reference/06-adapters/upstash-redis.md
  docs/docs/reference/06-adapters/xata.md
  docs/docs/reference/adapters/_category_.json
  docs/docs/reference/adapters/index.md
  docs/docusaurus.config.js
  docs/sidebars.js
  docs/src/css/adapters.css
  docs/src/css/index.css
  docs/static/img/adapters/dgraph.png
  docs/static/img/adapters/fauna.png
  docs/static/img/adapters/fauna.svg
  docs/static/img/adapters/mikro-orm.png
  docs/static/img/adapters/mongodb.svg
  packages/adapter-dgraph/src/index.ts
  packages/adapter-dynamodb/src/index.ts
  packages/adapter-fauna/src/index.ts
  packages/adapter-firebase/src/index.ts
  packages/adapter-mikro-orm/src/index.ts
  packages/adapter-mongodb/src/index.ts
  packages/adapter-neo4j/src/index.ts
  packages/adapter-pouchdb/src/index.ts
  packages/adapter-prisma/src/index.ts
  packages/adapter-sequelize/src/index.ts
  packages/adapter-supabase/src/index.ts
  packages/adapter-typeorm-legacy/docs/tutorials/typeorm-custom-models.md
  packages/adapter-typeorm-legacy/src/index.ts
  packages/adapter-upstash-redis/src/index.ts
  packages/adapter-xata/src/index.ts
  turbo.json
Labels: adapters, firebase, prisma, dynamodb, fauna, mikro-orm, dgraph, mongodb, neo4j, pouchdb, sequelize, upstash-redis, supabase, xata, typeorm-legacy

#7014 fix(oauth): allow jwks_uri to be set for non-wellKnown flow by passin…
  packages/next-auth/src/core/lib/oauth/client.ts
  packages/next-auth/src/providers/oauth.ts
Labels: legacy

#7054 fix(providers): update Yandex to TypeScript
  apps/dev/nextjs/.env.local.example
  apps/dev/nextjs/pages/api/auth/[...nextauth].ts
  docs/static/img/providers/yandex.svg
  packages/core/src/providers/yandex.js
  packages/core/src/providers/yandex.ts
Labels: providers, core

#7073 fix(providers): add types for yandex provider
  packages/next-auth/src/providers/yandex.js
  packages/next-auth/src/providers/yandex.ts
Labels: providers, core

#7083 fix(docs): fix broken links links
  docs/docs/getting-started/credentials-tutorial.mdx
  docs/docs/getting-started/upgrade-to-v4.md
  docs/docs/guides/providers/credentials-provider.md
  docs/docs/guides/providers/email-provider.md
  docs/docs/reference/adapters/index.md
  packages/core/src/providers/email.ts
Labels: providers, core

#7081 fix(docs): remove extra install
  packages/adapter-sequelize/src/index.ts
Labels: adapters, sequelize

#7056 feat: make it possible to update the session
  docs/docs/getting-started/client.md
  packages/next-auth/src/client/_utils.ts
  packages/next-auth/src/core/index.ts
  packages/next-auth/src/core/lib/providers.ts
  packages/next-auth/src/core/routes/callback.ts
  packages/next-auth/src/core/routes/session.ts
  packages/next-auth/src/core/types.ts
  packages/next-auth/src/providers/oauth.ts
  packages/next-auth/src/react/index.tsx
Labels: TypeScript, providers, core, client
