Repository nextauthjs/next-auth, pull requests merged in 2023-09, with the labels that each got.

#8231 fix(sveltekit): support custom base path
  packages/frameworks-sveltekit/src/lib/client.ts
  packages/frameworks-sveltekit/src/lib/index.ts
Labels: frameworks, svelte

#8477 chore: update NextAuth.js example to use App Router
  apps/examples/nextjs/app/api/auth/[...nextauth]/route.ts
  apps/examples/nextjs/auth.ts
  apps/examples/nextjs/next-auth.d.ts
  apps/examples/nextjs/pages/api/auth/[...nextauth].ts
  apps/examples/nextjs/pages/api/examples/protected.ts
  apps/examples/nextjs/pages/api/examples/session.ts
  apps/examples/nextjs/pages/server.tsx
  apps/examples/nextjs/process.d.ts
  apps/examples/nextjs/tsconfig.json
  package.json
Labels: examples

#8484 Sequelize adapter - return session data from deleteSession()
  packages/adapter-sequelize/src/index.ts
Labels: adapters, sequelize

#8489 Click up provider
  .github/ISSUE_TEMPLATE/2_bug_provider.yml
  apps/dev/nextjs/.env.local.example
  apps/dev/nextjs/pages/api/auth/[...nextauth].ts
  docs/static/img/providers/click-up.svg
  packages/core/src/providers/click-up.ts
Labels: providers, core

#8466 fix: 🎣 remove trailing `?` from signIn url
  packages/next-auth/src/react/index.tsx
Labels: client, legacy

#8516 feat: Mastodon Provider
  .github/ISSUE_TEMPLATE/2_bug_provider.yml
  docs/static/img/providers/mastodon.svg
  packages/core/src/providers/mastodon.ts
Labels: providers, core

#8492 feat: bump `mongodb` to v6
  packages/adapter-mongodb/package.json
  packages/adapter-mongodb/src/index.ts
  pnpm-lock.yaml
Labels: adapters, mongodb

#8531 feat: Dribbble provider
  .github/ISSUE_TEMPLATE/2_bug_provider.yml
  docs/static/img/providers/dribbble-dark.svg
  docs/static/img/providers/dribbble.svg
  packages/core/src/providers/dribbble.ts
Labels: providers, core

#8566 Removed typesafety statement `as string` from Configuring Auth.js of …
  packages/adapter-dynamodb/src/index.ts
Labels: adapters, dynamodb

#8131 feat(providers): TikTok provider
  .github/ISSUE_TEMPLATE/2_bug_provider.yml
  docs/static/img/providers/tiktok-dark.svg
  docs/static/img/providers/tiktok.svg
  packages/core/src/providers/tiktok.ts
Labels: providers, core

#5781 feat(adapters): new EdgeDB Adapter
  apps/dev/nextjs/.gitignore
  apps/dev/nextjs/dbschema/default.esdl
  apps/dev/nextjs/edgedb.toml
  apps/dev/nextjs/package.json
  apps/dev/nextjs/pages/api/auth/[...nextauth].ts
  docs/docs/reference/adapters/index.md
  docs/static/img/adapters/edgedb.svg
  packages/adapter-edgedb/README.md
  packages/adapter-edgedb/logo.svg
  packages/adapter-edgedb/package.json
  packages/adapter-edgedb/src/index.ts
  packages/adapter-edgedb/tests/index.test.ts
  packages/adapter-edgedb/tsconfig.json
  pnpm-lock.yaml
Labels: enhancement, adapters

#6953 feat(adapter): add new adapter for Cloudflare D1
  docs/docs/reference/adapters/index.md
  docs/docusaurus.config.js
  docs/static/img/adapters/d1.svg
  packages/adapter-d1/README.md
  packages/adapter-d1/package.json
  packages/adapter-d1/src/index.ts
  packages/adapter-d1/src/migrations.ts
  packages/adapter-d1/tests/index.test.ts
  packages/adapter-d1/tsconfig.json
  pnpm-lock.yaml
Labels: enhancement, adapters

#8606 Import name update.
  packages/core/src/providers/dribbble.ts
Labels: providers, core

#8605 style: use more idiomatic `@see` annotation
  apps/examples/nextjs/auth.ts
Labels: examples

#8599 fix: Build account object with tokens spread as lowest priority
  packages/core/src/lib/oauth/callback.ts
Labels: core

#8679 feat: add pg adapter
  .github/ISSUE_TEMPLATE/3_bug_adapter.yml
  .github/pr-labeler.yml
  docs/docs/reference/adapters/index.md
  docs/docusaurus.config.js
  docs/sidebars.js
  docs/static/img/adapters/pg.png
  packages/adapter-pg/README.md
  packages/adapter-pg/docker-compose.yaml
  packages/adapter-pg/example-schema.sql
  packages/adapter-pg/package.json
  packages/adapter-pg/src/index.ts
  packages/adapter-pg/tests/index.test.ts
  packages/adapter-pg/tests/test.sh
  packages/adapter-pg/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Labels: adapters

#8669 fix: rm .js from imports
  packages/next-auth/src/index.tsx
  packages/next-auth/src/lib/env.ts
Labels: next-auth

#6251 feat(adapters): add SurrealDB adapter
  docs/docs/reference/adapters/index.md
  docs/docusaurus.config.js
  docs/sidebars.js
  docs/static/img/adapters/surreal.png
  packages/adapter-surrealdb/README.md
  packages/adapter-surrealdb/package.json
  packages/adapter-surrealdb/src/index.ts
  packages/adapter-surrealdb/tests/common.ts
  packages/adapter-surrealdb/tests/index.test.ts
  packages/adapter-surrealdb/tests/rest.test.ts
  packages/adapter-surrealdb/tests/test.sh
  packages/adapter-surrealdb/tsconfig.json
  pnpm-lock.yaml
Labels: enhancement, adapters, typeorm-legacy

#8616 Fix crash in azure-ad-b2c provider
  packages/core/src/providers/azure-ad-b2c.ts
Labels: providers, core

#8581 Avoid parseDataSourceConfig on each call
  packages/adapter-typeorm/src/index.ts
Labels: adapters, typeorm

#8708 feat(adapters): azure tables adapter
  .github/ISSUE_TEMPLATE/3_bug_adapter.yml
  .github/pr-labeler.yml
  docs/docs/reference/adapters/index.md
  docs/docusaurus.config.js
  docs/sidebars.js
  docs/static/img/adapters/azure-tables.svg
  packages/adapter-azure-tables/README.md
  packages/adapter-azure-tables/package.json
  packages/adapter-azure-tables/src/index.ts
  packages/adapter-azure-tables/tests/index.test.ts
  packages/adapter-azure-tables/tests/test.sh
  packages/adapter-azure-tables/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Labels: adapters

#8710 fixed broken security link on npm docs
  packages/next-auth/README.md
Labels: legacy

#8396 feat(providers): update LinkedIn to use OIDC
  packages/core/src/providers/linkedin.ts
Labels: providers, core

#8719 build(deps): Remove better-sqlite3@7
  apps/dev/nextjs/package.json
  packages/adapter-d1/package.json
  packages/adapter-drizzle/package.json
  packages/adapter-kysely/package.json
  packages/adapter-typeorm/package.json
  pnpm-lock.yaml
Labels: adapters, typeorm, drizzle, kysely, d1

#8720 Changed the SQL comment syntax from // to -- in index.ts
  packages/adapter-supabase/src/index.ts
Labels: adapters, supabase

#8735 feat: update v5 example
  apps/examples/nextjs/README.md
  apps/examples/nextjs/app/api-example/page.tsx
  apps/examples/nextjs/app/api/[...nextauth]/route.ts
  apps/examples/nextjs/app/api/auth/[...nextauth]/route.ts
  apps/examples/nextjs/app/api/protected/route.ts
  apps/examples/nextjs/app/client-example/page.tsx
  apps/examples/nextjs/app/client.tsx
  apps/examples/nextjs/app/dashboard/page.tsx
  apps/examples/nextjs/app/favicon.ico
  apps/examples/nextjs/app/globals.css
  apps/examples/nextjs/app/layout.tsx
  apps/examples/nextjs/app/middleware-example/page.tsx
  apps/examples/nextjs/app/page.tsx
  apps/examples/nextjs/app/policy/page.tsx
  apps/examples/nextjs/app/server-example/page.tsx
  apps/examples/nextjs/app/styles.css
  apps/examples/nextjs/auth.ts
  apps/examples/nextjs/components.json
  apps/examples/nextjs/components/access-denied.tsx
  apps/examples/nextjs/components/auth-components.tsx
  apps/examples/nextjs/components/client-example.tsx
  apps/examples/nextjs/components/custom-link.tsx
  apps/examples/nextjs/components/footer.module.css
  apps/examples/nextjs/components/footer.tsx
  apps/examples/nextjs/components/header.module.css
  apps/examples/nextjs/components/header.tsx
  apps/examples/nextjs/components/main-nav.tsx
  apps/examples/nextjs/components/providers.tsx
  apps/examples/nextjs/components/session-data.tsx
  apps/examples/nextjs/components/ui/avatar.tsx
  apps/examples/nextjs/components/ui/button.tsx
  apps/examples/nextjs/components/ui/dropdown-menu.tsx
  apps/examples/nextjs/components/ui/input.tsx
  apps/examples/nextjs/components/ui/navigation-menu.tsx
  apps/examples/nextjs/components/user-button.tsx
  apps/examples/nextjs/lib/utils.ts
  apps/examples/nextjs/middleware.ts
  apps/examples/nextjs/next.config.js
  apps/examples/nextjs/package.json
  apps/examples/nextjs/postcss.config.js
  apps/examples/nextjs/process.d.ts
  apps/examples/nextjs/public/logo.png
  apps/examples/nextjs/tailwind.config.js
  apps/examples/nextjs/tsconfig.json
Labels: examples

#8631 fix: add getSetCookie to session cookies if supported
  packages/next-auth/src/lib/index.ts
Labels: next-auth
