Repository nextauthjs/next-auth, pull requests merged in 2023-05, with the labels that each got.

#7415 chore: improve errors, add more docs
  docs/docs/concepts/faq.md
  docs/docs/guides/basics/events.md
  packages/core/src/errors.ts
  packages/core/src/lib/callback-handler.ts
  packages/core/src/lib/index.ts
  packages/core/src/lib/oauth/callback.ts
  packages/core/src/lib/routes/callback.ts
  packages/core/src/lib/routes/signin.ts
  packages/core/src/lib/web.ts
  packages/core/src/providers/email.ts
  packages/core/src/providers/eveonline.ts
  packages/core/src/types.ts
Labels: providers, core

#7430 chore: merge changes back to v4
  apps/dev/package.json
  apps/example-nextjs/package.json
  packages/next-auth/README.md
  packages/next-auth/package.json
  packages/next-auth/src/core/index.ts
  packages/next-auth/src/jwt/types.ts
  pnpm-lock.yaml
Labels: TypeScript, legacy

#7505 feat: add update session to core
  packages/core/src/lib/index.ts
  packages/core/src/lib/routes/callback.ts
  packages/core/src/lib/routes/session.ts
  packages/core/src/providers/credentials.ts
  packages/core/src/types.ts
Labels: providers, core

#7580 Move next.config.js file into the correct directory
  apps/examples/nextjs/next.config.js
Labels: examples

#7615 chore: Add Descope as a 🥉 bronze financial sponsor
  packages/next-auth/README.md
Labels: legacy

#7626 Nuxt 3.5.1
  apps/playgrounds/nuxt/composables/useSession.ts
  apps/playgrounds/nuxt/lib/auth/client.ts
  apps/playgrounds/nuxt/lib/auth/server.ts
  apps/playgrounds/nuxt/package.json
  apps/playgrounds/nuxt/plugins/auth.ts
  apps/playgrounds/nuxt/server/api/auth/[...].ts
  pnpm-lock.yaml
Labels: playgrounds
