Repository nextauthjs/next-auth, pull requests merged in 2023-10, with the labels that each got.

#8775 fix(next): returns correct status for signing in with `redirect: false` for route handler
  packages/next-auth/src/core/lib/cookie.ts
  packages/next-auth/src/next/index.ts
Labels: legacy

#8779 fix: set correct response status if `X-Auth-Return-Redirect`
  packages/core/src/index.ts
Labels: core

#5707 feat(adapters): add Hasura adapter
  .github/ISSUE_TEMPLATE/3_bug_adapter.yml
  .github/pr-labeler.yml
  .github/workflows/release.yml
  docs/docs/reference/adapters/index.md
  docs/docusaurus.config.js
  docs/sidebars.js
  docs/static/img/adapters/hasura.svg
  packages/adapter-hasura/README.md
  packages/adapter-hasura/codegen.ts
  packages/adapter-hasura/docker-compose.yml
  packages/adapter-hasura/hasura.svg
  packages/adapter-hasura/hasura/config.yaml
  packages/adapter-hasura/hasura/metadata/actions.graphql
  packages/adapter-hasura/hasura/metadata/actions.yaml
  packages/adapter-hasura/hasura/metadata/allow_list.yaml
  packages/adapter-hasura/hasura/metadata/api_limits.yaml
  packages/adapter-hasura/hasura/metadata/cron_triggers.yaml
  packages/adapter-hasura/hasura/metadata/databases/databases.yaml
  packages/adapter-hasura/hasura/metadata/databases/default/tables/public_accounts.yaml
  packages/adapter-hasura/hasura/metadata/databases/default/tables/public_provider_type.yaml
  packages/adapter-hasura/hasura/metadata/databases/default/tables/public_sessions.yaml
  packages/adapter-hasura/hasura/metadata/databases/default/tables/public_users.yaml
  packages/adapter-hasura/hasura/metadata/databases/default/tables/public_verification_tokens.yaml
  packages/adapter-hasura/hasura/metadata/databases/default/tables/tables.yaml
  packages/adapter-hasura/hasura/metadata/graphql_schema_introspection.yaml
  packages/adapter-hasura/hasura/metadata/inherited_roles.yaml
  packages/adapter-hasura/hasura/metadata/network.yaml
  packages/adapter-hasura/hasura/metadata/query_collections.yaml
  packages/adapter-hasura/hasura/metadata/remote_schemas.yaml
  packages/adapter-hasura/hasura/metadata/rest_endpoints.yaml
  packages/adapter-hasura/hasura/metadata/version.yaml
  packages/adapter-hasura/hasura/migrations/default/1666885939998_init_nextauth_models/up.sql
  packages/adapter-hasura/package.json
  packages/adapter-hasura/schema.graphql
  packages/adapter-hasura/src/index.ts
  packages/adapter-hasura/src/lib/.gitignore
  packages/adapter-hasura/src/queries/account.graphql
  packages/adapter-hasura/src/queries/delete.graphql
  packages/adapter-hasura/src/queries/fragments.graphql
  packages/adapter-hasura/src/queries/session.graphql
  packages/adapter-hasura/src/queries/user.graphql
  packages/adapter-hasura/src/queries/verification-token.graphql
  packages/adapter-hasura/src/utils.ts
  packages/adapter-hasura/tests/index.test.ts
  packages/adapter-hasura/tests/test.sh
  packages/adapter-hasura/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Labels: enhancement, adapters

#8817 fix: drop `graphql` and `graphql-request` peer deps
  .gitignore
  packages/adapter-hasura/codegen.ts
  packages/adapter-hasura/hasura.svg
  packages/adapter-hasura/package.json
  packages/adapter-hasura/src/index.ts
  packages/adapter-hasura/src/lib/.gitignore
  packages/adapter-hasura/src/lib/client.ts
  packages/adapter-hasura/src/schema.graphql
  packages/adapter-hasura/src/utils.ts
  packages/adapter-hasura/tests/index.test.ts
  packages/adapter-hasura/tests/test.sh
  pnpm-lock.yaml
Labels: adapters, hasura

#8888 feat: tweak default sign-in page
  apps/dev/app/api/auth/[...nextauth]/route.ts
  apps/example-nextjs/pages/api/auth/[...nextauth].ts
  packages/next-auth/src/core/pages/error.tsx
  packages/next-auth/src/core/pages/signin.tsx
  packages/next-auth/src/css/index.css
  packages/next-auth/src/providers/apple.ts
  packages/next-auth/src/providers/atlassian.ts
  packages/next-auth/src/providers/auth0.ts
  packages/next-auth/src/providers/azure-ad-b2c.ts
  packages/next-auth/src/providers/azure-ad.ts
  packages/next-auth/src/providers/battlenet.ts
  packages/next-auth/src/providers/box.js
  packages/next-auth/src/providers/cognito.ts
  packages/next-auth/src/providers/discord.ts
  packages/next-auth/src/providers/facebook.ts
  packages/next-auth/src/providers/foursquare.js
  packages/next-auth/src/providers/freshbooks.js
  packages/next-auth/src/providers/github.ts
  packages/next-auth/src/providers/gitlab.ts
  packages/next-auth/src/providers/google.ts
  packages/next-auth/src/providers/hubspot.ts
  packages/next-auth/src/providers/instagram.js
  packages/next-auth/src/providers/keycloak.ts
  packages/next-auth/src/providers/line.ts
  packages/next-auth/src/providers/linkedin.ts
  packages/next-auth/src/providers/mailchimp.js
  packages/next-auth/src/providers/oauth.ts
  packages/next-auth/src/providers/okta.ts
  packages/next-auth/src/providers/patreon.ts
  packages/next-auth/src/providers/slack.ts
  packages/next-auth/src/providers/spotify.ts
  packages/next-auth/src/providers/todoist.ts
  packages/next-auth/src/providers/trakt.ts
  packages/next-auth/src/providers/twitch.ts
  packages/next-auth/src/providers/twitter.ts
  packages/next-auth/src/providers/vk.ts
  packages/next-auth/src/providers/wikimedia.ts
  packages/next-auth/src/providers/workos.ts
  packages/next-auth/src/providers/yandex.ts
Labels: providers, pages, style, legacy

#8823 feat(adapters/surrealdb): update surrealdb.js to enable http connection strategy
  packages/adapter-surrealdb/package.json
  packages/adapter-surrealdb/src/index.ts
  packages/adapter-surrealdb/tests/common.ts
  packages/adapter-surrealdb/tests/index.test.ts
  packages/adapter-surrealdb/tests/rest.test.ts
  packages/adapter-test/jest/jest-preset.js
  pnpm-lock.yaml
Labels: adapters, surrealdb

#8992 Use version 14 of next.js
  packages/next-auth/package.json
  pnpm-lock.yaml
Labels: next-auth

#8980 docs: fix oauth tutorial broken link
  apps/examples/nextjs/README.md
Labels: examples

#9008 Update credentials docs warning.
  packages/core/src/providers/credentials.ts
Labels: providers, core
