Repository nextauthjs/next-auth, pull requests merged in 2023-04, with the labels that each got.

#7130 chore(docs): fix dynamodb typo
  packages/adapter-dynamodb/src/index.ts
Labels: adapters, dynamodb

#7125 fix: revert #6814
  packages/next-auth/src/utils/detect-host.ts
Labels: legacy

#6777 feat: support Route Handlers
  .github/pr-labeler.yml
  apps/dev/app/api/auth/[...nextauth]/route.ts
  apps/dev/next-env.d.ts
  apps/dev/package.json
  apps/dev/pages/api/auth-old/[...nextauth].ts
  apps/dev/tsconfig.json
  docs/docs/configuration/initialization.md
  docs/package.json
  packages/next-auth/package.json
  packages/next-auth/src/next/index.ts
  packages/next-auth/src/next/utils.ts
  pnpm-lock.yaml
Labels: enhancement, core, legacy

#7214 fix: respect protocol too, when host is trusted
  packages/next-auth/src/core/index.ts
  packages/next-auth/src/core/init.ts
  packages/next-auth/src/core/lib/assert.ts
  packages/next-auth/src/core/types.ts
  packages/next-auth/src/next/index.ts
  packages/next-auth/src/utils/detect-origin.ts
Labels: TypeScript, legacy

#7224 fix(provider): Use the proper check for Reddit
  packages/core/src/providers/reddit.js
Labels: providers, core

#7228 feat: core improvements
  packages/core/scripts/generate-providers.js
  packages/core/src/errors.ts
  packages/core/src/jwt.ts
  packages/core/src/lib/assert.ts
  packages/core/src/lib/index.ts
  packages/core/src/lib/oauth/callback.ts
  packages/core/src/lib/oauth/checks.ts
  packages/core/src/lib/providers.ts
  packages/core/src/lib/routes/callback.ts
  packages/core/src/lib/routes/session.ts
  packages/core/src/lib/web.ts
  packages/core/src/providers/index.ts
  packages/core/src/providers/oauth.ts
  packages/core/src/types.ts
Labels: providers, core

#7170 fix(provider): fix some type definition and docs for yandex
  packages/core/src/providers/yandex.ts
Labels: providers, core

#7277 docs: Remove --save from install command
  packages/next-auth/README.md
Labels: legacy

#7279 fix: "Contributing guide" broken link
  packages/next-auth/README.md
Labels: legacy

#7303 fix: detect origin when `instanceof Request` check fails
  packages/next-auth/src/core/index.ts
Labels: legacy

#7305 Update Clerk sponsorship URL
  packages/next-auth/README.md
Labels: legacy

#7326 feat: redirect proxy
  apps/dev/nextjs/pages/api/auth/[...nextauth].ts
  docs/docs/guides/basics/deployment.md
  packages/core/src/index.ts
  packages/core/src/lib/init.ts
  packages/core/src/lib/oauth/authorization-url.ts
  packages/core/src/lib/oauth/callback.ts
  packages/core/src/lib/oauth/checks.ts
  packages/core/src/lib/oauth/proxy-redirect.ts
  packages/core/src/lib/providers.ts
  packages/core/src/lib/routes/callback.ts
  packages/core/src/lib/routes/signin.ts
  packages/core/src/providers/oauth.ts
  packages/core/src/types.ts
Labels: providers, core

#7327 fix: consume nonce exactly once
  packages/core/src/lib/oauth/callback.ts
  packages/core/src/lib/oauth/handle-state.ts
  packages/core/src/lib/routes/callback.ts
Labels: core

#7374 fix(ts): support moduleResolution node16 and nodenext (#7351)
  packages/core/src/providers/credentials.ts
Labels: providers, core

#7392 fix(adapters): allow `neo4j-driver@5` as a peer dependency
  packages/adapter-neo4j/package.json
  pnpm-lock.yaml
Labels: adapters, neo4j

#7397 chore(docs): update xata docs link
  packages/adapter-xata/src/index.ts
Labels: adapters, xata

#7406 docs: fix default maxAge formula
  packages/core/src/jwt.ts
  packages/next-auth/src/jwt/types.ts
Labels: core, legacy

#7369 feat(adapters): add Account mapping before database write
  docs/docs/reference/adapters/index.md
  docs/docusaurus.config.js
  packages/core/src/adapters.ts
  packages/core/src/lib/callback-handler.ts
  packages/core/src/lib/oauth/callback.ts
  packages/core/src/lib/providers.ts
  packages/core/src/lib/routes/callback.ts
  packages/core/src/providers/oauth.ts
  packages/core/src/types.ts
Labels: providers, adapters, core
