Repository nextauthjs/next-auth, pull requests merged in 2023-07, with the labels that each got.

#7971 Add missing .js file extension in Mikro ORM Adapter
  packages/adapter-mikro-orm/src/index.ts
Labels: adapters, mikro-orm

#7989 optionally bumped to svelte 4.0
  packages/frameworks-sveltekit/package.json
Labels: frameworks, svelte

#8003 Descope provider
  packages/core/src/providers/descope.ts
Labels: providers, core

#7999 fix(ts): add overloads to withAuth middleware
  packages/next-auth/src/next/middleware.ts
Labels: legacy

#8032 chore(docs): OIDC example for BoxyHQ
  packages/core/src/providers/boxyhq-saml.ts
Labels: providers, core

#8044 fix(ts): require id for updateUser param
  packages/adapter-dynamodb/src/index.ts
  packages/core/src/adapters.ts
Labels: adapters, core, dynamodb

#8047 fix: add authorization params for AzureAD
  packages/core/src/providers/azure-ad.ts
Labels: providers, core

#8054 fix(ts): adapter interface fix
  packages/next-auth/src/adapters.ts
Labels: providers, adapters, core, legacy, frameworks, svelte

#6478 [SvelteKit] fix getSession url
  packages/frameworks-sveltekit/src/lib/index.ts
Labels: frameworks, svelte

#8092 SignInResponse Error Updated to String | Null
  apps/playgrounds/nuxt/lib/auth/types.ts
  packages/next-auth/src/react/types.ts
Labels: legacy, playgrounds

#8109 fix(ts): SignInResponse.error type
  packages/next-auth/src/react/types.ts
Labels: TypeScript, client, legacy

#8112 fix(ts): clean PR about enable EndpointRequest type to return void type
  packages/core/src/providers/oauth.ts
Labels: providers, core

#8108 chore: remove RSC warning in getServerSession
  packages/next-auth/src/next/index.ts
Labels: legacy
