Repository nextauthjs/next-auth, pull requests merged in 2023-12, with the labels that each got.

#9348 fix: Bad intersection caused type to be 'never'
  packages/core/src/providers/oauth.ts
Labels: providers, core

#9318 Fix broken link
  packages/core/src/errors.ts
Labels: core

#9356 fix(adapters): autogenerate user id in the kysely adapter
  packages/adapter-kysely/src/index.ts
  packages/adapter-kysely/tests/index.test.ts
Labels: adapters, kysely

#9355 fix(adapters): allow async SQLite clients
  packages/adapter-drizzle/package.json
  packages/adapter-drizzle/src/lib/sqlite.ts
  packages/adapter-drizzle/tests/mysql/schema.ts
  packages/adapter-drizzle/tests/sqlite/libsql.test.ts
  packages/adapter-drizzle/tests/sqlite/schema.libsql.ts
  packages/adapter-drizzle/tests/sqlite/test.sh
  pnpm-lock.yaml
Labels: adapters, drizzle

#9379 feat(providers): expose `@auth/sveltekit/providers/*`
  apps/dev/sveltekit/package.json
  apps/dev/sveltekit/src/hooks.server.ts
  apps/examples/sveltekit/package.json
  apps/examples/sveltekit/src/hooks.server.ts
  docs/src/pages/index.js
  packages/frameworks-sveltekit/package.json
  packages/frameworks-sveltekit/src/lib/index.ts
  pnpm-lock.yaml
  turbo.json
Labels: frameworks, examples, svelte

#9380 fix: add default user id generation
  packages/adapter-neo4j/src/index.ts
  packages/adapter-typeorm/src/index.ts
  packages/core/src/adapters.ts
  packages/core/src/lib/actions/callback/handle-login.ts
  packages/core/src/lib/actions/callback/index.ts
  packages/core/src/lib/actions/callback/oauth/callback.ts
  packages/core/src/lib/actions/session.ts
  packages/core/src/lib/actions/signin/send-token.ts
  packages/core/src/providers/oauth.ts
  packages/core/src/types.ts
  packages/next-auth/src/lib/index.ts
  packages/utils/adapter/index.ts
Labels: providers, adapters, core, neo4j, typeorm, next-auth

#9386 feat: deep-merge cookies options
  packages/core/src/index.ts
  packages/core/src/lib/init.ts
  packages/core/src/lib/utils/cookie.ts
  packages/core/src/types.ts
Labels: core

#9382 fix(custom): incorrect cookie names
  packages/core/src/jwt.ts
Labels: core

#9393 Allow SvelteKit 2 as peer dependency
  packages/frameworks-sveltekit/package.json
Labels: frameworks, svelte

#9403 feat: support sveltekit 2
  packages/frameworks-sveltekit/package.json
  packages/frameworks-sveltekit/svelte.config.js
  packages/frameworks-sveltekit/tsconfig.json
  pnpm-lock.yaml
Labels: frameworks, svelte

#9424 fix(docs): update Kysely link to CamelCasePlugin
  packages/adapter-kysely/src/index.ts
Labels: adapters, kysely

#9311 docs(apps): bump nuxt to 3.8.2
  apps/playgrounds/nuxt/lib/auth/server.ts
  apps/playgrounds/nuxt/package.json
Labels: playgrounds

#9288 fix(providers): typo in well-known url in azure-ad
  packages/core/src/providers/azure-ad.ts
Labels: providers, core

#9472 fix(provider): 42 changed their way to return images
  packages/core/src/providers/42-school.ts
Labels: providers, core

#9479 fix(docs): broken link in d1 adapter's docs
  packages/adapter-d1/src/index.ts
Labels: adapters, d1

#9182 fix(docs): drizzle - replace deprecated primaryKey(columns) with primaryKey({ columns })
  packages/adapter-drizzle/src/index.ts
Labels: adapters, drizzle

#8388 fix(adapters): silence supabase auth persistSession warning
  packages/adapter-supabase/src/index.ts
Labels: adapters, supabase

#9502 fix(docs): update kakao.md - clarify callbackUrl format
  packages/core/src/providers/kakao.ts
Labels: providers, core

#8379 fix(adapters): drizzle sqlite `getUserByAccount` - resolve results before calling property
  packages/adapter-drizzle/src/lib/sqlite.ts
Labels: adapters, drizzle
