Repository nextauthjs/next-auth, pull requests merged in 2023-02, with the labels that each got.

#6595 fix(ts): stop using typeof + generic together
  packages/next-auth/src/next/index.ts
Labels: core

#6608 docs: api reference restructure
  .eslintignore
  .gitignore
  .prettierignore
  apps/playgrounds/nuxt/package.json
  docs/docs/guides/03-basics/refresh-token-rotation.md
  docs/docs/reference/index.md
  docs/docusaurus.config.js
  docs/package.json
  docs/sidebars.js
  docs/src/css/index.css
  docs/typedoc-mdn-links.js
  docs/typedoc.json
  package.json
  packages/core/src/index.ts
  packages/frameworks-sveltekit/src/lib/index.ts
  patches/typedoc-plugin-markdown@3.14.0.patch
  pnpm-lock.yaml
  turbo.json
Labels: core, frameworks, svelte, playgrounds

#6603 feat: drop `crypto` dependency, convert to ESM
  packages/adapter-dynamodb/package.json
  packages/adapter-dynamodb/src/index.ts
  packages/adapter-dynamodb/src/utils.ts
  packages/adapter-dynamodb/tests/format.test.ts
  packages/adapter-dynamodb/tsconfig.json
  pnpm-lock.yaml
Labels: adapters, dynamodb

#6620 fix(providers): update Foursquare API version
  packages/core/src/providers/foursquare.js
Labels: providers, core

#6648 fix(ts): correct `credentials` types in `authorize` callback
  packages/core/src/lib/routes/callback.ts
  packages/core/src/providers/credentials.ts
Labels: providers, core

#6698 fix: add missing angle bracket
  packages/frameworks-sveltekit/package.json
Labels: frameworks, svelte

#6728 fix: Add missing logo to Default Signin Page
  packages/next-auth/src/core/pages/signin.tsx
Labels: providers, adapters, core, legacy, frameworks, svelte

#6753 fix(adapters): comply to Node.js native ESM resolver
  packages/adapter-firebase/src/index.ts
  packages/adapter-firebase/src/utils.ts
  packages/adapter-firebase/tests/index.test.ts
Labels: adapters, firebase

#6013 Add Beyond Identity Provider
  .github/ISSUE_TEMPLATE/2_bug_provider.yml
  apps/dev/nextjs/.env.local.example
  apps/dev/nextjs/pages/api/auth/[...nextauth].ts
  docs/static/img/providers/beyondidentity-dark.svg
  docs/static/img/providers/beyondidentity.svg
  packages/core/src/providers/beyondidentity.ts
Labels: providers, core

#6757 Add 🥈 Silver Financial Sponsors to the README
  packages/next-auth/README.md
Labels: legacy

#6781 fix: claims being serialized multiple times over
  packages/core/src/lib/providers.ts
Labels: core

#6814 feat: priortize `NEXTAUTH_URL_INTERNAL`
  packages/next-auth/src/utils/detect-host.ts
Labels: legacy

#6829 fix: JWT maxAge default to Session maxAge value
  packages/core/src/lib/init.ts
  packages/core/src/lib/routes/session.ts
Labels: core

#6742 fix(providers): add default user agent for GitHub
  packages/core/src/providers/github.ts
Labels: providers, core
