Repository nextauthjs/next-auth, pull requests merged in 2023-08, with the labels that each got.

#8236 fix(ts) : add missing function overload for Route Handler
  apps/dev/app/api/auth/[...nextauth]/route.ts
  packages/next-auth/src/next/index.ts
Labels: legacy

#8244 fix: don't return `res.end()` in api handler
  apps/dev/package.json
  packages/next-auth/src/next/index.ts
  pnpm-lock.yaml
Labels: legacy

#5464 feat(adapters): add Kysely adapter
  .github/ISSUE_TEMPLATE/3_bug_adapter.yml
  .github/issue-labeler.yml
  .github/pr-labeler.yml
  docs/docs/reference/adapters/index.md
  docs/docusaurus.config.js
  docs/sidebars.js
  docs/static/img/adapters/kysely.svg
  packages/adapter-kysely/README.md
  packages/adapter-kysely/package.json
  packages/adapter-kysely/src/index.ts
  packages/adapter-kysely/tests/index.test.ts
  packages/adapter-kysely/tests/scripts/mysql-init.sql
  packages/adapter-kysely/tests/test.sh
  packages/adapter-kysely/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Labels: enhancement, adapters

#8269 corrected sqlite condition
  packages/adapter-drizzle/src/lib/utils.ts
Labels: adapters

#8284 fix: sort cookie chunks correctly
  packages/next-auth/src/core/lib/cookie.ts
Labels: legacy

#8278 fix: sort cookie chunks correctly
  packages/core/src/lib/cookie.ts
Labels: core

#8282 feat(adapters): standardize default table names to be singular
  packages/adapter-drizzle/src/index.ts
  packages/adapter-drizzle/src/lib/mysql.ts
  packages/adapter-drizzle/src/lib/pg.ts
  packages/adapter-drizzle/src/lib/sqlite.ts
Labels: adapters

#8294 fix(ts): compatibility with `next-auth` v4 types
  packages/core/src/adapters.ts
Labels: adapters, core

#8295 feat(providers): add Passage by 1Password
  docs/static/img/providers/passage.svg
  packages/core/src/providers/passage.ts
Labels: providers, core

#8342 fix(adapters): use built-in `is()` to identify db type
  packages/adapter-drizzle/src/index.ts
  packages/adapter-drizzle/src/lib/mysql.ts
  packages/adapter-drizzle/src/lib/pg.ts
  packages/adapter-drizzle/src/lib/sqlite.ts
  packages/adapter-drizzle/src/lib/utils.ts
Labels: adapters

#8383 Adds extra check for if pathname is including a trailing slash
  packages/core/src/lib/web.ts
Labels: core

#4698 feat(providers): add Azure DevOps provider
  .github/ISSUE_TEMPLATE/2_bug_provider.yml
  packages/core/src/providers/azure-devops.ts
Labels: enhancement, providers, core

#8345 linked in provider options and profile update
  packages/core/src/providers/linkedin.ts
Labels: providers, core
