Repository nextauthjs/next-auth, pull requests merged in 2024-08, with the labels that each got.

#11075 fix: refetch session even if there is no current session
  packages/next-auth/src/react.tsx
Labels: next-auth

#11551 fix(next): fix Turbopack compat issue with `next/*.js`
  packages/next-auth/src/index.ts
  packages/next-auth/src/lib/actions.ts
  packages/next-auth/src/lib/env.ts
  packages/next-auth/src/lib/index.ts
  packages/next-auth/src/lib/types.ts
Labels: next-auth

#11534 chore(docs): Use official typedoc mdn links pulugin
  docs/package.json
  docs/typedoc-mdn-links.cjs
  docs/typedoc.config.cjs
  packages/adapter-prisma/typedoc.config.cjs
  pnpm-lock.yaml
Labels: adapters, prisma

#11553 Fix MissingRequiredError when updating existing sessions
  packages/adapter-edgedb/src/index.ts
Labels: adapters, edgedb

#11492 docs(express): add notes on ESM
  packages/frameworks-express/src/index.ts
Labels: frameworks

#11470 fix(react): getSession should update session on current tab
  packages/next-auth/src/react.tsx
Labels: next-auth

#11453 Update Apple provider config
  packages/core/src/providers/apple.ts
Labels: providers, core

#11178 docs: add link to providers page
  packages/core/src/types.ts
Labels: core

#11348 fix(providers): Update Foursquare profile callback + API version
  packages/next-auth/src/providers/foursquare.js
Labels: providers, legacy

#10728 fix(provider): update tiktok token url
  packages/core/src/providers/tiktok.ts
Labels: providers, core

#11308 fix(provider): update TikTok provider
  packages/core/src/providers/tiktok.ts
Labels: providers, core

#11446 fix(providers): dropbox userinfo request is post (#11397)
  packages/core/src/providers/dropbox.ts
Labels: providers, core

#11381 fix(core): invalid url error when using custom error page
  packages/core/src/index.ts
Labels: core

#11562 fix(ts): add compat types for `@auth/*-adapters` for v4
  .github/workflows/release.yml
  packages/next-auth/package.json
  packages/next-auth/src/adapters.ts
  packages/next-auth/src/core/lib/callback-handler.ts
  pnpm-lock.yaml
Labels: adapters, legacy

#11592 chore: Fix formatting
  packages/core/src/providers/apple.ts
  packages/core/src/providers/dropbox.ts
  packages/core/src/providers/tiktok.ts
  packages/core/test/utils.ts
  packages/frameworks-sveltekit/src/lib/actions.ts
  packages/next-auth/src/react.tsx
Labels: providers, core, frameworks, svelte, next-auth

#10236 feat(core/providers): add wechat provider
  docs/static/img/providers/wechat.svg
  packages/core/src/providers/wechat.ts
Labels: providers, core

#6614 adding ping identity provider
  .github/ISSUE_TEMPLATE/2_bug_provider.yml
  docs/public/img/providers/ping-id.svg
  packages/core/src/providers/ping-id.ts
Labels: enhancement, providers, core

#11645 Add Eventbrite provider
  docs/static/img/providers/eventbrite.svg
  packages/core/src/providers/eventbrite.ts
Labels: providers, core

#11652 fix(provider): Fix import path in Eventbrite provider
  .github/ISSUE_TEMPLATE/2_bug_provider.yml
  packages/core/src/providers/eventbrite.ts
Labels: providers, core

#11651 chore(docs): Fix Qwik Auth API Reference generation
  docs/pages/reference/_meta.js
  docs/typedoc.config.cjs
  packages/frameworks-qwik/typedoc.config.cjs
Labels: frameworks

#11636 fix: Avoid excessive Env URL and basePath redundant Warning
  packages/core/src/lib/utils/env.ts
  packages/core/test/env.test.ts
  packages/next-auth/src/lib/env.ts
  packages/next-auth/test/env.test.ts
Labels: core, next-auth

#11293 chore(firebase-adapter): update `firebase-admin` peer-dep to 12.0.0+
  packages/adapter-firebase/package.json
  pnpm-lock.yaml
Labels: adapters, firebase
