Repository nextauthjs/next-auth, pull requests merged in 2024-03, with the labels that each got.

#10011 chore(sveltekit): use new APIs in `sveltekit-example-app`
  apps/examples/sveltekit/package.json
  apps/examples/sveltekit/pnpm-lock.yaml
  apps/examples/sveltekit/src/auth.ts
  apps/examples/sveltekit/src/components/header.svelte
  apps/examples/sveltekit/src/hooks.server.ts
  apps/examples/sveltekit/src/lib/SignInButton.svelte
  apps/examples/sveltekit/src/routes/+layout.svelte
  apps/examples/sveltekit/src/routes/signin/+page.server.ts
  apps/examples/sveltekit/src/routes/signout/+page.server.ts
  apps/examples/sveltekit/svelte.config.js
  apps/examples/sveltekit/vite.config.js
  pnpm-lock.yaml
Labels: examples

#10118 chore: add new example app for nextjs and Docker
  .dockerignore
  .github/workflows/release.yml
  apps/examples/nextjs-docker/.env.local.example
  apps/examples/nextjs-docker/.gitignore
  apps/examples/nextjs-docker/Dockerfile
  apps/examples/nextjs-docker/README.md
  apps/examples/nextjs-docker/app/auth/[...nextauth]/route.ts
  apps/examples/nextjs-docker/app/favicon.ico
  apps/examples/nextjs-docker/app/globals.css
  apps/examples/nextjs-docker/app/layout.tsx
  apps/examples/nextjs-docker/app/page.tsx
  apps/examples/nextjs-docker/auth.ts
  apps/examples/nextjs-docker/components.json
  apps/examples/nextjs-docker/components/auth-components.tsx
  apps/examples/nextjs-docker/components/custom-link.tsx
  apps/examples/nextjs-docker/components/footer.tsx
  apps/examples/nextjs-docker/components/header.tsx
  apps/examples/nextjs-docker/components/main-nav.tsx
  apps/examples/nextjs-docker/components/session-data.tsx
  apps/examples/nextjs-docker/components/ui/button.tsx
  apps/examples/nextjs-docker/components/user-button.tsx
  apps/examples/nextjs-docker/docker-compose.yml
  apps/examples/nextjs-docker/lib/utils.ts
  apps/examples/nextjs-docker/middleware.ts
  apps/examples/nextjs-docker/next.config.js
  apps/examples/nextjs-docker/package.json
  apps/examples/nextjs-docker/postcss.config.js
  apps/examples/nextjs-docker/public/logo.png
  apps/examples/nextjs-docker/tailwind.config.js
  apps/examples/nextjs-docker/test.sh
  apps/examples/nextjs-docker/tsconfig.json
  apps/examples/nextjs/app/auth/[...nextauth]/route.ts
  packages/core/test/e2e/basic-auth.spec.ts
  packages/utils/playwright.config.ts
  pnpm-lock.yaml
Labels: examples

#9849 feat(fauna): update adapter for FQL v10
  packages/adapter-fauna/.fauna-migrate.cjs
  packages/adapter-fauna/.fauna-project
  packages/adapter-fauna/fauna/account.fsl
  packages/adapter-fauna/fauna/migrations/2021-08-16T18_37_57.207Z/create-collection-accounts.fql
  packages/adapter-fauna/fauna/migrations/2021-08-16T18_37_57.207Z/create-collection-sessions.fql
  packages/adapter-fauna/fauna/migrations/2021-08-16T18_37_57.207Z/create-collection-users.fql
  packages/adapter-fauna/fauna/migrations/2021-08-16T18_37_57.207Z/create-collection-verification_tokens.fql
  packages/adapter-fauna/fauna/migrations/2021-08-16T18_37_57.207Z/create-index-account_by_provider_and_provider_account_id.fql
  packages/adapter-fauna/fauna/migrations/2021-08-16T18_37_57.207Z/create-index-accounts_by_user_id.fql
  packages/adapter-fauna/fauna/migrations/2021-08-16T18_37_57.207Z/create-index-session_by_session_token.fql
  packages/adapter-fauna/fauna/migrations/2021-08-16T18_37_57.207Z/create-index-sessions_by_user_id.fql
  packages/adapter-fauna/fauna/migrations/2021-08-16T18_37_57.207Z/create-index-user_by_email.fql
  packages/adapter-fauna/fauna/migrations/2021-08-16T18_37_57.207Z/create-index-verification_token_by_identifier_and_token.fql
  packages/adapter-fauna/fauna/resources/collections/accounts.fql
  packages/adapter-fauna/fauna/resources/collections/sessions.fql
  packages/adapter-fauna/fauna/resources/collections/users.fql
  packages/adapter-fauna/fauna/resources/collections/verification_tokens.fql
  packages/adapter-fauna/fauna/resources/indexes/account_by_provider_and_provider_account_id.fql
  packages/adapter-fauna/fauna/resources/indexes/accounts_by_user_id.fql
  packages/adapter-fauna/fauna/resources/indexes/session_by_session_token.fql
  packages/adapter-fauna/fauna/resources/indexes/sessions_by_user_id.fql
  packages/adapter-fauna/fauna/resources/indexes/user_by_email.fql
  packages/adapter-fauna/fauna/resources/indexes/verification_token_by_identifier_and_token.fql
  packages/adapter-fauna/fauna/schema.fql
  packages/adapter-fauna/fauna/session.fsl
  packages/adapter-fauna/fauna/user.fsl
  packages/adapter-fauna/fauna/verificationToken.fsl
  packages/adapter-fauna/package.json
  packages/adapter-fauna/src/index.ts
  packages/adapter-fauna/test/index.test.ts
  packages/adapter-fauna/test/test.sh
  packages/utils/adapter.ts
  pnpm-lock.yaml
Labels: adapters, fauna

#8931 chore(docs): add AWS Credentials guide to DynamoDB page
  packages/adapter-dynamodb/src/index.ts
Labels: adapters, dynamodb

#10181 chore(svelte): rm paragraph tag with many different children in docs example code
  packages/frameworks-sveltekit/src/lib/index.ts
Labels: frameworks, svelte

#9871 feat: customizable `authorize()` error
  packages/core/src/errors.ts
  packages/core/src/index.ts
  packages/core/src/lib/actions/callback/index.ts
  packages/core/src/lib/actions/signin/send-token.ts
  packages/core/src/lib/utils/web.ts
  packages/core/src/providers/credentials.ts
  packages/core/src/types.ts
  packages/core/test/actions/callback.test.ts
  packages/core/test/authorize.test.ts
Labels: providers, core

#10190 chore(tests): reenable unit tests in CI and cleanup docker test setups
  .github/workflows/release.yml
  apps/examples/nextjs-docker/test.sh
  package.json
  packages/adapter-azure-tables/test/test.sh
  packages/adapter-dgraph/src/lib/client.ts
  packages/adapter-dgraph/src/lib/graphql/schema.gql
  packages/adapter-dgraph/test/test.sh
  packages/adapter-drizzle/test/mysql-multi-project-schema/test.sh
  packages/adapter-drizzle/test/mysql/test.sh
  packages/adapter-drizzle/test/pg-multi-project-schema/test.sh
  packages/adapter-drizzle/test/pg/test.sh
  packages/adapter-drizzle/test/sqlite-multi-project-schema/test.sh
  packages/adapter-drizzle/test/sqlite/test.sh
  packages/adapter-fauna/test/test.sh
  packages/adapter-firebase/firebase.json
  packages/adapter-firebase/package.json
  packages/adapter-firebase/src/index.ts
  packages/adapter-firebase/test/firestore.rules
  packages/adapter-firebase/test/index.test.ts
  packages/adapter-firebase/test/test.sh
  packages/adapter-hasura/test/test.sh
  packages/adapter-kysely/test/test.sh
  packages/adapter-mongodb/test/test.sh
  packages/adapter-neo4j/test/test.sh
  packages/adapter-pg/test/test.sh
  packages/adapter-pouchdb/package.json
  packages/adapter-prisma/package.json
  packages/adapter-prisma/prisma/mongodb.prisma
  packages/adapter-prisma/test/mongodb.test.sh
  packages/adapter-supabase/test/test.sh
  packages/adapter-surrealdb/test/test.sh
  packages/adapter-typeorm/test/init.sh
  packages/adapter-typeorm/test/mysql/test.sh
  packages/adapter-typeorm/test/postgresql/test.sh
  packages/adapter-typeorm/test/sqlite/test.sh
  packages/adapter-unstorage/test/test.sh
  packages/adapter-upstash-redis/test/test.sh
  packages/core/package.json
  packages/frameworks-express/package.json
  packages/frameworks-solid-start/package.json
  packages/frameworks-sveltekit/package.json
  packages/frameworks-template/package.json
  packages/next-auth/package.json
  packages/utils/adapter.ts
  pnpm-lock.yaml
  turbo.json
Labels: adapters, firebase, prisma, fauna, dgraph, mongodb, neo4j, pouchdb, upstash-redis, supabase, typeorm, frameworks, solidjs, examples, svelte, drizzle, kysely, next-auth, hasura, surrealdb, pg, azure-tables, unstorage

#10191 chore(sveltekit): update more current docs to latest SvelteKitAuth API and finish example app migration to latest API
  apps/dev/sveltekit/src/routes/+page.svelte
  apps/examples/sveltekit/src/components/header.svelte
  packages/frameworks-sveltekit/src/lib/index.ts
Labels: frameworks, examples, svelte

#10198 fix(docs): typo in docs for prisma adapter
  packages/adapter-prisma/src/index.ts
Labels: adapters, prisma

#10199 chore(docs): cleanup `@auth/sveltekit` current docs
  apps/examples/nextjs/auth.ts
  packages/frameworks-sveltekit/src/lib/index.ts
Labels: frameworks, examples, svelte

#10200 fix: export `CredentialsSignin` class to extend in custom authorize errors
  packages/core/src/providers/credentials.ts
  packages/frameworks-express/src/index.ts
  packages/frameworks-solid-start/src/index.ts
  packages/frameworks-sveltekit/src/lib/index.ts
  packages/next-auth/src/index.tsx
Labels: providers, core, frameworks, solidjs, svelte, next-auth

#10217 docs(adapters): fix link leading to 404
  packages/core/src/adapters.ts
Labels: adapters, core

#10222 chore: cleanup nextjs dev/example middleware.ts file
  apps/dev/nextjs/auth.config.ts
  apps/dev/nextjs/middleware.ts
  apps/examples/nextjs/app/api-example/page.tsx
  apps/examples/nextjs/app/client-example/page.tsx
  apps/examples/nextjs/app/globals.css
  apps/examples/nextjs/app/page.tsx
  apps/examples/nextjs/auth.ts
  apps/examples/nextjs/components/client-example.tsx
  apps/examples/nextjs/components/custom-link.tsx
  apps/examples/nextjs/components/footer.tsx
  apps/examples/nextjs/components/main-nav.tsx
  apps/examples/nextjs/components/session-data.tsx
  apps/examples/nextjs/components/ui/navigation-menu.tsx
  apps/examples/nextjs/components/user-button.tsx
  apps/examples/nextjs/middleware.ts
  apps/examples/nextjs/tailwind.config.js
  packages/core/src/index.ts
Labels: core, examples

#10225 fix(sveltekit): add space after provider name in SignIn btn
  packages/frameworks-sveltekit/src/lib/components/SignIn.svelte
Labels: frameworks, svelte

#10281 test(core): fix failed tests for webauthn
  packages/core/src/lib/utils/webauthn-utils.ts
  packages/core/test/webauthn-utils.test.ts
Labels: core

#10094 fix(core): cannot parse action at /session
  packages/core/src/lib/utils/env.ts
  packages/core/src/lib/utils/logger.ts
  packages/core/test/env.test.ts
Labels: core

#10239 chore(jsdoc): note different default basePaths
  packages/core/src/index.ts
Labels: core

#10218 fix(next-auth): cannot parse action at /session
  packages/next-auth/src/lib/actions.ts
  packages/next-auth/src/lib/index.ts
Labels: next-auth

#10219 fix(svelte): cannot parse action at /session
  packages/frameworks-sveltekit/src/lib/actions.ts
Labels: frameworks, svelte

#10372 chore(docs): fix typedoc generation
  docs/package.json
  docs/typedoc-nextauth.cjs
  docs/typedoc.config.cjs
  packages/adapter-prisma/typedoc.config.cjs
  packages/core/typedoc.config.cjs
  packages/frameworks-sveltekit/typedoc.config.cjs
  packages/next-auth/typedoc.config.cjs
  pnpm-lock.yaml
Labels: adapters, prisma, frameworks, svelte, next-auth

#10305 fix: throw `MissingSecret` when secret missing
  packages/core/src/lib/utils/env.ts
  packages/core/test/env.test.ts
Labels: core

#10288 fix: pages configuration
  packages/core/src/index.ts
  packages/core/test/actions/callback.test.ts
Labels: core

#10321 fix(fauna): support custom collection names
  packages/adapter-fauna/fauna/account.fsl
  packages/adapter-fauna/fauna/session.fsl
  packages/adapter-fauna/fauna/user.fsl
  packages/adapter-fauna/fauna/verificationToken.fsl
  packages/adapter-fauna/src/index.ts
  packages/adapter-fauna/test/index.test.ts
  packages/adapter-fauna/test/test.sh
Labels: adapters, fauna

#10421 fix: `createActionURL` set detectedProtocol correctly
  packages/core/src/lib/utils/env.ts
  packages/core/test/env.test.ts
Labels: core

#10448 chore(docs): update azure-ad.ts
  packages/core/src/providers/azure-ad.ts
Labels: providers, core
