Repository nextauthjs/next-auth, pull requests merged in 2024-04, with the labels that each got.

#10354 fix(providers): make webex apiBaseUrl optional
  packages/core/src/providers/webex.ts
Labels: providers, core

#10451 chore: fixes 404 error when visiting db adapters
  packages/core/src/adapters.ts
Labels: adapters, core

#10492 fix: enable popular providers in example nextjs app
  apps/examples/nextjs/auth.ts
  apps/examples/nextjs/components/user-button.tsx
Labels: examples

#10493 chore: add more providers to example app
  apps/examples/nextjs/auth.ts
  apps/proxy/api/[auth].ts
Labels: examples

#10496 fix: infer providers logo filename
  docs/static/img/providers/azure-ad-b2c-dark.svg
  docs/static/img/providers/azure-ad-b2c.svg
  docs/static/img/providers/azure-ad-dark.svg
  docs/static/img/providers/azure-ad.svg
  docs/static/img/providers/netlify.svg
  docs/static/img/providers/zoom.svg
  packages/core/src/lib/pages/signin.tsx
  packages/core/src/providers/apple.ts
  packages/core/src/providers/asgardeo.ts
  packages/core/src/providers/atlassian.ts
  packages/core/src/providers/auth0.ts
  packages/core/src/providers/azure-ad-b2c.ts
  packages/core/src/providers/azure-ad.ts
  packages/core/src/providers/battlenet.ts
  packages/core/src/providers/beyondidentity.ts
  packages/core/src/providers/box.ts
  packages/core/src/providers/click-up.ts
  packages/core/src/providers/cognito.ts
  packages/core/src/providers/descope.ts
  packages/core/src/providers/discord.ts
  packages/core/src/providers/dribbble.ts
  packages/core/src/providers/facebook.ts
  packages/core/src/providers/foursquare.ts
  packages/core/src/providers/freshbooks.ts
  packages/core/src/providers/github.ts
  packages/core/src/providers/gitlab.ts
  packages/core/src/providers/google.ts
  packages/core/src/providers/hubspot.ts
  packages/core/src/providers/instagram.ts
  packages/core/src/providers/keycloak.ts
  packages/core/src/providers/line.ts
  packages/core/src/providers/linkedin.ts
  packages/core/src/providers/mailchimp.ts
  packages/core/src/providers/mattermost.ts
  packages/core/src/providers/notion.ts
  packages/core/src/providers/oauth.ts
  packages/core/src/providers/okta.ts
  packages/core/src/providers/ory-hydra.ts
  packages/core/src/providers/passage.ts
  packages/core/src/providers/patreon.ts
  packages/core/src/providers/reddit.ts
  packages/core/src/providers/slack.ts
  packages/core/src/providers/spotify.ts
  packages/core/src/providers/tiktok.ts
  packages/core/src/providers/todoist.ts
  packages/core/src/providers/trakt.ts
  packages/core/src/providers/twitch.ts
  packages/core/src/providers/twitter.ts
  packages/core/src/providers/vk.ts
  packages/core/src/providers/wikimedia.ts
  packages/core/src/providers/workos.ts
  packages/core/src/providers/yandex.ts
  packages/core/src/providers/zoom.ts
Labels: providers, core

#10497 feat: add `microsoft-entra-id` provider
  docs/static/img/providers/microsoft-entra-id.svg
  packages/core/src/providers/azure-ad.ts
  packages/core/src/providers/azure-devops.ts
  packages/core/src/providers/microsoft-entra-id.ts
Labels: providers, core

#10503 fix(express): use app.set for "trust proxy"
  packages/frameworks-express/src/index.ts
Labels: frameworks

#10466 chore(prisma): update docs fix recommended User schema
  packages/adapter-prisma/src/index.ts
Labels: adapters, prisma

#10412 chore(adapter-unstorage): add initial webauthn support
  packages/adapter-unstorage/package.json
  packages/adapter-unstorage/src/index.ts
  packages/adapter-unstorage/test/filesystem.test.ts
  packages/adapter-unstorage/test/memory.test.ts
  packages/adapter-unstorage/test/redis-json.test.ts
  packages/adapter-unstorage/test/redis.test.ts
Labels: adapters, unstorage

#10560 chore(core): update links in typedocs to new docs URLs
  packages/core/src/adapters.ts
  packages/core/src/errors.ts
  packages/core/src/index.ts
  packages/core/src/jwt.ts
  packages/core/src/lib/index.ts
  packages/core/src/types.ts
Labels: adapters, core

#10542 fix(pages): cleanup oauth provider branded buttons
  packages/core/src/lib/pages/signin.tsx
  packages/core/src/lib/pages/styles.css
  packages/core/src/providers/boxyhq-saml.ts
  packages/core/src/providers/cognito.ts
  packages/core/src/providers/coinbase.ts
  packages/core/src/providers/dropbox.ts
  packages/core/src/providers/google.ts
  packages/core/src/providers/keycloak.ts
  packages/core/src/providers/netlify.ts
  packages/core/src/providers/oauth.ts
  packages/core/src/providers/ory-hydra.ts
  packages/core/src/providers/passage.ts
  packages/core/src/providers/pinterest.ts
  packages/core/src/providers/reddit.ts
  packages/core/src/providers/slack.ts
  packages/core/src/providers/spotify.ts
Labels: providers, core

#10582 fix(providers): update providers config from verification walk-throughs
  apps/examples/nextjs/auth.ts
  docs/pages/getting-started/providers/workos.mdx
  packages/core/src/providers/netlify.ts
  packages/core/src/providers/slack.ts
  packages/core/src/providers/workos.ts
Labels: providers, core, examples

#10557 fix(ts): reduce public type surface
  packages/core/src/errors.ts
  packages/core/src/index.ts
  packages/core/src/lib/actions/signout.ts
  packages/core/src/lib/index.ts
  packages/core/src/lib/init.ts
  packages/core/src/lib/utils/assert.ts
  packages/core/src/lib/utils/env.ts
  packages/core/src/lib/utils/providers.ts
  packages/core/src/lib/utils/web.ts
  packages/core/src/providers/oauth.ts
  packages/core/src/types.ts
  packages/frameworks-express/src/index.ts
  packages/frameworks-solid-start/src/index.ts
Labels: providers, core, frameworks, solidjs

#10625 fix(docs): replaced broken FAQ links
  docs/pages/getting-started/authentication.mdx
  packages/core/src/index.ts
  packages/core/src/providers/oauth.ts
Labels: providers, core

#10624 fix(next-auth): improve typing for using Dynamic Route Segments with auth()
  packages/next-auth/src/index.tsx
  packages/next-auth/src/lib/types.ts
Labels: next-auth

#10339 fix(sveltekit): skip auth routes on prerender
  packages/frameworks-sveltekit/src/lib/env.ts
  packages/frameworks-sveltekit/src/lib/index.ts
Labels: frameworks, svelte

#10611 chore(v4-docs): fix adapters links
  docs/docs/providers/42.md
  docs/docs/providers/azure-ad-b2c.md
  docs/docs/providers/azure-ad.md
  docs/docs/providers/github.md
  docs/docs/providers/gitlab.md
  docs/docs/providers/twitter.md
  docs/docs/providers/zoho.md
Labels: documentation-v4

#10602 fix(express): Routing and error handling logic
  packages/frameworks-express/src/index.ts
  packages/frameworks-express/test/routing.test.ts
Labels: frameworks, express

#10682 fix(drizzle): revert breaking changes and cleanup
  docs/pages/getting-started/adapters/drizzle.mdx
  docs/pages/getting-started/authentication/email.mdx
  docs/typedoc.config.cjs
  packages/adapter-drizzle/package.json
  packages/adapter-drizzle/src/index.ts
  packages/adapter-drizzle/src/lib/mysql.ts
  packages/adapter-drizzle/src/lib/pg.ts
  packages/adapter-drizzle/src/lib/sqlite.ts
  packages/adapter-drizzle/src/lib/utils.ts
  packages/next-auth/src/index.tsx
  pnpm-lock.yaml
Labels: adapters, drizzle, next-auth

#10673 chore(sveltekit): update sveltekit example app with all providers
  apps/dev/sveltekit/src/routes/protected/+page.svelte
  apps/examples/sveltekit/package.json
  apps/examples/sveltekit/pnpm-lock.yaml
  apps/examples/sveltekit/src/auth.ts
  apps/examples/sveltekit/src/routes/protected/+page.svelte
Labels: examples

#10671 fix(providers): update linkedin oidc issuer
  packages/core/src/providers/linkedin.ts
Labels: providers, core

#10675 chore(express): add all providers to express example app
  apps/examples/express/api/index.js
  apps/examples/express/package.json
  apps/examples/express/pnpm-lock.yaml
  apps/examples/express/src/app.ts
  apps/examples/express/src/config/auth.config.ts
  apps/examples/express/src/globals.ts
  apps/examples/express/src/middleware/auth.middleware.ts
  apps/examples/express/src/middleware/error.middleware.ts
  apps/examples/express/src/server.ts
  apps/examples/express/views/layout.pug
Labels: examples

#10742 fix: add missing angle bracket
  packages/core/package.json
  packages/frameworks-express/package.json
Labels: frameworks

#10616 chore(docs): update WorkOS docs
  docs/docs/providers/workos.md
Labels: documentation-v4

#10669 chore(v4-docs): update adapter links
  docs/docs/configuration/databases.md
  docs/docs/configuration/options.md
  docs/docs/getting-started/upgrade-to-v4.md
  docs/docs/providers/azure-ad.md
  docs/docs/providers/github.md
  docs/docs/providers/twitter.md
  docs/docs/tutorials/creating-a-database-adapter.md
Labels: documentation-v4

#10752 fix(core): support `trailingSlash` in `providerAndAccountId` parsing
  packages/core/src/lib/utils/web.ts
  packages/core/test/url-parsing.test.ts
Labels: core

#10749 chore(license): ensure all packages have "ISC" license
  apps/examples/express/package.json
  docs/LICENSE
  docs/package.json
  packages/frameworks-sveltekit/package.json
Labels: frameworks, examples, svelte

#10765 fix: strip `code_verifier` from request body when the provider doesn't support PKCE
  apps/dev/nextjs/auth.config.ts
  apps/dev/nextjs/components/header.tsx
  packages/core/src/lib/actions/callback/oauth/callback.ts
  packages/core/src/providers/linkedin.ts
Labels: providers, core

#8865 feat(providers): add NetSuite OAuth Provider
  .github/ISSUE_TEMPLATE/2_bug_provider.yml
  docs/pages/getting-started/providers/netsuite.mdx
  docs/public/img/providers/netsuite.svg
  packages/core/src/providers/netsuite.ts
Labels: providers, core
