Repository nextauthjs/next-auth, pull requests merged in 2024-10, with the labels that each got.

#11940 Set jwt session strategy for examples.
  apps/examples/nextjs/auth.ts
Labels: examples

#11952 feat(adapters): support Prisma's `strictUndefinedChecks`
  packages/adapter-prisma/package.json
  packages/adapter-prisma/prisma/custom.prisma
  packages/adapter-prisma/prisma/mongodb.prisma
  packages/adapter-prisma/prisma/schema.prisma
  packages/adapter-prisma/src/index.ts
  pnpm-lock.yaml
Labels: adapters, prisma

#11953 chore: stricter `isDate`
  packages/core/src/adapters.ts
Labels: adapters, core

#10020 feat(firebase): add option to set custom collection names
  packages/adapter-firebase/src/index.ts
  packages/adapter-firebase/test/index.test.ts
Labels: adapters, firebase

#11975 feat(oauth): expose custom `fetch`
  docs/pages/guides/_meta.js
  docs/pages/guides/corporate-proxy.mdx
  packages/core/src/index.ts
  packages/core/src/lib/actions/callback/oauth/callback.ts
  packages/core/src/lib/actions/signin/authorization-url.ts
  packages/core/src/lib/init.ts
  packages/core/src/lib/utils/custom-fetch.ts
  packages/core/src/lib/utils/providers.ts
  packages/core/src/providers/oauth.ts
  packages/core/test/actions/callback.test.ts
  packages/frameworks-express/src/index.ts
  packages/frameworks-qwik/src/index.ts
  packages/frameworks-solid-start/src/index.ts
  packages/frameworks-sveltekit/src/lib/index.ts
  packages/next-auth/src/index.ts
Labels: providers, core, frameworks, solidjs, svelte, next-auth

#11979 chore: remove unnecessary code
  packages/frameworks-qwik/package.json
  packages/frameworks-solid-start/package.json
  packages/next-auth/scripts/generate-providers.js
Labels: frameworks, solidjs, next-auth

#11974 fix: added missing type to authenticator table of drizzle postgres adapter
  packages/adapter-drizzle/src/lib/pg.ts
Labels: adapters, drizzle

#11991 fix(qwik): configure `callbackUrl` from param properly
  packages/frameworks-qwik/src/index.ts
Labels: frameworks

#11994 chore: bump to oauth4webapi@3
  packages/core/package.json
  packages/core/src/lib/actions/callback/oauth/callback.ts
  packages/core/src/lib/actions/signin/authorization-url.ts
  packages/core/src/providers/oauth.ts
  packages/core/src/types.ts
  pnpm-lock.yaml
Labels: providers, core

#11983 chore: add missing `clean` script in packages
  packages/adapter-azure-tables/package.json
  packages/adapter-d1/package.json
  packages/adapter-dgraph/package.json
  packages/adapter-drizzle/package.json
  packages/adapter-edgedb/package.json
  packages/adapter-fauna/package.json
  packages/adapter-firebase/package.json
  packages/adapter-hasura/package.json
  packages/adapter-kysely/package.json
  packages/adapter-mikro-orm/package.json
  packages/adapter-mongodb/package.json
  packages/adapter-neo4j/package.json
  packages/adapter-pg/package.json
  packages/adapter-prisma/package.json
  packages/adapter-sequelize/package.json
  packages/adapter-surrealdb/package.json
  packages/adapter-typeorm/package.json
  packages/adapter-unstorage/package.json
  packages/adapter-upstash-redis/package.json
  packages/adapter-xata/package.json
  packages/frameworks-express/package.json
Labels: adapters, firebase, prisma, fauna, mikro-orm, dgraph, mongodb, neo4j, sequelize, upstash-redis, typeorm, xata, frameworks, drizzle, kysely, d1, hasura, surrealdb, pg, azure-tables, edgedb, unstorage

#12021 chore(sveltekit): upgrade dependencies
  packages/frameworks-sveltekit/package.json
  packages/frameworks-sveltekit/tsconfig.json
  pnpm-lock.yaml
Labels: frameworks, svelte

#12061 :sparkles: enable: Svelte 5 (in peer deps)
  packages/frameworks-sveltekit/package.json
Labels: frameworks, svelte

#11980 fix(providers): conform Entra ID when responding with the wrong `issuer`
  docs/public/img/providers/azure-ad.svg
  packages/core/src/index.ts
  packages/core/src/lib/actions/callback/oauth/callback.ts
  packages/core/src/lib/actions/signin/authorization-url.ts
  packages/core/src/lib/index.ts
  packages/core/src/lib/symbols.ts
  packages/core/src/lib/utils/custom-fetch.ts
  packages/core/src/lib/utils/providers.ts
  packages/core/src/providers/azure-ad-b2c.ts
  packages/core/src/providers/azure-ad.ts
  packages/core/src/providers/microsoft-entra-id.ts
  packages/core/src/providers/oauth.ts
Labels: providers, core

#12066 fix(core): adds 'none' token endpoint auth method for oauth and oidc
  packages/core/src/lib/actions/callback/oauth/callback.ts
Labels: core

#12068 fix(providers): conform Apple
  packages/core/src/lib/actions/callback/oauth/callback.ts
  packages/core/src/lib/actions/signin/authorization-url.ts
  packages/core/src/lib/utils/providers.ts
  packages/core/src/providers/apple.ts
  packages/core/src/providers/oauth.ts
Labels: providers, core

#12069 fix(nextjs): await headers and cookies as expected in Next.js 15 #12002
  apps/dev/nextjs/next-env.d.ts
  apps/dev/nextjs/package.json
  packages/next-auth/package.json
  packages/next-auth/src/index.ts
  packages/next-auth/src/lib/actions.ts
  packages/next-auth/src/lib/index.ts
  pnpm-lock.yaml
Labels: next-auth

#12105 fix: functions that return promises must be async
  packages/next-auth/src/utils/logger.ts
Labels: legacy
