Repository nextauthjs/next-auth, pull requests merged in 2024-02, with the labels that each got.

#9866 fix: allow Facebook authorization config to be merged
  packages/core/src/providers/facebook.ts
Labels: providers, core

#9890 fix: properly extend `NodemailerConfig` by `EmailConfig`
  packages/core/src/providers/email.ts
  packages/core/src/providers/nodemailer.ts
Labels: providers, core

#9889 fix(sveltekit): always set `config.basePath` with SvelteKit imported `base`
  packages/frameworks-sveltekit/src/lib/index.ts
Labels: frameworks, svelte

#9896 refactor(core): export `isAuthAction`
  packages/core/src/index.ts
  packages/core/src/lib/utils/actions.ts
  packages/core/src/lib/utils/web.ts
Labels: core

#9714 feat: add server `signIn` and `signOut` methods
  apps/dev/nextjs/package.json
  apps/dev/sveltekit/.env.example
  apps/dev/sveltekit/package.json
  apps/dev/sveltekit/src/auth.ts
  apps/dev/sveltekit/src/hooks.server.ts
  apps/dev/sveltekit/src/lib/SignInButton.svelte
  apps/dev/sveltekit/src/lib/adapter.ts
  apps/dev/sveltekit/src/routes/+layout.svelte
  apps/dev/sveltekit/src/routes/login/+page.server.ts
  apps/dev/sveltekit/src/routes/login/+page.svelte
  apps/dev/sveltekit/src/routes/signin/+page.server.ts
  apps/dev/sveltekit/src/routes/signin/+page.svelte
  apps/dev/sveltekit/src/routes/signout/+page.server.ts
  apps/dev/sveltekit/src/routes/signout/+page.svelte
  package.json
  packages/frameworks-sveltekit/package.json
  packages/frameworks-sveltekit/src/lib/actions.ts
  packages/frameworks-sveltekit/src/lib/components/SignIn.svelte
  packages/frameworks-sveltekit/src/lib/components/SignOut.svelte
  packages/frameworks-sveltekit/src/lib/components/index.ts
  packages/frameworks-sveltekit/src/lib/env.ts
  packages/frameworks-sveltekit/src/lib/index.ts
  packages/frameworks-sveltekit/src/lib/types.ts
  pnpm-lock.yaml
Labels: frameworks, svelte

#8808 feat: Passkey / WebAuthn provider (experimental)
  packages/core/package.json
  packages/core/src/adapters.ts
  packages/core/src/errors.ts
  packages/core/src/index.ts
  packages/core/src/lib/actions/callback/handle-login.ts
  packages/core/src/lib/actions/callback/index.ts
  packages/core/src/lib/actions/callback/oauth/checks.ts
  packages/core/src/lib/actions/index.ts
  packages/core/src/lib/actions/webauthn-options.ts
  packages/core/src/lib/index.ts
  packages/core/src/lib/pages/index.ts
  packages/core/src/lib/pages/signin.tsx
  packages/core/src/lib/utils/actions.ts
  packages/core/src/lib/utils/assert.ts
  packages/core/src/lib/utils/cookie.ts
  packages/core/src/lib/utils/logger.ts
  packages/core/src/lib/utils/session.ts
  packages/core/src/lib/utils/web.ts
  packages/core/src/lib/utils/webauthn-client.js
  packages/core/src/lib/utils/webauthn-utils.ts
  packages/core/src/providers/index.ts
  packages/core/src/providers/passkey.ts
  packages/core/src/providers/webauthn.ts
  packages/core/src/types.ts
  packages/core/test/webauthn-utils.test.ts
  packages/next-auth/package.json
  packages/next-auth/src/react.tsx
  packages/next-auth/src/webauthn.ts
  pnpm-lock.yaml
Labels: providers, adapters, core, next-auth

#9925 fix(sveltekit): re-export `SvelteKitAuthConfig`
  packages/frameworks-sveltekit/src/lib/index.ts
Labels: frameworks, svelte

#9932 fix: mismatched `account.providerAccountId`
  packages/core/src/lib/actions/callback/oauth/callback.ts
  packages/core/test/authorize.test.ts
  packages/core/test/fixtures/oauth-callback.ts
Labels: core

#9901 fix: remove unnecessary /signout appending to signout form action URL
  packages/core/src/lib/pages/signout.tsx
  packages/core/test/fixtures/pages.ts
  packages/core/test/pages.test.ts
  packages/utils/package.json
  packages/utils/vitest.config.ts
  pnpm-lock.yaml
Labels: core

#9955 fix: ignore `/` for `NEXTAUTH_URL` path, infer `NEXTAUTH_SECRET`
  packages/next-auth/src/lib/env.ts
Labels: next-auth

#9964 fix: put email helpers into own files to avoid nodemailer import
  packages/core/src/lib/utils/email.ts
  packages/core/src/providers/email.ts
  packages/core/src/providers/nodemailer.ts
  packages/core/src/providers/resend.ts
  packages/core/src/providers/sendgrid.ts
Labels: providers, core

#9653 feat(providers): add webex oauth
  .github/ISSUE_TEMPLATE/2_bug_provider.yml
  docs/static/img/providers/webex.svg
  packages/core/src/providers/webex.ts
Labels: providers, core

#9895 feat: support Cloudflare Pages
  packages/core/src/lib/utils/env.ts
Labels: core

#9980 fix: bump @simplewebauth/server@9.0.2
  packages/core/package.json
  packages/next-auth/package.json
  pnpm-lock.yaml
Labels: next-auth

#9891 feat: initial nextjs-pages example app
  .github/sync.yml
  apps/examples/nextjs-pages/.env.local.example
  apps/examples/nextjs-pages/.gitignore
  apps/examples/nextjs-pages/README.md
  apps/examples/nextjs-pages/app/api/auth/[...nextauth]/route.ts
  apps/examples/nextjs-pages/auth.ts
  apps/examples/nextjs-pages/components.json
  apps/examples/nextjs-pages/components/auth-components.tsx
  apps/examples/nextjs-pages/components/client-example.tsx
  apps/examples/nextjs-pages/components/custom-link.tsx
  apps/examples/nextjs-pages/components/footer.tsx
  apps/examples/nextjs-pages/components/header.tsx
  apps/examples/nextjs-pages/components/main-nav.tsx
  apps/examples/nextjs-pages/components/session-data.tsx
  apps/examples/nextjs-pages/components/ui/avatar.tsx
  apps/examples/nextjs-pages/components/ui/button.tsx
  apps/examples/nextjs-pages/components/ui/dropdown-menu.tsx
  apps/examples/nextjs-pages/components/ui/input.tsx
  apps/examples/nextjs-pages/components/ui/navigation-menu.tsx
  apps/examples/nextjs-pages/components/user-button.tsx
  apps/examples/nextjs-pages/lib/utils.ts
  apps/examples/nextjs-pages/middleware.ts
  apps/examples/nextjs-pages/next.config.js
  apps/examples/nextjs-pages/package.json
  apps/examples/nextjs-pages/pages/_app.tsx
  apps/examples/nextjs-pages/pages/api-example/index.tsx
  apps/examples/nextjs-pages/pages/api/protected.ts
  apps/examples/nextjs-pages/pages/client-example/index.tsx
  apps/examples/nextjs-pages/pages/favicon.ico
  apps/examples/nextjs-pages/pages/globals.css
  apps/examples/nextjs-pages/pages/index.tsx
  apps/examples/nextjs-pages/pages/middleware-example/index.tsx
  apps/examples/nextjs-pages/pages/policy/index.tsx
  apps/examples/nextjs-pages/pages/server-example/index.tsx
  apps/examples/nextjs-pages/postcss.config.js
  apps/examples/nextjs-pages/public/logo.png
  apps/examples/nextjs-pages/tailwind.config.js
  apps/examples/nextjs-pages/tsconfig.json
Labels: examples

#9971 chore: bump prisma dev deps
  packages/adapter-prisma/package.json
  packages/adapter-prisma/src/index.ts
  pnpm-lock.yaml
Labels: adapters, prisma

#10015 docs: fix typo in `@auth/sveltekit` jsdoc
  packages/frameworks-sveltekit/src/lib/index.ts
Labels: frameworks, svelte

#10051 feat: removed unexpected console.logs #10034
  packages/next-auth/src/lib/index.ts
Labels: next-auth

#9978 fix: `@auth/solid-start` build output
  packages/frameworks-solid-start/package.json
  packages/frameworks-solid-start/scripts/postbuild.js
  packages/frameworks-solid-start/tsup.config.js
  pnpm-lock.yaml
Labels: frameworks, solidjs

#10033 fix: use `serverless-redis-http` to run `adapter-upstash-redis` tests locally
  packages/adapter-upstash-redis/docker-compose.yml
  packages/adapter-upstash-redis/package.json
  packages/adapter-upstash-redis/test/index.test.ts
  packages/adapter-upstash-redis/test/test.sh
Labels: adapters, upstash-redis

#10068 chore: rm empty sveltekit pages from JSDoc instructions
  packages/frameworks-sveltekit/src/lib/index.ts
Labels: frameworks, svelte

#10108 docs: fix link to models
  packages/adapter-sequelize/src/index.ts
Labels: adapters, sequelize

#10061 chore(express): docs copy and code example cleanup
  packages/frameworks-express/src/index.ts
Labels: frameworks

#10053 chore(docs): fix typo in `types.ts`
  packages/core/src/types.ts
Labels: core

#9642 chore(docs): add SvelteKit `load` function "implications for authentication" link
  packages/frameworks-sveltekit/src/lib/index.ts
Labels: frameworks, svelte

#10122 fix(next-auth): use `appendHeader` if `headers` is unavailable in `auth()`
  packages/next-auth/src/lib/index.ts
Labels: next-auth

#10059 chore(solid): cleanup documentation copy
  packages/frameworks-solid-start/src/index.ts
Labels: frameworks, solidjs

#10126 fix(docs): webex provider jsdoc
  packages/core/src/providers/webex.ts
Labels: providers, core

#9700 fix(surrealdb): bump minimum `surrealdb.js` version
  .github/ISSUE_TEMPLATE/3_bug_adapter.yml
  .github/workflows/release.yml
  packages/adapter-surrealdb/package.json
  packages/adapter-surrealdb/src/index.ts
  packages/adapter-surrealdb/test/common.ts
  packages/adapter-surrealdb/test/index.test.ts
  pnpm-lock.yaml
Labels: adapters, surrealdb

#10123 Added missing `.js` extension to import
  packages/adapter-d1/src/index.ts
Labels: adapters, d1

#10134 chore(docs): revert removing prisma schema
  packages/adapter-prisma/src/index.ts
Labels: adapters, prisma

#10144 fix(sveltekit): update server-side "SignIn" and "SignOut" button components
  packages/frameworks-sveltekit/src/lib/components/SignIn.svelte
  packages/frameworks-sveltekit/src/lib/components/SignOut.svelte
Labels: frameworks, svelte

#10006 chore: update sveltekit dev app style
  apps/dev/sveltekit/src/auth.ts
  apps/dev/sveltekit/src/components/header.svelte
  apps/dev/sveltekit/src/routes/+layout.svelte
  apps/dev/sveltekit/src/routes/+page.svelte
  apps/dev/sveltekit/src/style.css
  apps/dev/sveltekit/svelte.config.js
  apps/dev/sveltekit/vite.config.js
Labels: frameworks, svelte
