Repository nextauthjs/next-auth, pull requests merged in 2024-06, with the labels that each got.

#11054 chore: rename file extension
  packages/next-auth/src/index.ts
  packages/next-auth/typedoc.config.cjs
Labels: next-auth

#11010 fix(next-auth): redirecting to `/undefined` when signIn method throws an error
  docs/pages/guides/pages/signin.mdx
  packages/next-auth/package.json
  packages/next-auth/src/lib/actions.ts
  packages/next-auth/test/actions.test.ts
  packages/next-auth/test/index.test.ts
Labels: next-auth

#11041 chore(docs): clean up missing `npm2yarn` and other formatting
  docs/app/api/og/route.tsx
  docs/components/Code/index.tsx
  docs/components/DocSearch/searchInput.tsx
  docs/components/Link/index.tsx
  docs/components/ListDisclosure/index.tsx
  docs/components/OAuthProviderInstructions/content/components/StepTitle.tsx
  docs/components/Tooltip/index.tsx
  docs/pages/getting-started/adapters/azure-tables.mdx
  docs/pages/getting-started/adapters/d1.mdx
  docs/pages/getting-started/adapters/dgraph.mdx
  docs/pages/getting-started/adapters/drizzle.mdx
  docs/pages/getting-started/adapters/dynamodb.mdx
  docs/pages/getting-started/adapters/edgedb.mdx
  docs/pages/getting-started/adapters/fauna.mdx
  docs/pages/getting-started/adapters/firebase.mdx
  docs/pages/getting-started/adapters/hasura.mdx
  docs/pages/getting-started/adapters/kysely.mdx
  docs/pages/getting-started/adapters/mikro-orm.mdx
  docs/pages/getting-started/adapters/mongodb.mdx
  docs/pages/getting-started/adapters/neo4j.mdx
  docs/pages/getting-started/adapters/pg.mdx
  docs/pages/getting-started/adapters/pouchdb.mdx
  docs/pages/getting-started/adapters/prisma.mdx
  docs/pages/getting-started/adapters/sequelize.mdx
  docs/pages/getting-started/adapters/supabase.mdx
  docs/pages/getting-started/adapters/surrealdb.mdx
  docs/pages/getting-started/adapters/typeorm.mdx
  docs/pages/getting-started/adapters/unstorage.mdx
  docs/pages/getting-started/adapters/upstash-redis.mdx
  docs/pages/getting-started/adapters/xata.mdx
  docs/pages/getting-started/installation.mdx
  docs/pages/getting-started/migrating-to-v5.mdx
  docs/pages/getting-started/providers/auth0.mdx
  docs/pages/getting-started/providers/azure-devops.mdx
  docs/pages/getting-started/providers/beyondidentity.mdx
  docs/pages/getting-started/providers/click-up.mdx
  docs/pages/getting-started/providers/notion.mdx
  docs/pages/guides/creating-a-framework-integration.mdx
  docs/utils/types.ts
  packages/core/src/providers/passkey.ts
Labels: providers, core

#11050 fix(errors): do not log authjs message with CredentialsSiginin error
  packages/core/src/errors.ts
  packages/core/src/lib/actions/callback/index.ts
Labels: core

#9459 fix(adapter-mongodb): Improve MongoDB connection handling for serverless environments
  packages/adapter-mongodb/src/index.ts
  packages/adapter-mongodb/test/serverless.test.ts
Labels: adapters, mongodb

#10978 fix(core): Ensure oauth4webapi uses a stable customFetch API
  packages/core/package.json
  packages/core/src/lib/actions/callback/oauth/callback.ts
  pnpm-lock.yaml
Labels: core

#10491 feat(providers): add SimpleLogin oidc
  .github/ISSUE_TEMPLATE/2_bug_provider.yml
  docs/pages/getting-started/providers/simplelogin.mdx
  docs/public/img/providers/simplelogin.svg
  packages/core/src/providers/simplelogin.ts
Labels: providers, core

#9953 feat: use `NodeNext` module resolution
  packages/adapter-d1/src/migrations.ts
  packages/adapter-dgraph/src/index.ts
  packages/adapter-drizzle/src/lib/mysql.ts
  packages/adapter-xata/package.json
  packages/adapter-xata/src/index.ts
  packages/adapter-xata/src/xata.ts
  packages/core/package.json
  packages/core/src/lib/utils/webauthn-client.js
  packages/core/src/lib/utils/webauthn-utils.ts
  packages/next-auth/package.json
  packages/next-auth/src/index.ts
  packages/next-auth/src/lib/actions.ts
  packages/next-auth/src/lib/env.ts
  packages/next-auth/src/lib/index.ts
  packages/next-auth/src/lib/types.ts
  packages/utils/tsconfig.json
  pnpm-lock.yaml
Labels: adapters, core, dgraph, xata, drizzle, next-auth, d1

#10963 fix(sveltekit): rm redundant csrf check
  packages/frameworks-sveltekit/src/lib/actions.ts
  packages/frameworks-sveltekit/src/lib/client.ts
  packages/frameworks-sveltekit/src/lib/env.ts
  packages/frameworks-sveltekit/src/lib/webauthn.ts
Labels: frameworks, svelte

#10943 fix(core): add error `code` to `SignInResponse`
  packages/next-auth/src/lib/client.ts
  packages/next-auth/src/react.tsx
  packages/next-auth/src/webauthn.ts
Labels: next-auth

#11047 fix: change API domain for twitter provider
  packages/core/src/providers/twitter.ts
Labels: providers, core

#11078 chore: `pnpm format`
  docs/pages/getting-started/migrating-to-v5.mdx
  docs/pages/getting-started/providers/keycloak.mdx
  packages/core/src/providers/twitter.ts
Labels: providers, core

#11087 Document example credentials for keycloak provider.
  apps/examples/nextjs/auth.ts
Labels: examples

#11071 fix(next-auth): allow next@14.3.0-canary to peer deps
  packages/next-auth/package.json
Labels: next-auth

#8428 feat: Add form-post specification
  packages/core/src/lib/actions/callback/index.ts
Labels: core

#11099 chore(providers): update Netsuite button rendering colors
  packages/core/src/providers/netsuite.ts
Labels: providers, core

#10340 fix(core/providers/osu): Correct the type of OsuProfile.id
  packages/core/src/providers/osu.ts
Labels: providers, core

#11162 feat(providers): Add BankID Norge provider
  apps/examples/nextjs/auth.ts
  docs/pages/getting-started/providers/bankid-no.mdx
  docs/public/img/providers/bankid-no.svg
  packages/core/src/providers/bankid-no.ts
Labels: providers, core, examples

#11132 feat(core): support `private_key_jwt` token auth method
  packages/core/src/lib/actions/callback/oauth/callback.ts
  packages/core/src/lib/utils/providers.ts
  packages/core/src/providers/oauth.ts
Labels: providers, core

#11153 Fix: coinbase provider authorization and access token url
  packages/core/src/providers/coinbase.ts
Labels: providers, core

#11068 feat: add Qwik integration
  .gitignore
  apps/dev/qwik/.env.example
  apps/dev/qwik/.gitignore
  apps/dev/qwik/README.md
  apps/dev/qwik/package.json
  apps/dev/qwik/public/favicon.svg
  apps/dev/qwik/public/manifest.json
  apps/dev/qwik/public/robots.txt
  apps/dev/qwik/qwik.env.d.ts
  apps/dev/qwik/src/components/router-head/router-head.tsx
  apps/dev/qwik/src/entry.dev.tsx
  apps/dev/qwik/src/entry.preview.tsx
  apps/dev/qwik/src/entry.ssr.tsx
  apps/dev/qwik/src/global.css
  apps/dev/qwik/src/root.tsx
  apps/dev/qwik/src/routes/index.tsx
  apps/dev/qwik/src/routes/layout.tsx
  apps/dev/qwik/src/routes/plugin@auth.ts
  apps/dev/qwik/src/routes/service-worker.ts
  apps/dev/qwik/tsconfig.json
  apps/dev/qwik/vite.config.ts
  packages/frameworks-qwik/README.md
  packages/frameworks-qwik/package.json
  packages/frameworks-qwik/src/index.ts
  packages/frameworks-qwik/tsconfig.json
  packages/frameworks-qwik/vite.config.ts
  pnpm-lock.yaml
Labels: frameworks

#11215 feat(providers): add threads
  .github/ISSUE_TEMPLATE/2_bug_provider.yml
  docs/pages/getting-started/providers/threads.mdx
  docs/public/img/providers/threads.svg
  packages/core/src/providers/threads.ts
Labels: providers, core

#11227 fix(qwik): correct exports, and files
  packages/frameworks-qwik/package.json
  packages/frameworks-qwik/src/index.ts
  packages/frameworks-qwik/vite.config.ts
Labels: frameworks

#11224 Add default exports to package.json for better module support
  packages/core/package.json
  packages/frameworks-express/package.json
Labels: frameworks

#10964 chore: normalize `AuthError` message
  packages/core/src/lib/actions/callback/oauth/checks.ts
  packages/core/src/lib/utils/assert.ts
  packages/core/src/lib/utils/web.ts
  packages/core/src/lib/utils/webauthn-utils.ts
  packages/core/src/providers/webauthn.ts
  packages/core/test/assert-config.test.ts
Labels: providers, core

#11254 fix: Add default exports to next-auth's package.json for better module support
  packages/next-auth/package.json
Labels: next-auth
