Repository nextauthjs/next-auth, pull requests merged in 2024-11, with the labels that each got.

#12114 fix(nextjs): Update params type with Promise as expected in Next.js 15
  packages/next-auth/src/lib/types.ts
Labels: next-auth

#12161 fix(providers): dropbox authorization params should contain token_access_type
  packages/core/src/providers/dropbox.ts
Labels: providers, core

#12017 Correct the type signature of `account` in callbacks.
  packages/core/src/index.ts
Labels: core

#12177 fix(core): use correct import for the `cookie` package
  packages/core/src/jwt.ts
  packages/core/src/lib/utils/cookie.ts
  packages/core/src/lib/utils/web.ts
  packages/core/test/actions/session.test.ts
Labels: core

#12173 fix(providers): Ease authorization and scope override for Discord provider
  packages/core/src/providers/discord.ts
Labels: providers, core

#12168 refactor(tiktok): Update TikTok provider configuration with custom Fetch
  packages/core/src/providers/tiktok.ts
Labels: providers, core

#12166 fix(core): carry-over request params for custom verifyRequest page
  packages/core/src/lib/pages/index.ts
Labels: core

#12248 fix(core): vendor `cookie` until it has an ESM build
  packages/core/package.json
  packages/core/src/jwt.ts
  packages/core/src/lib/utils/cookie.ts
  packages/core/src/lib/utils/web.ts
  packages/core/src/lib/vendored/cookie.ts
  packages/core/src/types.ts
  pnpm-lock.yaml
Labels: core

#12249 fix: improve client-side submodules
  .gitignore
  .prettierignore
  apps/dev/nextjs/app/client.tsx
  apps/dev/nextjs/auth.ts
  eslint.config.mjs
  packages/core/scripts/generate-providers.js
  packages/core/src/providers/credentials.ts
  packages/core/src/providers/email.ts
  packages/core/src/providers/index.ts
  packages/core/src/providers/oauth.ts
  packages/frameworks-solid-start/src/client.ts
  packages/frameworks-sveltekit/src/lib/client.ts
  packages/frameworks-sveltekit/src/lib/types.ts
  packages/frameworks-sveltekit/src/lib/webauthn.ts
  packages/next-auth/src/index.ts
  packages/next-auth/src/lib/client.ts
  packages/next-auth/src/react.tsx
  packages/next-auth/src/webauthn.ts
  packages/utils/scripts/providers.js
  turbo.json
Labels: providers, core, frameworks, solidjs, svelte, next-auth

#12277 fix(docs): OAuth instructions layout
  docs/components/OAuthProviderInstructions/content/components/SetupCode.tsx
  docs/components/OAuthProviderInstructions/content/components/SignInCode.tsx
  docs/components/OAuthProviderInstructions/content/components/StepTitle.tsx
  docs/components/OAuthProviderInstructions/content/index.tsx
Labels: docs

#12276 fix: add a missed instance of allowInsecureRequests
  packages/core/src/lib/actions/callback/oauth/callback.ts
Labels: core

#12302 chore(docs): add missing bracket and run `format`
  docs/pages/getting-started/providers/vipps-mobilepay.mdx
  packages/core/src/index.ts
Labels: core

#12319 fix(prisma): add support for prisma v6
  packages/adapter-prisma/package.json
  pnpm-lock.yaml
Labels: adapters, prisma
