Repository nextauthjs/next-auth, pull requests merged in 2024-12, with the labels that each got.

#12399 chore(examples): remove unnecessary 'as any' on route return
  apps/examples/nextjs/app/api/protected/route.ts
Labels: examples

#12315 fix(sveltekit): adds the missing input field for `redirectTo`
  packages/frameworks-sveltekit/src/lib/components/SignIn.svelte
Labels: frameworks, svelte

#12386 chore(adapter-kysely): update kysely to v0.27.5
  packages/adapter-kysely/package.json
Labels: adapters, kysely

#12379 chore(docs): fixes appearance for some logos in dark mode
  docs/pages/global.css
  packages/core/src/lib/pages/styles.css
Labels: core

#12376 chore(drizzle): fix typo `verfication` to `verification`
  packages/adapter-drizzle/src/lib/pg.ts
Labels: adapters, drizzle

#11342 feat(provider): add Frontegg provider
  .github/ISSUE_TEMPLATE/2_bug_provider.yml
  apps/dev/nextjs/.env.local.example
  docs/pages/getting-started/providers/frontegg.mdx
  docs/public/img/providers/frontegg.svg
  packages/core/src/providers/frontegg.ts
Labels: providers, core

#12414 chore: update pnpm-lock, prettier, prisma types
  .github/workflows/release.yml
  docs/pages/getting-started/authentication/credentials.mdx
  docs/pages/getting-started/providers/frontegg.mdx
  docs/pages/guides/refresh-token-rotation.mdx
  packages/adapter-prisma/src/index.ts
  pnpm-lock.yaml
Labels: adapters, prisma

#12251 docs: :pencil2: fix parts of svelte documentation
  packages/frameworks-sveltekit/src/lib/index.ts
Labels: frameworks, svelte

#12431 remove console.log in wechat auth provider
  packages/core/src/providers/wechat.ts
Labels: providers, core

#12434 fix(prisma): replace select with include for user relation query
  packages/adapter-prisma/src/index.ts
Labels: adapters, prisma
