Repository nextauthjs/next-auth, pull requests merged in 2024-01, with the labels that each got.

#9501 feat(adapters): add Unstorage adapter
  .github/ISSUE_TEMPLATE/3_bug_adapter.yml
  .github/pr-labeler.yml
  .github/workflows/release.yml
  docs/scripts/generate-manifest.mjs
  docs/static/img/adapters/unstorage.svg
  packages/adapter-unstorage/README.md
  packages/adapter-unstorage/package.json
  packages/adapter-unstorage/src/index.ts
  packages/adapter-unstorage/tests/filesystem.test.ts
  packages/adapter-unstorage/tests/memory.test.ts
  packages/adapter-unstorage/tests/redis-json.test.ts
  packages/adapter-unstorage/tests/redis.test.ts
  packages/adapter-unstorage/tests/test.sh
  packages/adapter-unstorage/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Labels: adapters

#9518 fix: adapter-drizzle sqlite typo
  .github/PULL_REQUEST_TEMPLATE.md
  packages/adapter-drizzle/src/lib/sqlite.ts
Labels: adapters, drizzle

#9521 fix(adapters): drizzle update remaining primaryKey columns syntax
  packages/adapter-drizzle/src/index.ts
Labels: adapters, drizzle

#9326 fix(adapter-dynamodb): update and delete session use correct partition/sort keys
  packages/adapter-dynamodb/jest-dynamodb-config.cjs
  packages/adapter-dynamodb/jest.config.js
  packages/adapter-dynamodb/package.json
  packages/adapter-dynamodb/src/index.ts
  pnpm-lock.yaml
Labels: adapters, dynamodb

#8354 feat(frameworks): add @auth/express
  .gitignore
  docs/scripts/generate-manifest.mjs
  docs/sidebars.ts
  docs/vercel.json
  packages/frameworks-express/README.md
  packages/frameworks-express/jest.config.cjs
  packages/frameworks-express/package.json
  packages/frameworks-express/src/index.ts
  packages/frameworks-express/src/lib/http-api-adapters.ts
  packages/frameworks-express/src/lib/index.ts
  packages/frameworks-express/tests/http-api-adapters/request.test.ts
  packages/frameworks-express/tests/http-api-adapters/response.test.ts
  packages/frameworks-express/tests/index/login.test.ts
  packages/frameworks-express/tests/index/session.test.ts
  packages/frameworks-express/tests/setupTests.ts
  packages/frameworks-express/tsconfig.json
  pnpm-lock.yaml
Labels: frameworks

#9533 fix(docs): update roadmap for express client
  docs/docs/reference/index.md
  docs/static/img/frameworks/express.svg
  packages/frameworks-express/src/index.ts
Labels: frameworks

#9532 feat(express): re-export types from express client
  packages/frameworks-express/src/index.ts
Labels: frameworks

#9531 fix(express): copy providers over from core during build
  packages/frameworks-express/package.json
  packages/frameworks-express/src/index.ts
Labels: frameworks

#9528 fix(docs): fix typo for middleware
  packages/next-auth/src/lib/index.ts
Labels: next-auth

#9523 fix(docs): typo in `errors.ts`
  packages/core/src/errors.ts
Labels: core

#9534 fix: @auth/express repo cleanup
  .prettierignore
  packages/frameworks-express/package.json
  pnpm-lock.yaml
  turbo.json
Labels: frameworks

#9535 test(express): rm undici overrides on node globalThis for jest
  packages/frameworks-express/tests/setupTests.ts
Labels: frameworks

#9527 fix(typescript): reexport sveltekit types and clean up docs
  apps/dev/nextjs/auth.ts
  apps/dev/nextjs/package.json
  docs/docs/getting-started/typescript.md
  packages/frameworks-express/jest.config.cjs
  packages/frameworks-express/tests/setupTests.cjs
  packages/frameworks-sveltekit/src/lib/index.ts
  pnpm-lock.yaml
Labels: frameworks, svelte

#9178 feat: add experimental flag in options
  packages/core/src/index.ts
  packages/core/src/lib/init.ts
  packages/core/src/types.ts
Labels: core

#9566 fix(docs): update links, fix codeblocks, rephrase
  docs/docs/reference/index.md
  packages/frameworks-express/src/index.ts
Labels: frameworks

#9271 feat(providers): support self-hosted github
  packages/core/src/providers/github.ts
Labels: providers, core

#9617 refactor: preserve some `next-auth` v4 functionality
  packages/next-auth/package.json
  packages/next-auth/src/index.tsx
  packages/next-auth/src/jwt.ts
  packages/next-auth/src/react.tsx
  packages/next-auth/src/types.ts
Labels: next-auth

#9619 fix: Github provider tests
  packages/core/src/providers/github.ts
Labels: providers, core

#9570 chore(example): add @auth/express example app
  .github/sync.yml
  apps/examples/express/.env.example
  apps/examples/express/.eslintrc.cjs
  apps/examples/express/.gitignore
  apps/examples/express/.prettierignore
  apps/examples/express/.prettierrc
  apps/examples/express/README.md
  apps/examples/express/api/index.js
  apps/examples/express/package.json
  apps/examples/express/public/css/style.css
  apps/examples/express/src/app.ts
  apps/examples/express/src/config/auth.config.ts
  apps/examples/express/src/errors.ts
  apps/examples/express/src/globals.ts
  apps/examples/express/src/middleware/auth.middleware.ts
  apps/examples/express/src/middleware/error.middleware.ts
  apps/examples/express/src/server.ts
  apps/examples/express/tailwind.config.js
  apps/examples/express/tsconfig.json
  apps/examples/express/vercel.json
  apps/examples/express/views/error.pug
  apps/examples/express/views/index.pug
  apps/examples/express/views/layout.pug
  apps/examples/express/views/protected.pug
  pnpm-lock.yaml
Labels: examples

#9638 feat: support advanced initialization in v5
  apps/dev/nextjs/auth.ts
  apps/dev/nextjs/middleware.ts
  packages/next-auth/src/index.tsx
  packages/next-auth/src/lib/index.ts
Labels: next-auth

#9648 fix(providers): add state as default check to Okta
  packages/core/src/providers/okta.ts
Labels: providers, core

#9477 fix(ts): bad intersection caused type to be 'never'
  packages/core/src/providers/oauth.ts
Labels: providers, core

#9657 feat(express): add support for `redirectProxyUrl` to express
  packages/frameworks-express/src/index.ts
Labels: frameworks

#9618 feat: add more providers back to SvelteKit example app
  apps/examples/sveltekit/.env.example
  apps/examples/sveltekit/src/hooks.server.ts
  packages/frameworks-sveltekit/src/lib/index.ts
Labels: frameworks, examples, svelte

#9662 fix(sveltekit): bump example app versions
  apps/examples/sveltekit/package.json
  apps/examples/sveltekit/svelte.config.js
  pnpm-lock.yaml
Labels: examples

#9663 fix: cleanup SvelteKitAuth export
  packages/frameworks-sveltekit/src/lib/index.ts
Labels: frameworks, examples, svelte

#9670 feat(env): add environment variable inference
  apps/examples/sveltekit/src/hooks.server.ts
  packages/frameworks-sveltekit/src/lib/index.ts
Labels: frameworks, examples, svelte

#9687 fix: `next-auth` `basePath` should be set to `/api/auth` by default
  apps/dev/nextjs/auth.config.ts
  apps/dev/nextjs/middleware.ts
  packages/next-auth/src/index.tsx
  packages/next-auth/src/lib/actions.ts
  packages/next-auth/src/lib/env.ts
  packages/next-auth/src/lib/index.ts
  packages/next-auth/src/react.tsx
Labels: next-auth

#9694 feat(sveltekit): Refresh session cookie expiry & introduce `auth` method
  apps/dev/sveltekit/package.json
  apps/dev/sveltekit/src/routes/+layout.server.ts
  apps/dev/sveltekit/svelte.config.js
  packages/frameworks-sveltekit/package.json
  packages/frameworks-sveltekit/src/lib/index.ts
  pnpm-lock.yaml
Labels: frameworks, svelte

#9471 fix(providers): `signIn` action should allow custom id for the Credentials provider
  packages/next-auth/src/lib/actions.ts
Labels: next-auth

#9698 Fixed typos in supabase documentation
  packages/adapter-supabase/src/index.ts
Labels: adapters, supabase

#9712 feat: expose full session in session callback
  packages/core/src/lib/actions/session.ts
  packages/core/src/lib/init.ts
  packages/core/src/types.ts
  packages/core/test/index.test.ts
  packages/next-auth/src/lib/index.ts
Labels: core, next-auth

#9723 refactor: strip undefined values via util function
  packages/adapter-drizzle/src/lib/pg.ts
  packages/adapter-drizzle/src/lib/sqlite.ts
  packages/adapter-drizzle/src/lib/utils.ts
Labels: adapters, drizzle

#9726 feat: Simplify ExpressAuth setup
  packages/frameworks-express/src/index.ts
  packages/frameworks-express/tests/index/login.test.ts
  packages/frameworks-express/tests/index/session.test.ts
Labels: frameworks

#9720 chore: bump `vite` and clean lock file
  apps/examples/sveltekit/package.json
  packages/core/package.json
  packages/frameworks-sveltekit/package.json
  pnpm-lock.yaml
Labels: frameworks, examples, svelte

#9734 fix: correct typo in yandex documentation
  packages/core/src/providers/yandex.ts
Labels: providers, core

#9730 feat: reexport Adapter types from `next-auth`
  packages/next-auth/package.json
  packages/next-auth/src/adapters.ts
Labels: next-auth

#9733 feat: reexport Adapter* types from `@auth/solid-start`
  packages/frameworks-solid-start/package.json
  packages/frameworks-solid-start/src/adapters.ts
Labels: frameworks, solidjs

#9732 feat: reexport Adapter types for `@auth/express`
  packages/frameworks-express/package.json
  packages/frameworks-express/src/adapters.ts
Labels: frameworks

#9713 fix(typescript): reexport Adapter* types from SvelteKit client pkg
  packages/frameworks-sveltekit/package.json
  packages/frameworks-sveltekit/src/lib/adapter.ts
Labels: frameworks, svelte

#9746 fix: use match instead of split when parsing action
  packages/core/src/lib/utils/web.ts
  packages/core/test/url-parsing.test.ts
Labels: core

#9753 feat: nodemailer (prev Email), Resend, SendGrid
  apps/dev/nextjs/auth.ts
  package.json
  packages/core/src/index.ts
  packages/core/src/lib/actions/signin/send-token.ts
  packages/core/src/providers/email.ts
  packages/core/src/providers/nodemailer.ts
  packages/core/src/providers/resend.ts
  packages/core/src/providers/sendgrid.ts
  packages/core/src/types.ts
  packages/frameworks-express/src/index.ts
  packages/frameworks-sveltekit/src/lib/index.ts
  packages/next-auth/src/lib/env.ts
  pnpm-lock.yaml
Labels: providers, core, frameworks, svelte, next-auth

#9756 fix(ts): show `user` and `token` in `session` callback
  packages/core/src/types.ts
Labels: core

#9788 refactor: update JWT enc
  README.md
  packages/core/src/jwt.ts
Labels: core

#9793 fix: always use a generated `id` for `User.id`
  packages/core/src/lib/actions/callback/oauth/callback.ts
  packages/core/src/lib/utils/providers.ts
Labels: core

#9795 fix: correctly create `NextRequest` instance instead of `Request`
  packages/next-auth/src/index.tsx
  packages/next-auth/src/lib/env.ts
  packages/next-auth/src/lib/index.ts
Labels: next-auth

#9797 fix: delegate user id generation to Prisma
  packages/adapter-mongodb/tests/test.sh
  packages/adapter-prisma/src/index.ts
  packages/adapter-prisma/tests/index.test.ts
  packages/adapter-prisma/tests/mongodb.test.sh
  packages/utils/adapter/index.ts
Labels: adapters, prisma, mongodb

#6697 Included new BattleNet OAuth endpoints
  packages/core/src/providers/battlenet.ts
Labels: providers, core, legacy

#9798 fix(ts): allow PrismaClient with extensions
  packages/adapter-prisma/package.json
  packages/adapter-prisma/src/index.ts
  packages/adapter-prisma/tests/index.test.ts
  pnpm-lock.yaml
Labels: adapters, prisma

#9705 fix(providers): Add email to VK provider
  packages/core/src/providers/vk.ts
Labels: providers, core

#8114 feat(Discord): support new username system
  packages/core/src/providers/discord.ts
Labels: providers, core, legacy

#7755 feat(providers): add Ory Hydra provider
  apps/dev/nextjs/.env.local.example
  docs/static/img/providers/ory-dark.svg
  docs/static/img/providers/ory.svg
  packages/core/src/providers/ory-hydra.ts
Labels: providers, core, legacy

#9804 feat: support secret rotation
  packages/core/src/errors.ts
  packages/core/src/index.ts
  packages/core/src/jwt.ts
  packages/core/src/lib/init.ts
  packages/core/src/types.ts
  packages/core/test/jwt.test.ts
  packages/frameworks-express/src/index.ts
  packages/frameworks-sveltekit/src/lib/index.ts
  packages/next-auth/src/lib/env.ts
Labels: core, frameworks, svelte, next-auth

#9806 chore: global vite/vitest, move express
  .gitignore
  package.json
  packages/core/package.json
  packages/core/vitest.config.js
  packages/frameworks-express/jest.config.cjs
  packages/frameworks-express/package.json
  packages/frameworks-express/test/http-api-adapters/request.test.ts
  packages/frameworks-express/test/http-api-adapters/response.test.ts
  packages/frameworks-express/test/login.test.ts
  packages/frameworks-express/test/session.test.ts
  packages/frameworks-express/tests/setupTests.cjs
  packages/frameworks-sveltekit/package.json
  packages/utils/vitest-setup.ts
  packages/utils/vitest.config.ts
  pnpm-lock.yaml
Labels: frameworks, svelte

#9807 chore: move adapters to vitest
  package.json
  packages/adapter-drizzle/package.json
  packages/adapter-drizzle/tests/fixtures.ts
  packages/adapter-drizzle/tests/mysql-multi-project-schema/index.test.ts
  packages/adapter-drizzle/tests/mysql-multi-project-schema/test.sh
  packages/adapter-drizzle/tests/mysql/index.test.ts
  packages/adapter-drizzle/tests/mysql/test.sh
  packages/adapter-drizzle/tests/pg-multi-project-schema/index.test.ts
  packages/adapter-drizzle/tests/pg-multi-project-schema/test.sh
  packages/adapter-drizzle/tests/pg/index.test.ts
  packages/adapter-drizzle/tests/pg/test.sh
  packages/adapter-drizzle/tests/sqlite-multi-project-schema/index.test.ts
  packages/adapter-drizzle/tests/sqlite-multi-project-schema/test.sh
  packages/adapter-drizzle/tests/sqlite/index.test.ts
  packages/adapter-drizzle/tests/sqlite/libsql.test.ts
  packages/adapter-drizzle/tests/sqlite/test.sh
  packages/adapter-mongodb/package.json
  packages/adapter-mongodb/tests/custom.test.ts
  packages/adapter-mongodb/tests/index.test.ts
  packages/adapter-mongodb/tests/test.sh
  packages/adapter-prisma/package.json
  packages/adapter-prisma/tests/index.test.ts
  packages/adapter-prisma/tests/mongodb.test.sh
  packages/utils/adapter/vitest.ts
Labels: adapters, prisma, mongodb, drizzle

#9817 feat: add `getEnvDefaults` and `createActionURL` to `@auth/core` for use in client libs
  packages/core/src/index.ts
  packages/core/src/lib/utils/env.ts
  packages/core/test/env.test.ts
  packages/frameworks-express/src/index.ts
  packages/frameworks-sveltekit/src/lib/index.ts
  packages/next-auth/src/lib/env.ts
Labels: core, frameworks, svelte, next-auth

#9829 fix: allow string return `signIn` callback
  packages/core/src/lib/actions/callback/index.ts
  packages/core/src/lib/actions/signin/index.ts
  packages/core/src/lib/actions/signin/send-token.ts
  packages/core/src/types.ts
  packages/core/test/authorize.test.ts
Labels: core

#9845 fix: append `.js` to import
  packages/adapter-drizzle/src/lib/pg.ts
  packages/adapter-drizzle/src/lib/sqlite.ts
Labels: adapters, drizzle

#9846 Support empty string VERCEL_URL
  packages/next-auth/src/lib/client.ts
Labels: next-auth

#9837 fix: filter client error response, error on missing host
  packages/core/src/index.ts
  packages/core/src/lib/utils/env.ts
  packages/core/test/assert-config.test.ts
  packages/core/test/utils.ts
Labels: core

#9870 test: fix drizzle test by `tsx`-ing imports
  packages/adapter-drizzle/package.json
  packages/adapter-drizzle/test/mysql-multi-project-schema/test.sh
  packages/adapter-drizzle/test/mysql/test.sh
  packages/adapter-drizzle/test/pg-multi-project-schema/test.sh
  packages/adapter-drizzle/test/pg/test.sh
  packages/adapter-drizzle/test/sqlite-multi-project-schema/test.sh
  packages/adapter-drizzle/test/sqlite/test.sh
  pnpm-lock.yaml
Labels: adapters, drizzle
