Repository nextauthjs/next-auth, pull requests merged in 2024-09, with the labels that each got.

#11750 fix(eslint): all outstanding eslint/test issues (re:eslint9/flatconfig upgrade)
  eslint.config.mjs
  packages/adapter-d1/src/index.ts
  packages/adapter-drizzle/src/lib/mysql.ts
  packages/adapter-dynamodb/src/index.ts
  packages/adapter-fauna/src/index.ts
  packages/adapter-mikro-orm/src/lib/entities.ts
  packages/adapter-pg/src/index.ts
  packages/adapter-pouchdb/src/index.ts
  packages/adapter-prisma/src/index.ts
  packages/adapter-sequelize/src/index.ts
  packages/adapter-supabase/src/index.ts
  packages/adapter-surrealdb/src/index.ts
  packages/adapter-typeorm/src/utils.ts
  packages/adapter-unstorage/src/index.ts
  packages/core/src/lib/actions/callback/oauth/callback.ts
  packages/core/src/lib/actions/callback/oauth/checks.ts
  packages/core/src/lib/actions/signin/authorization-url.ts
  packages/core/src/lib/actions/webauthn-options.ts
  packages/core/src/lib/utils/assert.ts
  packages/core/src/lib/utils/email.ts
  packages/core/src/lib/utils/env.ts
  packages/core/src/lib/utils/logger.ts
  packages/core/src/lib/utils/providers.ts
  packages/core/src/providers/foursquare.ts
  packages/core/src/providers/notion.ts
  packages/core/src/providers/osso.ts
  packages/core/src/providers/tiktok.ts
  packages/core/src/providers/wechat.ts
  packages/frameworks-express/src/lib/http-api-adapters.ts
  packages/frameworks-qwik/src/index.ts
  packages/frameworks-sveltekit/src/lib/index.ts
  packages/next-auth/src/lib/env.ts
Labels: providers, adapters, core, prisma, dynamodb, fauna, mikro-orm, pouchdb, sequelize, supabase, typeorm, frameworks, svelte, drizzle, next-auth, d1, surrealdb, pg, unstorage

#11755 chore: fix qwik pnpm-lock
  apps/examples/qwik/pnpm-lock.yaml
Labels: examples

#11756 chore(qwik): fix broken import paths
  apps/examples/qwik/src/components/header/header.tsx
  apps/examples/qwik/src/routes/layout.tsx
Labels: examples

#11757 chore: solid-start example cleanup
  apps/examples/solid-start/package.json
  apps/examples/solid-start/src/components/NavBar/NavBar.tsx
  apps/examples/solid-start/src/components/Protected/Protected.tsx
  apps/examples/solid-start/src/routes/api/auth/[...solidauth].ts
  apps/examples/solid-start/src/routes/index.tsx
Labels: examples

#11758 chore: cleanup solid-start `package.json`
  packages/frameworks-solid-start/package.json
Labels: frameworks, solidjs

#11759 chore: fix `solid-start-example` `pnpm-lock.yaml`
  apps/examples/solid-start/pnpm-lock.yaml
Labels: examples

#11789 chore: swap out boringavatars.com placeholders
  apps/dev/nextjs/components/header.tsx
  apps/dev/sveltekit/src/auth.ts
  apps/dev/sveltekit/src/components/header.svelte
  apps/examples/nextjs/components/user-button.tsx
  apps/examples/sveltekit/src/components/header.svelte
  docs/pages/getting-started/session-management/get-session.mdx
Labels: examples

#11723 feat(providers): add Mailgun email provider
  docs/pages/getting-started/authentication/email.mdx
  docs/pages/getting-started/providers/mailgun.mdx
  docs/public/img/providers/mailgun.svg
  packages/core/src/providers/mailgun.ts
Labels: providers, core

#11666 fix(tsconfig): update `extends` property in packages configuration
  packages/adapter-azure-tables/tsconfig.json
  packages/adapter-d1/tsconfig.json
  packages/adapter-dgraph/tsconfig.json
  packages/adapter-drizzle/tsconfig.json
  packages/adapter-dynamodb/tsconfig.json
  packages/adapter-edgedb/tsconfig.json
  packages/adapter-fauna/tsconfig.json
  packages/adapter-firebase/tsconfig.json
  packages/adapter-hasura/tsconfig.json
  packages/adapter-kysely/tsconfig.json
  packages/adapter-mikro-orm/tsconfig.json
  packages/adapter-mongodb/tsconfig.json
  packages/adapter-neo4j/tsconfig.json
  packages/adapter-pg/tsconfig.json
  packages/adapter-pouchdb/tsconfig.json
  packages/adapter-prisma/tsconfig.json
  packages/adapter-sequelize/tsconfig.json
  packages/adapter-supabase/tsconfig.json
  packages/adapter-surrealdb/tsconfig.json
  packages/adapter-typeorm/tsconfig.json
  packages/adapter-unstorage/tsconfig.json
  packages/adapter-upstash-redis/tsconfig.json
  packages/adapter-xata/tsconfig.json
  packages/core/tsconfig.json
  packages/frameworks-express/tsconfig.json
  packages/frameworks-qwik/tsconfig.json
  packages/frameworks-solid-start/tsconfig.json
  packages/frameworks-template/tsconfig.json
  packages/next-auth/tsconfig.json
Labels: adapters, firebase, prisma, dynamodb, fauna, mikro-orm, dgraph, mongodb, neo4j, pouchdb, sequelize, upstash-redis, supabase, typeorm, xata, frameworks, solidjs, drizzle, kysely, next-auth, d1, hasura, surrealdb, pg, azure-tables, edgedb, unstorage

#11737 chore: e2e
  .github/workflows/release.yml
  apps/dev/nextjs/auth.config.ts
  apps/dev/nextjs/auth.ts
  apps/dev/nextjs/package.json
  package.json
  packages/core/package.json
  packages/next-auth/package.json
  packages/next-auth/playwright.config.ts
  packages/next-auth/test/e2e/fixtures/auth.ts
  packages/next-auth/test/e2e/fixtures/webApp.ts
  packages/next-auth/test/e2e/helpers/authTest.ts
  packages/next-auth/test/e2e/poms/keycloakLoginPom.ts
  packages/next-auth/test/e2e/tests/api/session.spec.ts
  packages/next-auth/test/e2e/tests/providers/credentials.spec.ts
  packages/next-auth/test/e2e/tests/providers/keycloak.spec.ts
  packages/utils/playwright.config.ts
  pnpm-lock.yaml
  turbo.json
Labels: next-auth

#11821 fix(provider): Azure AD image fetch try catch
  packages/core/src/providers/azure-ad.ts
Labels: providers, core

#11832 feat(providers): add Vipps provider
  docs/public/img/providers/vipps.svg
  packages/core/src/lib/pages/signin.tsx
  packages/core/src/lib/pages/styles.css
  packages/core/src/providers/azure-ad-b2c.ts
  packages/core/src/providers/vipps.ts
Labels: providers, core

#11805 Update linkedin.ts to support new scopes
  packages/next-auth/src/providers/linkedin.ts
Labels: providers, legacy

#11665 chore: Add `typedoc.config.cjs` for frameworks-template
  packages/frameworks-template/typedoc.config.cjs
Labels: frameworks

#11817 feat(providers): Add Concept2 provider
  .github/ISSUE_TEMPLATE/2_bug_provider.yml
  docs/public/img/providers/concept2.svg
  packages/core/src/providers/concept2.ts
Labels: providers, core

#11836 feat(providers): add Forward Email provider
  docs/pages/data/manifest.json
  docs/pages/getting-started/authentication/email.mdx
  docs/pages/getting-started/index.mdx
  docs/pages/getting-started/providers/forwardemail.mdx
  docs/public/img/providers/forwardemail.svg
  packages/core/src/providers/forwardemail.ts
Labels: providers, core

#11837 feat(providers): add Nextcloud provider
  .github/ISSUE_TEMPLATE/2_bug_provider.yml
  docs/public/img/providers/nextcloud.svg
  packages/core/src/lib/utils/env.ts
  packages/core/src/providers/nextcloud.ts
Labels: providers, core

#11685 fix(core): Improve object merging
  packages/core/src/lib/utils/merge.ts
  packages/core/src/lib/utils/providers.ts
  packages/core/test/merge.test.ts
Labels: core

#11847 fix(providers): support different applications in Descope + Widget docs
  apps/dev/nextjs/.env.local.example
  docs/pages/getting-started/providers/descope.mdx
  packages/core/src/providers/descope.ts
Labels: providers, core

#11662 fix(providers): `signIn` action should allow custom id for the Credentials provider
  packages/frameworks-sveltekit/src/lib/actions.ts
Labels: frameworks, svelte

#11572 fix(ts): update `GetTokenParams` type definition to make `salt` optional
  packages/core/src/jwt.ts
Labels: core

#11850 chore(solid): use `@auth/solid-start@latest` in solid example app
  apps/examples/solid-start/package.json
Labels: examples

#11871 Fixed a typo "propery" -> "property"
  packages/core/src/jwt.ts
Labels: core

#11869 fix(providers): set the issue url to be the correct production one in vipps provider
  packages/core/src/providers/vipps.ts
Labels: providers, core

#11879 fix(examples/nextjs): add apitest issue url to vipps provider
  apps/examples/nextjs/auth.ts
Labels: examples

#11904 fix(test): improve adapter test suite
  docs/pages/guides/creating-a-database-adapter.mdx
  packages/adapter-kysely/src/index.ts
  packages/core/src/lib/actions/callback/index.ts
  packages/utils/adapter.ts
Labels: adapters, core, kysely

#11898 fix(qwik): re-export missing core types from @auth/qwik
  apps/dev/qwik/src/routes/plugin@auth.ts
  apps/examples/qwik/src/routes/plugin@auth.ts
  docs/pages/getting-started/typescript.mdx
  packages/frameworks-qwik/package.json
  packages/frameworks-qwik/src/adapters.ts
  packages/frameworks-qwik/src/index.ts
Labels: frameworks, examples

#11899 chore(docs): add link to azure tables adapter documentation
  packages/adapter-azure-tables/README.md
Labels: adapters, azure-tables

#11894 fix(getToken): make 'secret' optional when raw JWT is requested
  packages/core/src/jwt.ts
Labels: core

#11865 Fix bug when using nodemailer with SES
  packages/core/src/providers/nodemailer.ts
Labels: providers, core

#11918 fix(providers): convert Salesforce to OIDC
  apps/examples/nextjs/auth.ts
  apps/proxy/api/[auth].ts
  packages/core/src/providers/salesforce.ts
Labels: providers, core, examples
