Repository nextauthjs/next-auth, pull requests merged in 2024-05, with the labels that each got.

#10762 Make broadcast channel a singleton to prevent unnecessary `/session` requests
  packages/next-auth/src/react.tsx
Labels: next-auth

#10781 chore: fix GitHub typo
  .github/broken-link-checker/src/index.ts
  README.md
  apps/dev/nextjs/app/client.tsx
  apps/dev/sveltekit/src/routes/+page.svelte
  docs/components/Guides/index.tsx
  docs/components/OAuthProviderInstructions/OAuthProviderSelect.tsx
  docs/components/OAuthProviderInstructions/content/index.tsx
  docs/pages/concepts/oauth.mdx
  docs/pages/getting-started/index.mdx
  docs/pages/global.css
  docs/pages/guides/environment-variables.mdx
  packages/adapter-azure-tables/README.md
  packages/adapter-d1/README.md
  packages/adapter-dgraph/README.md
  packages/adapter-drizzle/README.md
  packages/adapter-dynamodb/README.md
  packages/adapter-edgedb/README.md
  packages/adapter-fauna/README.md
  packages/adapter-firebase/README.md
  packages/adapter-hasura/README.md
  packages/adapter-kysely/README.md
  packages/adapter-mikro-orm/README.md
  packages/adapter-mongodb/README.md
  packages/adapter-neo4j/README.md
  packages/adapter-pg/README.md
  packages/adapter-pouchdb/README.md
  packages/adapter-prisma/README.md
  packages/adapter-sequelize/README.md
  packages/adapter-supabase/README.md
  packages/adapter-surrealdb/README.md
  packages/adapter-typeorm/README.md
  packages/adapter-unstorage/README.md
  packages/adapter-upstash-redis/README.md
  packages/adapter-xata/README.md
  packages/core/README.md
  packages/frameworks-express/README.md
  packages/frameworks-sveltekit/README.md
  packages/frameworks-template/README.md
  packages/next-auth/README.md
Labels: adapters, firebase, prisma, dynamodb, fauna, mikro-orm, dgraph, mongodb, neo4j, pouchdb, sequelize, upstash-redis, supabase, typeorm, xata, frameworks, svelte, drizzle, kysely, next-auth, d1, hasura, surrealdb, pg, azure-tables, edgedb, unstorage

#10782 chore: fix casings
  apps/examples/express/src/config/auth.config.ts
  apps/examples/nextjs-pages/auth.ts
  apps/examples/nextjs/auth.ts
  apps/examples/sveltekit/src/auth.ts
  apps/playgrounds/nuxt/lib/auth/client.ts
  apps/proxy/api/[auth].ts
  docs/components/HeroCode/index.tsx
  docs/pages/getting-started/adapters/neo4j.mdx
  docs/pages/getting-started/deployment.mdx
  docs/pages/getting-started/providers/gitlab.mdx
  docs/pages/getting-started/providers/tiktok.mdx
  docs/pages/getting-started/providers/wordpress.mdx
  docs/pages/getting-started/session-management/custom-pages.mdx
  docs/pages/getting-started/typescript.mdx
  docs/pages/guides/pages/signin.mdx
  docs/utils/frameworks.ts
  packages/adapter-dynamodb/src/index.ts
  packages/adapter-mongodb/src/index.ts
  packages/adapter-neo4j/src/index.ts
  packages/core/src/providers/bungie.ts
  packages/core/src/providers/linkedin.ts
  packages/core/src/providers/netsuite.ts
  packages/core/src/providers/tiktok.ts
  packages/core/src/providers/zitadel.ts
  packages/core/src/types.ts
  packages/frameworks-sveltekit/src/lib/client.ts
Labels: providers, adapters, core, dynamodb, mongodb, neo4j, frameworks, examples, svelte, playgrounds

#10783 chore(providers): cleanup NetSuite
  packages/core/src/providers/netsuite.ts
Labels: providers, core

#10748 chore(sveltekit): update sveltekit eslint tooling
  package.json
  packages/frameworks-sveltekit/.eslintrc.cjs
  packages/frameworks-sveltekit/package.json
  pnpm-lock.yaml
Labels: frameworks, svelte

#10784 doc: tweak auth/sveltekit lazy initialization doc
  packages/frameworks-sveltekit/src/lib/index.ts
Labels: frameworks, svelte

#10761 docs: add example authenticating against 3rd-party APIs
  apps/examples/nextjs/.env.local.example
  apps/examples/nextjs/app/[...proxy]/route.tsx
  apps/examples/nextjs/auth.ts
  apps/examples/nextjs/components/client-example.tsx
  docs/pages/guides/integrating-third-party-backends.mdx
Labels: examples

#10803 chore(adapter-pg): fix broken link
  packages/adapter-pg/src/index.ts
Labels: adapters, pg

#10832 chore(types): separately export `AdapterAccountType`
  packages/core/src/adapters.ts
Labels: adapters, core

#10750 fix(drizzle): update schema type & fix issue with default id
  docs/pages/getting-started/adapters/drizzle.mdx
  packages/adapter-drizzle/package.json
  packages/adapter-drizzle/src/index.ts
  packages/adapter-drizzle/src/lib/mysql.ts
  packages/adapter-drizzle/src/lib/pg.ts
  packages/adapter-drizzle/src/lib/sqlite.ts
  packages/adapter-drizzle/test/mysql-multi-project-schema/schema.ts
  packages/adapter-drizzle/test/mysql/index.test.ts
  packages/adapter-drizzle/test/mysql/schema.ts
  packages/adapter-drizzle/test/pg-multi-project-schema/schema.ts
  packages/adapter-drizzle/test/pg/index.test.ts
  packages/adapter-drizzle/test/pg/schema.ts
  packages/adapter-drizzle/test/sqlite-multi-project-schema/index.test.ts
  packages/adapter-drizzle/test/sqlite-multi-project-schema/schema.ts
  packages/adapter-drizzle/test/sqlite/index.test.ts
  packages/adapter-drizzle/test/sqlite/schema.ts
  pnpm-lock.yaml
Labels: adapters, drizzle

#10854 chore(adapters): cleanup extraneous documentation in adapter and fix testing and release GHA
  .github/workflows/release.yml
  apps/dev/express/src/app.ts
  apps/examples/nextjs/Dockerfile
  apps/examples/nextjs/app/[...proxy]/route.tsx
  apps/examples/nextjs/docker-compose.yml
  apps/examples/nextjs/test-docker.sh
  packages/adapter-azure-tables/src/index.ts
  packages/adapter-d1/src/index.ts
  packages/adapter-drizzle/src/index.ts
  packages/adapter-drizzle/test/mysql/schema.ts
  packages/adapter-drizzle/test/mysql/test.sh
  packages/adapter-drizzle/test/pg/schema.ts
  packages/adapter-dynamodb/src/index.ts
  packages/adapter-edgedb/src/index.ts
  packages/adapter-fauna/src/index.ts
  packages/adapter-firebase/src/index.ts
  packages/adapter-hasura/src/index.ts
  packages/adapter-kysely/src/index.ts
  packages/adapter-mikro-orm/src/index.ts
  packages/adapter-mongodb/src/index.ts
  packages/adapter-neo4j/src/index.ts
  packages/adapter-pg/src/index.ts
  packages/adapter-pouchdb/src/index.ts
  packages/adapter-sequelize/src/index.ts
  packages/adapter-supabase/src/index.ts
  packages/adapter-surrealdb/src/index.ts
  packages/adapter-typeorm/src/index.ts
  packages/adapter-unstorage/src/index.ts
  packages/adapter-upstash-redis/src/index.ts
  packages/adapter-xata/src/index.ts
  packages/core/test/e2e/basic-auth.spec.ts
Labels: adapters, firebase, dynamodb, fauna, mikro-orm, mongodb, neo4j, pouchdb, sequelize, upstash-redis, supabase, typeorm, xata, examples, drizzle, kysely, d1, hasura, surrealdb, pg, azure-tables, edgedb, unstorage

#10833 chore(typeorm): cleanup adapter testing files
  packages/adapter-drizzle/test/mysql-multi-project-schema/test.sh
  packages/adapter-drizzle/test/pg-multi-project-schema/test.sh
  packages/adapter-drizzle/test/pg/test.sh
  packages/adapter-drizzle/test/sqlite/test.sh
  packages/adapter-typeorm/package.json
  packages/adapter-typeorm/test/init.sh
  packages/adapter-typeorm/test/mysql/test.sh
  packages/adapter-typeorm/test/postgresql/test.sh
  packages/adapter-typeorm/test/sqlite/test.sh
  packages/adapter-typeorm/test/test.sh
Labels: adapters, typeorm, drizzle

#10862 chore(prisma): cleanup adapter jsdoc
  docs/pages/getting-started/adapters/prisma.mdx
  packages/adapter-prisma/src/index.ts
Labels: adapters, prisma

#10813 chore(adapters): cleanup `sqlite3` + `better-sqlite3` for `libsql`
  apps/dev/nextjs/package.json
  packages/adapter-d1/package.json
  packages/adapter-drizzle/package.json
  packages/adapter-drizzle/test/sqlite-multi-project-schema/schema.ts
  packages/adapter-drizzle/test/sqlite/schema.ts
  packages/adapter-kysely/package.json
  packages/adapter-kysely/test/index.test.ts
  packages/adapter-typeorm/package.json
  packages/adapter-typeorm/test/sqlite/index.custom.test.ts
  packages/adapter-typeorm/tsconfig.json
  packages/utils/vitest.config.ts
  pnpm-lock.yaml
Labels: adapters, typeorm, drizzle, kysely, d1

#10861 fix(core): update WebAuthn `authenticator` schemas and types
  docs/pages/getting-started/adapters/prisma.mdx
  docs/pages/getting-started/authentication/webauthn.mdx
  packages/adapter-prisma/prisma/schema.prisma
  packages/adapter-prisma/src/index.ts
  packages/adapter-unstorage/src/index.ts
  packages/adapter-unstorage/test/filesystem.test.ts
  packages/adapter-unstorage/test/memory.test.ts
  packages/adapter-unstorage/test/redis-json.test.ts
  packages/adapter-unstorage/test/redis.test.ts
  packages/adapter-unstorage/test/test.sh
  packages/core/src/lib/utils/webauthn-utils.ts
  packages/core/src/types.ts
  packages/utils/adapter.ts
  pnpm-lock.yaml
Labels: adapters, core, prisma, unstorage

#10880 chore: version mismatch in sveltekit dev app
  apps/dev/sveltekit/package.json
  packages/frameworks-sveltekit/package.json
  pnpm-lock.yaml
Labels: frameworks, svelte

#9924 feat(sveltekit): webauthn provider support
  apps/dev/sveltekit/.gitignore
  apps/dev/sveltekit/package.json
  apps/dev/sveltekit/src/auth.ts
  apps/dev/sveltekit/src/routes/signin/+page.server.ts
  apps/dev/sveltekit/src/routes/signout/+page.server.ts
  apps/dev/sveltekit/vite.config.js
  docs/pages/getting-started/providers/passkey.mdx
  packages/core/src/types.ts
  packages/frameworks-sveltekit/package.json
  packages/frameworks-sveltekit/src/lib/client.ts
  packages/frameworks-sveltekit/src/lib/types.ts
  packages/frameworks-sveltekit/src/lib/webauthn.ts
  packages/next-auth/src/webauthn.ts
  pnpm-lock.yaml
Labels: core, frameworks, svelte, next-auth

#9963 chore(next-example): add webauthn support w/ unstorage adapter
  .github/workflows/release.yml
  apps/examples/nextjs/app/api-example/page.tsx
  apps/examples/nextjs/app/page.tsx
  apps/examples/nextjs/auth.ts
  apps/examples/nextjs/components/client-example.tsx
  apps/examples/nextjs/components/session-data.tsx
  apps/examples/nextjs/components/user-button.tsx
  apps/examples/nextjs/package.json
  apps/examples/nextjs/pnpm-lock.yaml
Labels: examples

#10888 chore(example): update README example pnpm cmds
  apps/examples/nextjs/README.md
Labels: examples

#10873 chore(supabase): fix local testing and reenable in root test script
  package.json
  packages/adapter-supabase/.gitignore
  packages/adapter-supabase/package.json
  packages/adapter-supabase/supabase/config.toml
  packages/adapter-supabase/test/index.test.ts
  packages/adapter-supabase/test/test.sh
  pnpm-lock.yaml
Labels: adapters, supabase

#10872 fix(core): centralize `isDate` util fn and use in all adapters
  packages/adapter-d1/src/index.ts
  packages/adapter-d1/test/index.test.ts
  packages/adapter-dgraph/src/index.ts
  packages/adapter-dgraph/src/lib/utils.ts
  packages/adapter-dynamodb/src/index.ts
  packages/adapter-hasura/src/index.ts
  packages/adapter-kysely/src/index.ts
  packages/adapter-neo4j/src/index.ts
  packages/adapter-supabase/src/index.ts
  packages/adapter-unstorage/src/index.ts
  packages/adapter-upstash-redis/src/index.ts
  packages/core/package.json
  packages/core/src/adapters.ts
Labels: adapters, core, dynamodb, dgraph, neo4j, upstash-redis, supabase, kysely, d1, hasura, unstorage

#10904 chore(d1): refactor to cleanup adapter src
  packages/adapter-d1/src/index.ts
  packages/adapter-d1/src/migrations.ts
  packages/adapter-d1/src/queries.ts
  packages/adapter-d1/test/index.test.ts
Labels: adapters, d1

#10901 chore(examples): use correct http code in express config
  apps/examples/express/src/middleware/auth.middleware.ts
Labels: examples

#10914 chore: update Powered By Vercel logo URL
  apps/examples/nextjs-pages/README.md
  apps/examples/nextjs/README.md
  apps/examples/solid-start/README.md
  apps/playgrounds/gatsby/README.md
  docs/public/img/etc/powered-by-vercel.svg
Labels: examples, playgrounds

#10913 chore(example): fix SolidStart logo link
  apps/examples/solid-start/README.md
Labels: examples

#10893 chore(docs): fix bold style to AuthAction types
  packages/core/src/types.ts
Labels: core

#10882 fix(next-auth): allow react@19 to peer deps
  packages/next-auth/package.json
Labels: next-auth

#10939 chore: rm `apps/playgrounds/*` dirs and link to new repo
  apps/playgrounds/README.md
  apps/playgrounds/gatsby/.env.example
  apps/playgrounds/gatsby/.gitignore
  apps/playgrounds/gatsby/README.md
  apps/playgrounds/gatsby/api/auth/[nextauth].js
  apps/playgrounds/gatsby/api/auth/[nextauth]/[provider].js
  apps/playgrounds/gatsby/gatsby-browser.js
  apps/playgrounds/gatsby/nextauth.config.js
  apps/playgrounds/gatsby/package.json
  apps/playgrounds/gatsby/src/api/[...nextauth].js
  apps/playgrounds/gatsby/src/components/layout.js
  apps/playgrounds/gatsby/src/components/layout.module.css
  apps/playgrounds/gatsby/src/pages/index.js
  apps/playgrounds/gatsby/static/favicon.ico
  apps/playgrounds/nuxt/.env.example
  apps/playgrounds/nuxt/.eslintrc.cjs
  apps/playgrounds/nuxt/.gitignore
  apps/playgrounds/nuxt/README.md
  apps/playgrounds/nuxt/app.vue
  apps/playgrounds/nuxt/components/Header.vue
  apps/playgrounds/nuxt/composables/useSession.ts
  apps/playgrounds/nuxt/lib/auth/client.ts
  apps/playgrounds/nuxt/lib/auth/server.ts
  apps/playgrounds/nuxt/lib/auth/types.ts
  apps/playgrounds/nuxt/nuxt.config.ts
  apps/playgrounds/nuxt/package.json
  apps/playgrounds/nuxt/pages/index.vue
  apps/playgrounds/nuxt/pages/protected.vue
  apps/playgrounds/nuxt/plugins/auth.ts
  apps/playgrounds/nuxt/server/api/auth/[...].ts
  apps/playgrounds/nuxt/tsconfig.json
Labels: playgrounds

#10961 chore(adapter): fix broken link
  packages/adapter-pg/README.md
  packages/adapter-typeorm/README.md
Labels: adapters, typeorm, pg

#10960 chore(adapter-drizzle): fix broken link
  packages/adapter-drizzle/README.md
Labels: adapters, drizzle

#10953 fix(sveltekit): remove trailing slash in webAuthn `baseUrl`
  packages/frameworks-sveltekit/src/lib/webauthn.ts
Labels: frameworks, svelte

#9792 chore(docs): update `redirectTo` param jsdoc desc in `next-auth`
  packages/next-auth/src/index.tsx
Labels: next-auth

#10990 chore(sveltekit): fix package url
  apps/examples/sveltekit/src/components/footer.svelte
Labels: examples

#11003 fix(next-auth): allow next@15 + react@19
  apps/dev/nextjs/package.json
  packages/next-auth/package.json
  pnpm-lock.yaml
Labels: next-auth

#11040 chore(examples): migrate to docker-compose v2 and cleanup Dockerfile example
  apps/examples/nextjs/Dockerfile
  apps/examples/nextjs/docker-compose.yml
  apps/examples/nextjs/test-docker.sh
  docs/pages/getting-started/deployment.mdx
  packages/adapter-upstash-redis/docker-compose.yml
Labels: adapters, upstash-redis, examples
