Repository nextauthjs/next-auth, pull requests merged in 2024-07, with the labels that each got.

#11309 chore(examples): replace deprecated getSession with auth
  apps/examples/sveltekit/src/routes/+layout.server.ts
Labels: examples

#11316 Add default exports to adapter-prisma for better module support
  packages/adapter-prisma/package.json
Labels: adapters, prisma

#11310 docs(providers): update Foursquare API Docs URL
  packages/core/src/providers/foursquare.ts
Labels: providers, core

#11270 WorkOS: `connection` is not a required field
  packages/core/src/providers/workos.ts
Labels: providers, core

#11260 fix: grammatical error
  packages/core/src/errors.ts
Labels: core

#11177 chore(sveltekit): add directory to repository info
  packages/frameworks-sveltekit/package.json
Labels: frameworks, svelte

#11239 fix: apple provider checks should be `['state', 'nonce']`
  packages/core/src/providers/apple.ts
Labels: providers, core

#11213 fix: correctly set defaults for route handlers
  packages/next-auth/src/lib/index.ts
Labels: next-auth

#11096 refactor(express): expose ExpressAuthConfig
  packages/frameworks-express/src/index.ts
Labels: frameworks

#11111 Eveonline provider add Checks for State
  packages/core/src/providers/eveonline.ts
Labels: providers, core

#11323 docs: Fix dead link in v4 docs #11263
  docs/versioned_docs/version-v3/adapters/fauna.md
  docs/versioned_docs/version-v3/adapters/firebase.md
  docs/versioned_docs/version-v3/adapters/pouchdb.md
  packages/adapter-dgraph/README.md
  packages/adapter-fauna/README.md
  packages/adapter-firebase/README.md
  packages/adapter-mikro-orm/README.md
  packages/adapter-neo4j/README.md
  packages/adapter-pouchdb/README.md
  packages/adapter-prisma/README.md
  packages/adapter-supabase/README.md
  packages/adapter-typeorm-legacy/README.md
  packages/next-auth/src/core/types.ts
Labels: TypeScript, adapters, firebase, prisma, fauna, mikro-orm, dgraph, neo4j, pouchdb, supabase, typeorm-legacy, legacy

#11253 feat: add Qwik example app
  .github/sync.yml
  apps/examples/qwik/.env.example
  apps/examples/qwik/.eslintignore
  apps/examples/qwik/.eslintrc.cjs
  apps/examples/qwik/.gitignore
  apps/examples/qwik/.prettierignore
  apps/examples/qwik/.prettierrc.js
  apps/examples/qwik/.vscode/launch.json
  apps/examples/qwik/.vscode/qwik-city.code-snippets
  apps/examples/qwik/.vscode/qwik.code-snippets
  apps/examples/qwik/README.md
  apps/examples/qwik/package.json
  apps/examples/qwik/postcss.config.cjs
  apps/examples/qwik/public/favicon.svg
  apps/examples/qwik/public/manifest.json
  apps/examples/qwik/public/robots.txt
  apps/examples/qwik/qwik.env.d.ts
  apps/examples/qwik/src/components/avatar/avatar.tsx
  apps/examples/qwik/src/components/header/header.tsx
  apps/examples/qwik/src/components/icones/qwik.tsx
  apps/examples/qwik/src/components/router-head/router-head.tsx
  apps/examples/qwik/src/entry.dev.tsx
  apps/examples/qwik/src/entry.preview.tsx
  apps/examples/qwik/src/entry.ssr.tsx
  apps/examples/qwik/src/global.css
  apps/examples/qwik/src/root.tsx
  apps/examples/qwik/src/routes/index.tsx
  apps/examples/qwik/src/routes/layout.tsx
  apps/examples/qwik/src/routes/plugin@auth.ts
  apps/examples/qwik/src/routes/protected/index.tsx
  apps/examples/qwik/src/routes/service-worker.ts
  apps/examples/qwik/tailwind.config.js
  apps/examples/qwik/tsconfig.json
  apps/examples/qwik/vite.config.ts
Labels: examples

#11364 feat(next): awaitable lazy init
  packages/next-auth/src/index.ts
  packages/next-auth/src/lib/index.ts
Labels: next-auth

#11393 fix(mongodb-adapter): prevent MongoDB client promise being cached
  docs/pages/getting-started/adapters/mongodb.mdx
  packages/adapter-mongodb/src/index.ts
  packages/adapter-mongodb/test/custom.test.ts
  packages/adapter-mongodb/test/index.test.ts
  packages/adapter-mongodb/test/serverless.test.ts
Labels: adapters, mongodb

#11464 chore(docs): change MissingCSRF reference path
  packages/core/src/errors.ts
Labels: core

#11469 fix(core): revert #11050
  packages/core/package.json
  packages/core/src/errors.ts
  packages/core/src/lib/actions/callback/index.ts
  packages/core/test/actions/callback.test.ts
Labels: core

#11435 fix: add `vercel-edge` adapter to Qwik example app
  apps/examples/qwik/.gitignore
  apps/examples/qwik/adapters/vercel-edge/vite.config.ts
  apps/examples/qwik/package.json
  apps/examples/qwik/pnpm-lock.yaml
  apps/examples/qwik/src/entry.vercel-edge.tsx
  apps/examples/qwik/vercel.json
Labels: examples

#11409 fix(drizzle): update schemas & refactor
  docs/pages/getting-started/adapters/drizzle.mdx
  packages/adapter-drizzle/package.json
  packages/adapter-drizzle/src/lib/mysql.ts
  packages/adapter-drizzle/src/lib/pg.ts
  packages/adapter-drizzle/src/lib/sqlite.ts
  packages/adapter-drizzle/src/lib/utils.ts
  packages/adapter-drizzle/test/fixtures.ts
  packages/adapter-drizzle/test/mysql-multi-project-schema/drizzle.config.ts
  packages/adapter-drizzle/test/mysql-multi-project-schema/schema.ts
  packages/adapter-drizzle/test/mysql-multi-project-schema/test.sh
  packages/adapter-drizzle/test/mysql/drizzle.config.ts
  packages/adapter-drizzle/test/mysql/test.sh
  packages/adapter-drizzle/test/pg-multi-project-schema/drizzle.config.ts
  packages/adapter-drizzle/test/pg-multi-project-schema/schema.ts
  packages/adapter-drizzle/test/pg-multi-project-schema/test.sh
  packages/adapter-drizzle/test/pg/drizzle.config.ts
  packages/adapter-drizzle/test/pg/migrator.ts
  packages/adapter-drizzle/test/pg/test.sh
  packages/adapter-drizzle/test/sqlite-multi-project-schema/drizzle.config.ts
  packages/adapter-drizzle/test/sqlite-multi-project-schema/schema.ts
  packages/adapter-drizzle/test/sqlite-multi-project-schema/test.sh
  packages/adapter-drizzle/test/sqlite/drizzle.config.ts
  packages/adapter-drizzle/test/sqlite/test.sh
  packages/utils/adapter.ts
  pnpm-lock.yaml
Labels: adapters, drizzle
