Repository nextauthjs/next-auth, pull requests merged in 2025-01, with the labels that each got.

#12295 feat: introduce @auth/neon-adapter
  .github/pr-labeler.yml
  docs/pages/data/manifest.json
  docs/pages/getting-started/adapters/neon.mdx
  docs/public/img/adapters/neon.svg
  packages/adapter-neon/README.md
  packages/adapter-neon/package.json
  packages/adapter-neon/schema.sql
  packages/adapter-neon/src/index.ts
  packages/adapter-neon/test/index.test.ts
  packages/adapter-neon/test/test.sh
  packages/adapter-neon/tsconfig.json
  packages/adapter-neon/typedoc.config.cjs
  pnpm-lock.yaml
Labels: adapters

#12472 fix(ts): make User interface overridable using module augmentation
  packages/core/src/types.ts
Labels: core

#12439 test(express): added `await` to some tests.
  packages/frameworks-express/test/http-api-adapters/request.test.ts
Labels: frameworks, express

#12440 chore(dev): added `no-floating-promises` rule and `projectService: true` to eslint config
  eslint.config.mjs
  packages/adapter-typeorm/src/utils.ts
Labels: adapters, typeorm

#12342 feat: support express v5
  packages/frameworks-express/package.json
Labels: frameworks

#12438 fix(core): handle an error inside `parseProviders()` when `providerId` not found in config
  packages/core/src/lib/utils/providers.ts
Labels: core

#12198 feat(provider): add Bitbucket provider
  .github/ISSUE_TEMPLATE/2_bug_provider.yml
  docs/pages/data/manifest.json
  docs/pages/getting-started/providers/bitbucket.mdx
  docs/public/img/providers/bitbucket.svg
  packages/core/src/providers/bitbucket.ts
Labels: providers, core

#12529 feat(provider): add Figma provider
  .github/ISSUE_TEMPLATE/2_bug_provider.yml
  docs/pages/data/manifest.json
  docs/pages/getting-started/providers/figma.mdx
  docs/public/img/providers/figma.svg
  packages/core/src/providers/figma.ts
Labels: providers, core
