Repository nextauthjs/next-auth, pull requests merged in 2025-05, with the labels that each got.

#12755 fix(prisma): import `PrismaClientKnownRequestError` for edge runtime compatibility
  packages/adapter-prisma/src/index.ts
Labels: adapters, prisma

#12946 fix(core): AuthError.type should not be internal
  packages/core/src/errors.ts
Labels: core

#12723 fix(qwik): don't build server deps on client
  packages/frameworks-qwik/src/index.ts
Labels: frameworks

#12937 fix: always check typeof BroadcastChannel
  packages/next-auth/src/react.tsx
Labels: next-auth

#12964 fix(providers): enable OIDC capabilities for Keycloak
  packages/core/src/providers/keycloak.ts
Labels: providers, core

#12973 Fix typo: succesful -> successful
  docs/pages/guides/refresh-token-rotation.mdx
  packages/core/src/types.ts
Labels: core

#12947 Fix undefined providerId
  packages/core/src/lib/utils/web.ts
  packages/core/test/url-parsing.test.ts
Labels: core

#12987 docs: fix typo profie -> profile
  docs/pages/getting-started/providers/trakt.mdx
  packages/core/src/providers/trakt.ts
Labels: providers, core
