Repository nextauthjs/next-auth, pull requests merged in 2025-02, with the labels that each got.

#12091 fix: update twitter icon
  docs/public/img/providers/twitter.svg
Labels: stale

#12537 fix(pages): recouple button theme to colorScheme and fix appearance for some logos in dark mode
  packages/core/src/lib/pages/signin.tsx
  packages/core/src/lib/pages/styles.css
Labels: core

#12503 rename `adapter.ts` -> `adapters.ts` in `@auth/sveltekit`
  packages/frameworks-sveltekit/src/lib/adapters.ts
Labels: frameworks, svelte

#12611 fix: More descriptive error in case that discovery endpoint returns an invalid issuer
  packages/core/src/lib/actions/signin/authorization-url.ts
Labels: core

#12608 Downgrade requested OAuth scope of TikTok provider
  packages/core/src/providers/tiktok.ts
Labels: providers, core

#12207 Export NextAuthRequest type from next-auth root
  packages/next-auth/src/index.ts
Labels: stale, next-auth

#12628 docs: exclude inherits
  .gitignore
  docs/package.json
  docs/typedoc-nextauth.js
  docs/typedoc.config.cjs
  packages/adapter-kysely/src/index.ts
  packages/adapter-mongodb/src/index.ts
  packages/adapter-prisma/package.json
  packages/adapter-prisma/typedoc.config.cjs
  packages/adapter-prisma/typedoc.config.js
  packages/core/src/errors.ts
  packages/core/src/providers/frontegg.ts
  packages/core/src/providers/logto.ts
  pnpm-lock.yaml
Labels: providers, adapters, core, prisma, mongodb, kysely

#12645 Revert "docs: exclude inherits, update deps (#12628)"
  .gitignore
  docs/package.json
  docs/typedoc-nextauth.cjs
  docs/typedoc.config.cjs
  packages/adapter-kysely/src/index.ts
  packages/adapter-mongodb/src/index.ts
  packages/adapter-prisma/package.json
  packages/adapter-prisma/typedoc.config.cjs
  packages/adapter-prisma/typedoc.config.js
  packages/core/src/errors.ts
  packages/core/src/providers/frontegg.ts
  packages/core/src/providers/logto.ts
  pnpm-lock.yaml
Labels: providers, adapters, core, prisma, mongodb, kysely

#12627 feat(core): add default cache control headers for GET endpoints
  packages/next-auth/src/core/index.ts
  packages/next-auth/src/core/routes/session.ts
Labels: legacy

#11667 feat(core): add default cache control headers for GET endpoints
  docs/pages/getting-started/session-management/get-session.mdx
  packages/core/src/lib/actions/session.ts
  packages/core/src/lib/pages/index.ts
  packages/core/test/actions/csrf.test.ts
  packages/core/test/actions/session.test.ts
  packages/core/test/utils.ts
Labels: core

#12678 fix: fix GitHub and TypeScript typo
  README.md
  apps/dev/qwik/README.md
  apps/examples/qwik/README.md
  packages/frameworks-express/README.md
  packages/frameworks-qwik/README.md
  packages/frameworks-solid-start/README.MD
  packages/frameworks-sveltekit/README.md
  packages/next-auth/README.md
Labels: frameworks, solidjs, examples, svelte, next-auth, express
