Repository nextauthjs/next-auth, pull requests merged in 2025-04, with the labels that each got.

#12876 Improve error validation for Microsoft EntraID provider errors before decoding token
  packages/core/src/lib/actions/callback/oauth/callback.ts
Labels: core

#12884 providers: Add huggingface
  .github/ISSUE_TEMPLATE/2_bug_provider.yml
  docs/pages/data/manifest.json
  docs/public/img/providers/huggingface.svg
  packages/core/src/providers/huggingface.ts
Labels: providers, core

#12901 fix(next-auth): AppRouteHandlerFnContext type
  apps/dev/nextjs/next-env.d.ts
  apps/dev/nextjs/package.json
  packages/next-auth/package.json
  packages/next-auth/src/lib/types.ts
  pnpm-lock.yaml
Labels: next-auth

#12846 Fix signin clientside sveltekit by adding /auth/ to the url
  packages/frameworks-sveltekit/src/lib/client.ts
Labels: frameworks, svelte
